[2019-03-16 14:53] seyfer commented on #202
@HowardWolosky thank you for the descriptive answer.
Personally, I like the simple option the most.

I just resolved conflicts in the PR.
Unfortunately, I do not have much experience with Azure builds.
If this repo has `Need help` tag for PRs and Issues - it is a good case to use it. :)

[2019-03-16 20:49] grochocki commented on #319
Thanks! This is key if we want to automate copyright date:

[2019-03-17 00:24] mdrejhon commented on #299
I see, that makes a lot of sense!

Thanks for working on this.

P.S.

[2019-03-17 16:07] ivadham opened #322 "Support more numeral systems"
**Problem Statement**
Calculator only supports English (Western) numeral. If I change my keyboard layout and **enter** (or **paste**) Persian numeral, it simply does nothing!

**Proposal**
Support more numeral systems as input, but **show** them as English (Western) numeral.
Examples: [Hindu–Arabic numeral system](https://en.wikipedia.org/wiki/Hindu–Arabic_numeral_system#Glyph_comparison)
`0 = ۰`

[2019-03-17 18:47] rudyhuyn commented on #322
What if you change the language of the OS (in windows settings> Languages)?

[2019-03-17 19:01] ivadham commented on #322
@rudyhuyn My Windows display language is English (United States), and I need to download Local Experience Packs to change it, but that's not the point.
As you said, Calculator should be able to get numeral input, regardless of keyboard layout.

[2019-03-17 21:46] janisozaur opened #324 "Consider reworking how PCHs are used"
As discussed in https://github.com/Microsoft/calculator/pull/208#discussion_r263955391:

PCHs in current form are problematic to use due to varying support of build systems. While the most common setup I imagine would be with the MSVS project files included in the repository, #211 adds CMake support and when preparing #212 I manually invoked the compiler, which causes inclusion of many unnecessary

[2019-03-17 21:47] janisozaur commented on #324
Ping @fwcd @rudyhuyn

[2019-03-17 23:27] miloush commented on #322
I don't think this has much to do with keyboard layouts. You just need to go through the chars in the pasted text and call something like char.GetNumericValue on them, hoping the number is in a decimal system.

[2019-03-17 23:30] atticus112 opened #325 "Please add light-years as a unit of measurement"
**Problem Statement**
please add light years as a unit of measurement

**Evidence or User Insights**
light-years are important

**Proposal**
just please add them>

**Goals**
users should be able to convert other units of distance to and from light-years

**Non-Goals**

**Low-Fidelity Concept**
one light-year is 5868696000000 miles

[2019-03-17 23:33] HowardWolosky commented on #325
Thanks for the feature suggestion! I'd love to better understand why you're asking for this feature.  We have a [process in place](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md) for feature suggestions that impact the end-user experience, which includes a template that helps frame the feature pitch.  Please update using that template (which is already part of the is

[2019-03-17 23:34] atticus112 commented on #325
done

[2019-03-18 00:03] rudyhuyn commented on #322
The application uses the Region setting of your PC to selected the current digits to use (0-9), (۰ -  ۹), ..., it will then add shortcuts to buttons and use them to parse the Clipboard.

We can easily detect the keyboard layout used and fix the clipboard with a `string.replace`, but the real issue is with how the application manages the keyboard, the application doesn't observe keyboard events, in

[2019-03-18 00:43] miloush commented on #322
I was covering the paste scenario, but it can be the same for the direct input - when the received character does not map to any button, you can try to get the decimal digit and try again. That way you don't need to associate more than 1 shortcut and hence no refactoring would be necessary.

[2019-03-18 03:26] fadingflower opened #326 "No calculate history is logged while in "Programmer" Mode"
Repros

1. Switch the calculator mode to "Programmer"
2. calculate something and press "="
3. click "History"
4. the calculate history  in step 2 is no logged in the history"
5. repeat step 2 to 4 in "Standard" and "Scientific" mode, the calculate history is logged.

[2019-03-18 12:24] ivadham commented on #322
OK, I did what @rudyhuyn asked me to do:
- Windows display language: فارسی (Persian)
- Regional format: Persian (Iran)

Now I can **paste** Persian numeral, but STILL can't **enter/type** Persian numeral.
I copy-pasted `۲۲۲333۴۴۴` and it worked!
![xample](https://user-images.githubusercontent.com/11696957/54529252-9aa4f480-4994-11e9-9ff8-c2cc1fd505de.jpg)

FOR COMPARISON, I DID THE SAME TEST WITH

[2019-03-18 15:49] rudyhuyn commented on #326
Nice found @fadingflower! I was able to repro your issue.

The History feature should not be visible in the Programmer mode (because not supported, probably because of the different radixes).

As you can see on this screenshot, the History tab is hidden with this mode.
![image](https://user-images.githubusercontent.com/1226538/54543092-42e99780-495a-11e9-87ac-75e11d482934.png)

But you are right,

[2019-03-18 16:49] Tubbles opened #328 "alt key does not work at start up"
**Describe the bug**
When I start calc the alt-key and all keyboard shortcut combinations based off of it wont work.

**Steps To Reproduce**
1. Start calc, I do via Win+R and type calc
2a. Press alt (view accessible shortcuts)
2b. Press alt+1 (switch to standard mode)
2c. Press alt+2 (switch to scientific mode)
2d. Press alt+3 (switch to programmer mode)

**Expected behavior**
Functionality accord

[2019-03-18 16:50] grochocki commented on #326
Thanks for the report! Should definitley hide the button in smaller layouts. For me, it only repros if you launch into the small layout. If I resize the window to be larger and then shrink it back down, we do seem to hide it.

[2019-03-18 16:55] grochocki commented on #328
Thanks for the report! I am not able to reproduce this issue, though. I can switch between modes with alt+1/2/3/4 access keys. I am on a newer OS/app version combo:

OS Build: 177763.379 (version 1809)
Application Version: 10.1902.20.0

[2019-03-18 17:10] rudyhuyn commented on #328
Same, I was not able to reproduce this issue. Probably something related to Windows 10 1703 or the old version of the app.

![DA24AE01-0C23-47C7-8867-878592389081](https://user-images.githubusercontent.com/1226538/54548860-0f146f00-4966-11e9-86c6-bf985905ceed.GIF)

[2019-03-18 17:22] rudyhuyn commented on #326
It also happens when you switch from a mode to another (in small mode).

[2019-03-18 18:22] #178 closed

[2019-03-18 21:09] #240 closed

[2019-03-18 21:14] HowardWolosky commented on #252
#256 has some interesting conversation on this topic as well (as the PR for the Issue).  I've locked #256 fo the time being so that we can have a single point of discussion until an agreed-upon end-state is found.

[2019-03-18 21:22] #326 closed

[2019-03-18 21:32] HowardWolosky commented on #319
As @janisozaur pointed out in the PR, we _don't_ want this done automatically at compilation time, as that removes the ability to have reproducible builds.  That being said, making a change to remove the _date_ from the localized resources is pure goodness, as that removes the need to roundtrip a last-minute date change through Loc before the app can be published.

[2019-03-18 21:41] HowardWolosky commented on #226
@grochocki  -- Can triage weigh in on this app behavior change (especially given that there is currently a PR linked to this untriaged Issue).  Thanks.

[2019-03-18 22:30] alexsuslin opened #333 "There is no Belarus Currency BYN"
It is expected to currency exchange from and to BYN (Belarus)

**Steps To Reproduce**
1. Go to calc
2. Click on hamburger menu -> Currency
3. Try to choose Belarus
4. I can see Belize and Bermuda, but no Belarus

**Expected behavior**
I would like to have an ability to see my country (Belarus) in from and to options

**Device and Application Information (please complete the following information):

[2019-03-18 22:48] rudyhuyn commented on #319
And there is a little more, you can set `BUILD_YEAR` via command line when you run `msbuild.exe` (this is why the code checks if BUILD_YEAR is set before setting the value), so you can automate the year in your build script!

[2019-03-19 13:34] DennisGaida opened #335 "Remove arbitrary unit conversions"
I don't know if this is a bug or a discussion? Please reclassify if I misplaced this as a bug.

**Describe the bug**
Microsoft officially stopped including easter eggs with the Trustworthy Computing Initiative in 2002. There are many (but random) arbitrary conversion units like the following:

- Banana (for energy)
- Castle (for area)
- Whale (for weight)
- ... (they can all be found e.g. [here](h

[2019-03-19 14:46] Nomeleel opened #336 "Suppout Cortana command to lanach calculator and calculat"
**Problem Statement**

**Evidence or User Insights**

**Proposal**

**Goals**

**Non-Goals**

**Low-Fidelity Concept**

[2019-03-19 19:42] OvermindDL1 commented on #319
Can also pull it from the git information itself for when the commit that is being built was committed.

[2019-03-19 20:01] grochocki opened #338 "Add Graphing Mode"
**Problem Statement**
High school algebra is the gateway to mathematics and all other disciplines of STEM. However, algebra is the single most failed course in high school, as well as the most failed course in community college ([Washington Post](https://www.washingtonpost.com/news/answer-sheet/wp/2017/09/15/of-course-algebra-is-important-its-also-a-huge-problem/)). Graphing capabilities in their

[2019-03-19 20:30] janisozaur commented on #338
I have no direct stake in this, but I like my calculators relatively simple. Something I can _count on_. I've seen https://github.com/Microsoft/calculator/issues/209 filed already and I can only imagine adding such feature would only make it worse.

When I encounter a graphing calculator, I expect much more from it than from a non-graphic one, some of that is already encapsulated in the "goals" pa

[2019-03-19 20:49] janisozaur opened #340 "Move away from CppUnitTest.h to a more standard unit testing framework"
With calculator ~~now~~soon being [halfway](https://github.com/Microsoft/calculator/issues/212) [cross-platform](https://github.com/Microsoft/calculator/issues/211) would you consider moving away from CppUnitTest.h to something more standard, at least for the `CalcManager` part?

Three frameworks come to my mind:
* Google Test
* Catch2
* Boost Test

I'm sure there are many others as well.

[2019-03-19 21:16] vlogozzo commented on #61
I've found lots of `ref new` and `zmalloc` which from what I can find handle there own memory, is the plan to replace these with smart pointers? or are there naked new operators still in the code?

[2019-03-19 21:22] contextfree commented on #261
@mamichels I'm ashamed I called this a "novelty feature" - clearly I lack vision and wisdom!

[2019-03-19 21:31] danbelcher-MSFT commented on #61
`ref new` should stay for now.  In CX, these are ["hat" pointers](https://docs.microsoft.com/en-us/cpp/cppcx/ref-classes-and-structs-c-cx?view=vs-2017#memory-management); essentially, they are smart pointer types.  `zmalloc` can be removed.

Here is an instance of naked new that can be removed:
https://github.com/Microsoft/calculator/blob/21e15c426e35083f5f6d203b86cea597a47bcb57/src/CalcViewModel/

[2019-03-19 21:52] contextfree commented on #338
It seems important to be able to export or share calculations and graphs in a way that's interoperable with other mathematical applications. That way, we can feel confident using Windows Calculator as a lightweight tool for quick explorations (hope you can hold the line on startup time!), and not worry about hitting a "dead end" if I end up needing more advanced features.

I can also see myself (a

[2019-03-19 22:21] grochocki commented on #226
I think the desired behavior here is a combination of a couple of your suggestions.
* In Standard Mode, we should disable scientific notation. That is, if you input 0.000036/7, you should see 0.000005142857 as the result.
* In Scientific Mode, we should preserve the "auto-scientfic" behavior, though the F-E switch _should_ be toggled on when we do so. You should be able to untoggle the F-E button

[2019-03-19 22:35] grochocki commented on #336
Thanks for the feature suggestion! This looks like a duplicate of #288, so I am going to close this for now and let's continue the conversation there. If I am mistaken, and your idea is different, let me know and I'll open this one back up for discussion.

[2019-03-19 22:35] #336 closed

[2019-03-19 23:47] miloush commented on #335
I don't consider these to be easter eggs, they are not even hidden. And personally I find these numbers informative; not entirely sure I understand what is the issue.

[2019-03-20 14:58] OvermindDL1 commented on #105
Ignoring the unrelated bits of this thread, getting an alternate UI would be nice so the calculator doesn't take a full second or more to load and thus losing input when presseing <kbd>Win+r</kbd> <kbd>c</kbd><kbd>a</kbd><kbd>l</kbd><kbd>c</kbd> <kbd>Enter</kbd> then typing something like <kbd>2</kbd><kbd>+</kbd><kbd>2</kbd><kbd>Enter</kbd> and it somehow only getting <kbd>2</kbd><kbd>Enter</kbd>.

[2019-03-20 15:36] HowardWolosky commented on #105
Thanks @overmindDL1 - launch performance is currently being tracked by #209.

[2019-03-20 15:52] OvermindDL1 commented on #209
Why is there a splash screen for a calculator at all, shouldn't it just insta-load the GUI, it's not complicated...  I've lost *so* much input over time that has caused so many invalid calculations, this is a really bad issue...

[2019-03-20 16:42] mcooley commented on #318
Our PR builds don't _automatically_ build all architectures, but it is possible to manually queue builds which do. Also, if a change that breaks x86/ARM does get checked in, the CI build _does_ build all architectures and we should catch that immediately and back out the change. (I noticed that our notification settings might have been causing us to miss build failure notifications--this should be

[2019-03-20 16:42] #318 closed

[2019-03-20 16:54] #245 closed

[2019-03-20 16:57] #305 closed

[2019-03-20 18:27] HowardWolosky commented on #338
@janisozaur - We have been doing various forms of prototyping and then initial ground work on this for about a year now.  Within the next week or so, you should be seeing the initial PR for populating the _feature branch_.  The feature is _not_ done, and we _are_ looking for community involvement/participation in the completion of the feature.  But yes, there _will_ be a large PR to initially popu

[2019-03-20 18:45] rudyhuyn opened #343 "The calculator doesn't support pasted texts with a minus sign before a parenthesis"
**Describe the bug**
The calculator doesn't accept the following pasted text:  `-(121)` `(-(1+3)/2)`, ...

**Steps To Reproduce**
- Open the calculator in Scientific mode
- Paste `-(122)`
- _Invalid input_ is displayed

**Expected behavior**
The calculator should display the correct result

**Screenshots**
![image](https://user-images.githubusercontent.com/1226538/54710753-9cda9080-4b05-11e9-81cf-

[2019-03-20 19:35] rudyhuyn opened #344 "Use LR parser to parse expressions coming from the Clipboard and generate commands"
The current code to manage the clipboard only supports a subset of functions managed by the calculator, has some issues to parse them (many false positives or issues with locales due to the conversion to en-us format but ignoring that '.' and ',' can be used for other purposes in the original locale) and very complicated to maintain/add new features (sin, pin, square, etc..).

In order to simplify

[2019-03-20 19:57] Stanzilla commented on #209
That's an issue with all UWP apps and the framework, not really Calculator related, no?

[2019-03-20 20:13] MarcAnt01 commented on #209
Yes, most issues here are, just wondering why collaborators and members of organization don't close them

[2019-03-20 20:32] HowardWolosky commented on #179
Thanks for the report, @MicroSquish.  This repo/project is tracking just the UWP version of Calculator.  I've moved this bug report over to our internal database to track the issue for the Win32 version of Calculator (Issue `20911212` for future internal historical reference).

Much appreciated!

[2019-03-20 20:32] #179 closed

[2019-03-20 21:06] HowardWolosky commented on #209
@MarcAnt01  - I'm curious which other issues you are referring to.  I agree that Issues which are generically against the platform/framework shouldn't remain open in this repo.  We kept _this_ Issue open since there has been discussion on things we might be able to do to (within the scope of our app) to improve its launch experience.

[2019-03-20 21:23] willibrandon commented on #174
This issue was fixed in b7dd265415ced24156f7d8be00e36f63bb3907be.

[2019-03-20 21:25] ssylvan commented on #209
I'm not sure I agree that issues should be closed just because it has a (partial) dependency on another team.

"Calculator is too slow" is an issue with calculator. Yes, it may be that to fix it fully someone has to raise the issue with the UWP page and link this one too it. But just because it's partially someone else's problem doesn't mean it's not also Calculator's problem and should be tracked

[2019-03-20 21:27] HowardWolosky commented on #174
Indeed.  Thanks for calling that out @willibrandon.
This was resolved with #187.

[2019-03-20 21:27] #174 closed

[2019-03-20 21:44] I-Campbell commented on #209
Microsoft have released a handy guide to improve uwp startup performance [1].
I am sure it is at least feasible to capture the keystrokes 120-280ms after the program is called using this guide, with the secondary goal of making the calculator interface viewable/clickable faster than it is now.
 [1] https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/best-practices-for-your-app-s-startup-p

[2019-03-20 22:07] HowardWolosky commented on #209
@ssylvan  - We're _not_ ignoring the problem.  That's why _this_ issue remains open.

For Issues that we are made aware of which are due to problems outside the scope of our team (like #274), we turn around and open a tracking issue for the appropriate team in their Issue tracking database.  This repository is specifically for Calculator, and we're only going to keep Issues open which are actionab

[2019-03-20 22:17] I-Campbell commented on #335
I see your point, @DennisGaida, that the unit conversions described in the code as "Whimsical" in their present form are more to delight the user and are a bit more education focused than professional focused.
I prefer your suggestion of changing their behaviour as apposed to deleting them. Imagine you want to express how much something weighs but have no prior knowledge of any common units of wei

[2019-03-20 22:38] ssylvan commented on #209
@HowardWolosky Sorry I was responding to the suggestion that you would close it, not to you! :)

[2019-03-20 22:48] grochocki commented on #344
Thanks for digging into this, Rudy! Even though this would seem to fix a number of bugs we have been seeing reported, as you point out, since it seems to fundamentally change how we handle pasted input, I am going to track it as a feature. Let's leave this proposal open for discussion.

While not directly related, we are also investigating MathML input (#72) and rendering (#71). If we overhaul our

[2019-03-20 22:53] grochocki commented on #343
Thanks for the report! This seems to be _very_ similar to #294, but will leave this open to track this slightly different scenario. The solution to this should also address #294.

[2019-03-20 23:21] rudyhuyn commented on #343
Not really, the source of the issue is different. The reason of #294 is because of how `NumbersAndOperatorsEnum::None` is managed in `OnPaste(String^ pastedString, ViewMode mode)` (it messes up with `isPreviousOperator`). I can quickly publish a fix for 294 (but it will not fix #343, I will look into it later if I can).

[2019-03-20 23:53] I-Campbell commented on #283
This should always be in the format:
Property (unit converting to) = function( Property (unit converting from))

Eg:
1
Kelvin

-272.15
Degrees celcius
Temperature (°C) = Temperature (K) - 273.15

[2019-03-21 00:24] I-Campbell opened #347 "Temperature unit conversion does not work for temperature intervals"
**Problem Statement**
"We wish to limit global temperature rise to 4 degrees Celsius."
The above cannot be converted in calculator to
"We wish to limit global temperature rise to 7.2 degrees Fahrenheit."

**Evidence or User Insights**
It is acceptable usage to talk about temperature intervals in degrees Celsius and degrees Fahrenheit, and it should be possible to use temperature intervals rather t

[2019-03-21 00:46] danbelcher-MSFT commented on #207
Thanks, @rudyhuyn, for the investigation!  @XeorgeXeorge, it seems like this code is valid.  I'm going to close out this issue for now.  If you disagree with the resolution, please let us know!

[2019-03-21 00:46] #207 closed

[2019-03-21 03:38] rudyhuyn commented on #347
TIL something new!

Your feedback is very interesting @I-Campbell and full of learning. I support the second option, the burger menu has already too many items. The currency page has already a droplist, we can use a similar design for this page

[2019-03-21 03:54] vlogozzo commented on #61
Im trying to run the Unit test, is it intended to open as a blank program? or is it supposed to give me some feedback [img](https://imgur.com/a/jgwclMY)

[2019-03-21 05:32] janisozaur commented on #202
Since #236 is locked:

https://marketplace.visualstudio.com/items?itemName=LLVMExtensions.ClangFormat

There are completely static builds of `clang-format` available. The one from marketplace is all you need on Windows or you can pull one from https://github.com/angular/clang-format/tree/master/bin. Note the binary gets changed from time to time and support for new options gets added. As mentioned

[2019-03-21 07:58] MicrosoftIssueBot opened #348 "Border outline of "Icons" in the Menu list items are not following the High Contrast standards on mouse hovering"
**Repro Steps**
* Set theme to High Contrast Black or White.
* Launch Calculator app.
* Navigate to "Open navigation" button and activate it.
* Hover the mouse on the menu list items in High Contrast Black/White theme.
* Observe the issue.

**Actual Result**
Border outline of "Icons" in the Menu list items are not following the High Contrast standards on mouse hovering.

**Expected Result**
Border

[2019-03-21 07:58] MicrosoftIssueBot opened #349 "Focus moves to random place by pressing "Tab" key after selecting particular month using "Next" and "Previous" buttons"
**Repro Steps**
* Launch Calculator app and Launch narrator.
* Navigate to Menu and Select Date calculation.
* Select Difference between dates from the combo box.
* Navigate to From field and press enter.
* Date calendar picker will open.
* Navigate to Previous button and press enter multiple times to select different month.
* Now press Tab key and observe the issue.

The same issue is repro for "

[2019-03-21 07:58] MicrosoftIssueBot opened #350 "Narrator is not reading changed date confirmation once "Add/Subtract" radio button is selected"
**Repro Steps**
* Launch Calculator app and Launch narrator.
* Navigate to Menu and Select Date calculation.
* Select Add or Subtract days from the combo box.
* Navigate to From field and select some value.
* Select Add radio button and navigate to Year, date and month combo box and select some values and observe narrator reading the changed date information.
* Now navigate to Subtract radio butto

[2019-03-21 07:58] MicrosoftIssueBot opened #351 "In scan mode, Narrator is not reading proper information when focus lands on the whole calendar picker control"
A team member will update this issue with more details soon.

[2019-03-21 07:58] MicrosoftIssueBot opened #352 "Focus unexpectedly shifts to “Clear Entry” button on activating “Update rates” link"
**Repro Steps**
* Launch Calculator app.
* Navigate to "Open navigation" button and activate it.
* Navigate to list items and select Currency Converter.
* Navigate to update rates link and activate it.
* Observe the issue.

**Actual Result**
Focus unexpectedly shifts to “Clear Entry” button on activating “Update rates” link.

**Expected Result**
Focus should remain on “Update rate” link itself on

[2019-03-21 08:09] grochocki commented on #347
Thanks for the feature suggestion! This is really well thought-out, and we really appreciate it. Let's keep this idea open for discussion so the community has the chance to provide feedback. Check out our [New Feedback Process](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md) for more info on the user-centered process we follow for new feature development.

[2019-03-21 11:22] miloush commented on #322
My bad, this needs API that returns _Numeric_Value_ as per [UAX #44](http://www.unicode.org/reports/tr44/#Numeric_Type) (i.e. equivalent to [`System.Globalization.CharUnicodeInfo.GetDecimalDigitValue`](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.charunicodeinfo.getdecimaldigitvalue)), however, as far I can tell there is no such API in UWP, there is only [`Windows::Data::Text::

[2019-03-21 14:54] rudyhuyn commented on #322
You can detect the keyboard layout via the class `CoreTextServicesManager`, so we need to manage only 2 locales: the one related to current Region and the one related to the keyboard layout. The 2 challenges are:
- The current architecture only supports 1 locale as mentioned before
- country to the Region, the keyboard layout can be changed while the app is running, we need to check the value on t

[2019-03-21 19:32] PurHur commented on #261
Very interesting approach. At first i thought this is a troll issue and it fully escalated into a very interesting feature with huge potential in research and development, especially for concepts of the modern calulator. As everyone in this discussion is already in picture on the concept I dont think that this issue will be solved with a new feature pitch. This is unquestionably more and Microsoft

[2019-03-22 01:26] miloush commented on #322
I do not dispute that would be an improvement to the current behaviour. If that's a low hanging fruit, go for it.

If I understand it correctly:
* If a user has the US keyboard under Arabic input language and the UI/Region is in Arabic, both your sources would say Arabic and typing numbers on the US keyboard would not work at all.
* If a script has native digits but none of the currently shipping

[2019-03-22 01:33] miloush commented on #162
Win32 calculator beeped, both when pasting and when typing directly. UWP calc doesn't do anything when you try to enter more digits than supported, so that sounds like a consistent solution.

[2019-03-22 02:30] rudyhuyn commented on #322
Hi Miloush.

I will try to answer to some of your questions.

Unfortunately, keyboards don't share their layout info with PCs, in fact, they don't even send the character code to the PC, but instead they send an ID about the position of the key. This is why if you type 'A' on an AZERTY keyboard plugged to PC with the keyboard layout set to QWERTY (us) the OS will think it's a 'Q', I would prefer k

[2019-03-22 05:48] danbelcher-MSFT commented on #61
Yep, a blank app for the unit tests is intentional.  The UTs cover classes like the ViewModels which can only be instantiated in a UWP app.

[2019-03-22 08:09] seyfer commented on #202
Since PR is locked, answering here
@danbelcher-MSFT thank you for review. I will check it and commit with conflicts resolved on weekends.

[2019-03-22 15:32] miloush commented on #322
Thanks @rudyhuyn, but I meant US keyboard _layout_. I was trying to say that keyboard layout and input language are two different things. The same way you can add French keyboard layout to the English input language, the same way you can use US keyboard layout with the Arabic input language (it still produces Latin letters, feel free to try). The point is, it shouldn't matter what language or keyb

[2019-03-22 18:07] sonali9696 commented on #140
I would like to work on this issue

[2019-03-22 19:16] ChaosBladeCoder commented on #157
I never even thought of pressing the ALT key to get at the keyboard accelerators. My first instinct was always to hover the mouse over the keys, but unfortunately this doesn't display anything at all.

The keyboard accelerators would be a lot more discoverable if they were displayed on mouse hover.

[2019-03-22 19:20] farshadasadpour opened #358 "calculate time between to time"
Please add this feature, you can calculate the time between 2 times for example 15:00 ~ 13:00 is a 2 hours

**Problem Statement**

**Evidence or User Insights**

**Proposal**

**Goals**

**Non-Goals**

**Low-Fidelity Concept**

[2019-03-22 20:26] grochocki commented on #358
Thanks for the feature suggestion! We have a [process in place](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md) for feature suggestions that impact the end-user experience, which includes a template that helps frame the feature pitch. Please update using that template.

[2019-03-22 21:29] miloush commented on #322
That is a good point indeed. The `CopyPasteManager::ValidatePasteExpression` contains call to

[code]

so we can get your functionality by calling the same in `KeyboardShortcutManager::OnCharacterReceivedHandler` just before looking up the buttons. That way, all resw files can stay the way they are with ASCII digits, i.e. you don't even have to "support 2 locales".

Furthermore, we can get the fun

[2019-03-22 21:38] rudyhuyn commented on #358
Hi @farshadasadpour! Is your feature request similar to this one: https://github.com/Microsoft/calculator/issues/143? The idea of this feature request is to add time of the day in the Date Calculation, so you can calculate the difference between 02/12/19 10:00am and 02/15/19 11am (managing also Daylight Saving Time)

[2019-03-22 21:55] rudyhuyn commented on #322
@miloush: Use `FoldString` with `MAP_FOLDDIGITS` is a great idea, I really like the idea of the app basing this conversion on Unicode specs (we need first to write unit tests to be sure `MAP_FOLDDIGITS` supports all the characters already supported by the app).

One solution will be to not localize Key shortcuts (it's currently the case via .resw files) and only use 0-9 digits. Then in `KeyboardSh

[2019-03-22 23:43] I-Campbell commented on #264
The expectation is:
If you use an operation (binary or unary), hitting equals stores that result to the history.
If you hit equals again, it will repeat the last operation.

I think the problem is in calculator/src/CalcManager/CEngine/scicomm.cpp
there are two problems:
1. binary operators correctly set a flag m_bNoPrevEqu on line 290
https://github.com/Microsoft/calculator/blob/e40791d7ad94ff17dc

[2019-03-23 00:15] danbelcher-MSFT opened #362 "Disable Windows-provided min/max macros"
`minwindef.h` defines macros for min/max functionality.  For places of the codebase where min/max is required, the code defaults to using these macros instead of the `std::min`/`std::max`.  The macros can be disabled with the `NOMINMAX` flag.  We should disable the macros in-order to improve the portability of our code.  Related to #212.

[2019-03-23 01:47] rudyhuyn opened #364 "When pressed or when the pointer is hovered over, the background colors of buttons are not consistent."
I'm not sure if it's a design choice or not, but buttons for basic operations  ('+', '-', '/', '*', '=') don't have the same background color as all other buttons when you hover the pointer over them (or press them)

![image](https://user-images.githubusercontent.com/1226538/54860107-761d8500-4cd2-11e9-910b-24fb6d0d8c33.png)

![image](https://user-images.githubusercontent.com/1226538/54860112-803f

[2019-03-23 04:12] sonali9696 commented on #364
If this isn't a design choice, I would like to take up this issue

[2019-03-23 04:44] farshadasadpour commented on #358
<a href="https://imgbb.com/"><img src="https://i.ibb.co/jrPz7j8/calc.png" alt="calc" border="0"></a>
I think I should have updated my windows. because I did not access to this feature.

[2019-03-23 04:49] rudyhuyn commented on #358
The feature doesn't exist for the moment, but if you think adding time to this panel is a great idea, don't hesitate to join the conversation, share your opinions and brainstorm with others!

[2019-03-23 05:09] #358 closed

[2019-03-23 05:10] farshadasadpour commented on #358
thanks for your advice.

[2019-03-23 05:42] sonali9696 commented on #311
Could you please elaborate on what is "history context menu"? I know of only one history symbol which is at the top right of the calculator which is accessible from the keyboard by pressing ctrl+H

![history](https://user-images.githubusercontent.com/12599774/54862160-82e6bb00-4d5c-11e9-8669-8b517ce862e2.png)

[2019-03-23 06:01] vlogozzo commented on #61
the problem I keep running into is the `.ToPRAT()` can be used with smart pointers sent the type of `RAT`, but every function in the engine is expecting a `PRAT*`, so a conversion of that would need to be made or the entire engine would need to be refactored(if thats the point of the issue, i can attempt to refactor, but at that point you could rewrite the engine?)

[2019-03-23 06:42] vlogozzo commented on #61
excuse my variable naming, ill clean them up in a pull, but something like this is currently working
[code]

[2019-03-23 07:22] sonali9696 commented on #140
I have done the necessary changes and raised PR #365  for the same.

[2019-03-23 08:58] DragoCubed commented on #364
I think this is a design choice to distinguish the basic operations from other buttons.

[2019-03-23 09:50] rudyhuyn commented on #364
If it's the case (based on the name of the Style it seems to be), the background should use a `RevealBackgroundBrush` instead of a `SolidColorBrush` to get the same light effect than other buttons.

[code]

[2019-03-23 10:22] leftmostlane commented on #338
About time!  Add even more features.  I would like to see the entire set of TI-85 features added to Windows Calculator.  Bring graphing functionality to everyone in the world!

[2019-03-23 14:59] ferzkopp commented on #325
Documentation: https://en.wikipedia.org/wiki/Light-year

Notes: The IAU recognized abbreviation for light-year is ly ... and localized symbols are frequent, such as "al" in French (from année-lumière) and Spanish (from año luz), "Lj" in German (from Lichtjahr), etc.

[2019-03-23 15:10] ferzkopp commented on #325
... and please also add "parsec"

Documentation: https://en.wikipedia.org/wiki/Parsec

The parsec (symbol: pc) is a unit of length used to measure large distances to astronomical objects outside the Solar System. ... One parsec is equal to about 3.261563777 ly

[2019-03-23 16:53] grishace commented on #338
https://en.m.wikipedia.org/wiki/Microsoft_Mathematics

[2019-03-23 17:19] Terottaja commented on #55
L"Hello"
L Marks that the string will be always widechar.

[2019-03-23 17:23] leftmostlane commented on #338
Yes, there are free programs out there.  However, Microsoft Math is not in the windows store and not on the Windows Universal Framework so it would not run on Windows Light and will not run on Windows Phone.

[2019-03-23 17:29] MikeGitb commented on #55
Thanks, but my question was not about `L""` vs `""`, but `constexpr auto s = L"Hello"` vs `const auto s = L"Hello"`.

[2019-03-23 17:59] dgua commented on #128
Calculator is USELESS without RPN mode.

[2019-03-24 00:18] danbelcher-MSFT commented on #364
This is an intentional design choice.  Calculator receives some criticism for having a "zebra" color-palette.  Using the accent color to backplate the 4 basic operators was one way to subtly add style and personalization to the UI.

[2019-03-24 00:42] rudyhuyn commented on #364
I agree, the design is a little too monochromatic. What do you think about adding a reveal effect (light following the cursor) to these backplates?

[2019-03-24 02:01] danbelcher-MSFT commented on #55
I believe the only difference is that the `constexpr` version is available for use with other `constexpr` expressions during compilation, whereas the `const` form is not created until static are initialized at runtime.

[2019-03-24 02:43] MikeGitb commented on #55
Im pretty confident that the the "normal" const version will not cause initialization at run-time. But you are probably right about use in constexpr expressions - I haven't tried top use "nornal" global const variables in quite some time now. That's why I was asking.

[2019-03-24 05:22] rudyhuyn opened #367 "The narrator doesn't convey the number of open parenthesis when the user uses a keyboard"
**Describe the bug**
- The narrator only conveys the number of open parenthesis when the button is pressed (via tab+space or using mouse/touch screen) but not when users type '('  or ')' via a keyboard.
- Minor issue: Each time the button is pressed, the narrator will say again the name of the button (and grammatically incorrectly): "Left parenthesis - open parenthesis count 5 - button"

**Steps T

[2019-03-24 22:06] yassineim commented on #130
@MicrosoftIssueBot You should know that GitHub notifications do that already, you useless bot.

[2019-03-24 22:39] rudyhuyn opened #370 "Remove Serialize/Deserialize functions never used in StandardCalculatorViewModel, UnitConverter and UnitConverterViewModel"
**Describe the change requested**

`StandardCalculatorViewModel` as well as `UnitConverterViewModel` and `UnitConverter` contain custom binary serializers and deserializers never used by the application. I suspect they were used a long time ago when the app lifecycle model was more restricted (Windows Phone 8/8.1?).

These unused functions make it harder to add features or refactor these 3 classes

[2019-03-25 02:08] grochocki commented on #311
Right-clicking on a history item will bring up a context menu. This should be accessible with keyboard.

![image](https://user-images.githubusercontent.com/1414423/54890787-2244a480-4e68-11e9-9e7b-b49f92f233d9.png)

[2019-03-25 02:14] grochocki commented on #364
How does this look? These buttons aleady have the border reveal effect. I am curious if we decided against it in the past if it looked a little off with accent color.

[2019-03-25 02:28] rudyhuyn opened #372 "CalculationResult controls in UnitConverter aren't correctly aligned in some cases"
**Describe the bug**
The recent change in `UnitConverter` to decrease the distance between the currency symbol and the CalculationResult control (#246) had an impact on how `UnitConverter` displays `CalculationResult` when not in currency mode and when the local region displays currency symbols on the left.

![image](https://user-images.githubusercontent.com/1226538/54891244-017d4e80-4e6a-11e9-8fb

[2019-03-25 02:35] grochocki commented on #372
Good catch! Thanks, Rudy.

[2019-03-25 03:16] rudyhuyn commented on #364
@grochocki: it looks good, I just added a PR if you want to test. It's mainly visible with the grey-ish and the purple accent colors on my computer.

[2019-03-25 04:52] qiankehan commented on #338
Why not import **KAlgebra** to windows instead of inventing the wheel again

[2019-03-25 05:19] sonali9696 commented on #140
Hi @josephsl, please let me know if I should make any changes to proceed with the PR.

[2019-03-25 05:37] josephsl commented on #140
Hi, I guess the only change needed is mention date calculation as part of the readme. Perhaps one day I’ll think about a PR to add a note about keyboard shortcuts. Thanks.

From: Sonali Agrawal <notifications@github.com>
Sent: Monday, March 25, 2019 1:20 AM
To: Microsoft/calculator <calculator@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subj

[2019-03-25 05:40] sonali9696 commented on #140
Yes, I had added it in README in PR #365. It would be great if you could review it :)

[2019-03-25 05:42] grochocki commented on #367
Thanks for the report! Agree that this is the expected behavior:

[2019-03-25 05:43] josephsl commented on #140
Hi, review coming up ASAP. Thanks for the PR link.

From: Sonali Agrawal <notifications@github.com>
Sent: Monday, March 25, 2019 1:41 AM
To: Microsoft/calculator <calculator@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/calculator] Readme: mention date calculation capability (#140)

Yes, I had added it in README in PR #

[2019-03-25 06:21] grochocki commented on #264
@I-Campbell Would you expect that all binary and unary operators are repeated when pressing equals?

I am not sure why, but it feels right that <kbd>x^2</kbd> would be repeated, but does not feel as right if <kbd>log</kbd>, <kbd>n!</kbd> or <kbd>sqrt</kbd> did.

[2019-03-25 13:07] taurus-forever commented on #338
There is a bug on a screenshot in "Low-Fidelity Concept".
y=x+2 must be a straight line ;-)

[2019-03-25 17:44] breyed opened #377 "Can't use Windows standard key sequence on main menu"
The main menu doesn't allow the standard windows sequence of Alt+letter followed by another letter. As an example of what you should be able to do, you can exit Notepad this way: press Alt+F, then release both keys, and press X. This is written Alt+F, X.

In calculator, if you press Alt+H, 2, it doesn't work. The 2 get entered into the calculator window. If you keep the Alt key held down, spanning

[2019-03-25 17:53] breyed opened #378 "Show next key chord choices immediately"
When a menu is opened with the keyboard, the choices for the next menu keys should be shown immediately. For example, when you press Alt+H, you should see the choices for next keys you can press. Currently, you don't see anything.

There is a workaround. If you press Alt+H and then press Alt again, you see the next key choices. The extra key press shouldn't be necessary. If the user presses Alt+H,

[2019-03-25 18:08] HowardWolosky commented on #319
Thanks for the suggestion, @OvermindDL1.  That _would_ be super convenient, however it's unfortunately not as simple as that.  There exists a threshold of changes to the application which must be met before we can update the copyright year in the application, making it quite challenging to be automated.  Simply looking at the date of the last commit within a directory or to a whitelist/blacklist o

[2019-03-25 18:11] #319 closed

[2019-03-25 18:12] rudyhuyn opened #379 "Proposal to modernize the architecture of Unit Conversions"
# Problem Statement

There are two flaws with the way the calculator currently manages unit conversions:
- The way unit conversion is managed doesn’t allow us to support new scenarios (future but also already identified by the community), restricting the possibilities and innovations.
- It's obvious, the current code has a long history and some technical choices from the past don’t make sense anym

[2019-03-25 18:21] HowardWolosky opened #380 "Re-enable pseudo-loc in localization builds"
**Describe the bug**
#360 removed the conditional inclusion of resw files in the project file, but also completely removed the references to pseudo-loc ressw files as they haven't been getting supplied by the localization task.

Pseudo-loc has proven helpful in the past with early identification of localization issues, so we should be fixing the Localization task to generate those resw files, and

[2019-03-25 18:27] rudyhuyn commented on #380
I'm happy to see them back, especially `qps-plocm`, very useful to test right-to-left.

[2019-03-25 18:28] #362 closed

[2019-03-25 22:26] danbelcher-MSFT commented on #55
I think you're right, see the doc on [constant initialization](https://en.cppreference.com/w/cpp/language/constant_initialization).

So is this issue even needed or should we close it?  Right now I would say this is low priority and falls into the bucket of general codebase improvement/best-practices.

[2019-03-25 23:03] PeterWone commented on #335
Calorie counting is an entire industry.  While it might be helpful to link to documentation for units like banana and battery, I don't think they are entirely gratuitous. In fact, having framed this thought, one might argue for supporting user defined conversions or sourcing suites of conversions. For example, I can easily imagine my girlfriend wanting to know how many biscuits remain in her calor

[2019-03-25 23:31] TurtleShip opened #382 "Adding support for Pyeong, a floorspace unit specific to Korea"
**Problem Statement**

Pyeong (abbreviation py) is a Korean unit of area and floorspace ([wikipedia](https://en.wikipedia.org/wiki/Pyeong)). The unit is the standard traditional measure for real estate floorspace - we use it whenever we talk about living space, office space, or even a city size.

Microsoft Calculator currently doesn't support it, and it would be great if it supports the unit.
Our

[2019-03-25 23:40] rudyhuyn commented on #382
Great idea! (and I don't say that because we work together 😉)

It can be a good addition to `Converter -> Area` but we should not limit it to the Korean locale, a Korean living in another country or a foreigner reading a Korean documentation would also find it useful.

Is it an unit widely used? Would it make sense to set this unit as the default conversion target when the locale is Korean? (By de

[2019-03-26 00:04] TurtleShip commented on #382
@rudyhuyn  Haha, thanks! ( also feels funny to talk over here while we are sitting next to each other :D )

To answer your question, yes, it makes sense to set `Pyeong` as the default conversion target when the locale is Korean. ( Perhaps `Pyeong` to `Square meters` instead of `Square meters` to `Pyeong` because most of the time, I think Koreans would try to convert `Pyeong` to `Square meters` ).

[2019-03-26 00:46] MicrosoftIssueBot opened #383 "On activating "About" button, Narrator conveys the whole information in one go which is present in "About" pop up window"
**Repro Steps**
* Launch Narrator.
* Launch Calculator app.
* Navigate to "Open navigation" button and activate it.
* Navigate to "About" control and activate it.
* Observe the issue.

**Actual Result**
On activating "About" button, narrator conveys the whole information in one go which is present in "About" pop up window.

**Expected Result**
On activating "About" button, narrator should not conv

[2019-03-26 00:46] MicrosoftIssueBot opened #384 "Luminosity ratio of keypad toggle buttons in “Programmer” window is less than 4.5:1"
A team member will update this issue with more details soon.

[2019-03-26 00:46] MicrosoftIssueBot opened #385 "Narrator reads information of "0th" bit button incorrectly"
**Repro Steps**
* Launch "Calculator" app. Launch narrator.
* Navigate to Menu and select "Programmer".
* Navigate to “Bit toggling keypad” radio button and select it.
* Navigate to "0th" bit button and observe the narrator announcement.

**Actual Result**
Narrator reads "0 and th" separately for 0th bit button.

**Expected Result**
Narrator should read "0th" bit button on/off.

**Test Environment

[2019-03-26 00:46] MicrosoftIssueBot opened #386 "Narrator reads information of "Bit" button twice after activating it"
A team member will update this issue with more details soon.

[2019-03-26 00:46] MicrosoftIssueBot opened #387 "Name property of a focusable element must not be null (Calendar date picker)"
**Repro Steps**
* Launch Calculator app
* Navigate to Menu and Select Date calculation
* Select Add or subtract days from the combo box
* Observe the issue using inspect.exe (available in C:\Program Files (x86)\Windows Kits\10\bin\<SDK Version>\x64)

**Actual Result**
Name Property is not defined for "From" Calendar picker.

**Expected Result**
Name Property should be defined for "From" Calendar p

[2019-03-26 00:46] MicrosoftIssueBot opened #388 ""Previous", "Next" and "Year" buttons are not adopting High contrast black and white themes properly"
A team member will update this issue with more details soon.

[2019-03-26 01:02] #42 closed

[2019-03-26 01:02] #43 closed

[2019-03-26 01:02] #45 closed

[2019-03-26 01:02] #70 closed

[2019-03-26 01:02] #46 closed

[2019-03-26 01:02] #47 closed

[2019-03-26 01:56] grochocki commented on #382
Thanks for the feature suggestion! This is really well thought-out, and I appreciate that. I also learned something new today (the Pyeong)!

If this is the case, I would be open to making this the default in Korean locales. Outside of your own experiences, is there any data to suggest this is still widely used as the default to support this change?

I disagree with @rudyhuyn in this case and think

[2019-03-26 02:05] grochocki commented on #378
Thanks for the report! This does seem to be a regression, as I believe it used to work the way you describe the expected behavior. Unsure if this is app or platform, since I can repro the behavior in other apps, so marking as investigate.

[2019-03-26 02:07] grochocki commented on #377
Thanks for catching this one too! I _beleive_ that addressing #378 should address this as well, so closing this as a dupe for now as we investigate #378 further.

[2019-03-26 02:07] #377 closed

[2019-03-26 02:09] #343 closed

[2019-03-26 02:40] grochocki commented on #335
@DennisGaida Thanks for opening this for discussion! My thoughts:

This is _exactly_ the purpose behind these units. I think we can do a better job a documenting these (#120 tracks that), and I think we can do a better job at ensuring the units we pick are both broadly applicable and up-to-date (e.g., #120 discusses how "jet" may not be the best comparison for speed), but in general, we want to pr

[2019-03-26 02:49] grochocki commented on #214
Thanks for the feature suggestion! We have a [process in place](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md) for feature suggestions that impact the end-user experience, which includes a template that helps frame the feature pitch. Can you update the issue using that template?

Something to consider. I think it might be safe to assume that a lot of developers are

[2019-03-26 02:50] TurtleShip commented on #382
Thanks for your prompt reply, @grochocki !

To address your question regarding data backing prevalent use of Pyeong, we could start with this [Wikipedia article](https://en.wikipedia.org/wiki/Korean_units_of_measurement#Area) which has a healthy amount of citations within the first couple sentences of section `Area`. Relevant part would be

Even after 10 years since the Korean government tried, it

[2019-03-26 02:55] rudyhuyn commented on #382
I like this idea of having a shorter list of units by default (based on locations) but providing a way to add/remove units in settings or an option 'more units...' at the bottom of the combobox would be nice, it would solve the issue of Korean expats or tourists wanting to convert a unit they don't know.

This settings would also improve the UX. The data converter is a good example, it currently c

[2019-03-26 03:15] rudyhuyn commented on #214
The template didn't exist at this time :) I will work on some mockups later tonight and update the first post.

[2019-03-26 04:46] rudyhuyn commented on #214
Done! Don't hesitate to give feedback!

[2019-03-26 05:17] mike0891 commented on #388
This issue is not reproducible in other Windows.UI.Control based application such as XAML Controls Gallery.

The issue is in our implantation of CalanderDatePicker.

[2019-03-26 06:07] rudyhuyn opened #389 "The application crashes when users press ctrl+V while displaying the Date Calculation page."
**Describe the bug**
The application (including the public version) crashes when users press ctrl+V if the application only displayed the Date Calculation page during its lifecycle (application started with Date Calculation and no navigation happened).

This bug only happens with Date Calculation, the only page not managing the clipboard.

**Steps To Reproduce**
- Copy a random text in your clipbo

[2019-03-26 06:43] grochocki commented on #389
Good catch, thanks! I can repro easily.

[2019-03-26 06:48] grochocki commented on #388
Yep, we should be using the default control here without any customization. If not, we should update so that we are. Otherwise, I am curious if this bug was fixed in the XAML control, in which case we should wait to address this by taking an SDK update.

[2019-03-26 09:51] DennisGaida commented on #335
Very good points Dave and thanks for the in-depth insights!

Yes! I looked for documentation prior to opening this discussion but since there wasn't any I thought this might be a "funny joke" by some dev. I like that there actually is some thought behind the reference units and I agree with your reasoning.

I know you make changes based on magnitue, but the behavior right now - besides being a men

[2019-03-26 11:05] robert-andrzejuk opened #393 "Add a "Locale" button."
**Problem Statement**
There are many issues been reported relating to
 - commas
 - dots
 - spaces
 - ...

This is related to the fact that the calculator is used in many international environments. Many users even use data from more than 1 locale in there daily work on 1 system.

**Proposal**
On the bar above the number display (right above the default value 0) make a language/locale display like

[2019-03-26 17:54] #372 closed

[2019-03-26 18:24] #248 closed

[2019-03-26 22:10] vlogozzo commented on #61
@danbelcher-MSFT thank you for the feed back in the PR, I noticed that this wasn't a elegant solution. I had a question about the solution you mentioned, you mentioned making `ToPRAT` return a smart-pointer, would you keep the `ratpack` functions the same? or change them all? I was looking into changing more things in `RationalMath` but all the `ratpack` functions preform swaps on the pointers, wh

[2019-03-26 22:21] rudyhuyn commented on #388
The default style has also some flaws too:
- no border around the popup to delimit the popup to the rest of the app
- at minimum, year, previous and next should have a border.

![image](https://user-images.githubusercontent.com/1226538/55037158-095c0080-4fda-11e9-9537-19d65995f6cf.png)

[2019-03-26 22:21] janisozaur commented on #113
#212 has just landed, #211 hopefully is near.

[2019-03-26 22:23] rudyhuyn commented on #388
In addition, the calculator should also displays a border around the date:
![image](https://user-images.githubusercontent.com/1226538/55037434-fbf34600-4fda-11e9-844b-69b2ad2200a3.png)

it's the case of the default style:

![image](https://user-images.githubusercontent.com/1226538/55037448-0ca3bc00-4fdb-11e9-887d-a06fb5c467c9.png)

[2019-03-26 22:48] janisozaur opened #395 "Investigation of Linux builds"
With #212 now merged and #211 in the works, it should be possible to build parts of calculator on Linux/macOS with GCC and Clang. To avoid losing that ability, a CI job should verify PRs with those compilers, just like it's already being done with MSVC on Windows.

I have spent some time looking into that and would like to discuss how should this be addressed.

The project is using C++17 and will

[2019-03-26 23:06] janisozaur commented on #395
With https://hub.docker.com/r/rikorose/gcc-cmake (and my quickly hacked `CMakeLists.txt`) I was able to build the relevant parts of calculator without any problems on Azure, see https://janisozaur.visualstudio.com/calc/_build/results?buildId=21

[2019-03-27 00:04] danbelcher-MSFT commented on #61
In the PR, I mentioned that we wanted to eliminate PRAT entirely, thereby solving this issue because there would be no manual allocations of RAT structs.  So, perhaps we can simply close this issue and write a new issue with a roadmap for how we eliminate PRAT.  I don't know that it's a good use of your time to go update the codebase so that PRATs are managed with smart pointers if our goal is to

[2019-03-27 00:53] GeeLaw commented on #113
What can be done is to factor out the object model of Calculator, and then anyone bothering to have it on Linux could reuse the model part and rewrite the view (UI).

[2019-03-27 02:08] rudyhuyn commented on #395
Before going any further, it may be preferable for Microsoft to clarify what the scope of this repository and explicitly define which platforms they want to support (for each library).

CalcManager is currently a UWP static library, even if it currently doesn't use WinRT API or Component eXtension features:

![image](https://user-images.githubusercontent.com/1226538/55044884-310e9100-4ff9-11e9-958

[2019-03-27 02:52] grochocki commented on #388
I will route this feedback to the controls team, though those flaws should not prevent us from adopting the default style.

One principle I like to think about when making decisions is "deviate with purpose". In this case, I am not sure there is a good reason to _not_ use the default style (border and all).

[2019-03-27 04:05] rudyhuyn commented on #388
Of course! My comment was more a feedback for the XAML theme, there is no reasons to not use the default theme in our case.

Exactly, you should override the template of a control when it's your last resort, because you will miss all the optimizations and UI improvements provided by more recent OS updates (Fluent added to a lot of controls, ListViewItem really optimized after RS1 (?), etc...).

[2019-03-27 06:44] mike0891 opened #397 "Calculator should lose translucency when no longer in the foreground."
**Problem Statement**
When using the calculator on a second monitor the calculator is losing transparency when using the main monitor.
**Evidence or User Insights**
I personly keep this on my second monitor, tabbing to calculator and back to visual studio will cause the calculator to gain then lose transparency.

**Proposal**
Transparency should be lost when the calculator is no longer in the fore

[2019-03-27 07:00] grochocki commented on #397
Thanks for the idea, @mike0891! Calculator makes use of the acrylic material throughout the app. In particular, we use [background acrylic](https://docs.microsoft.com/en-us/windows/uwp/design/style/acrylic#acrylic-blend-types), where this behavior is considered by design:

I would recommend opening this up for discussion in [Microsoft/microsoft-ui-xaml](https://github.com/Microsoft/microsoft-ui-xa

[2019-03-27 07:00] #397 closed

[2019-03-27 07:01] rudyhuyn commented on #397
This is unfortunately a limitation of Fluent Design, Acrylic (the translucency/blur effect) is limited to the currently active app for performance reasons (what if you have a video playing in both screens in background?) but also because the distinction between foreground app and focused app is a little complicated. Let's imagine for example that you have 2 monitors, you open the Calculator on one

[2019-03-27 07:50] DragoCubed commented on #285
It's the same with the about popup

[2019-03-28 00:18] danwalmsley opened #401 "Port to Xamarin and release on android and ios"
This calculator is prob the best and most useable iv seen. I miss having it on windows phone. How easily can we port this to Xamarin forms and release on ios and android?

[2019-03-28 01:37] Decagon opened #402 "Clicking negate more than ten times progressively slows UI responsiveness"
I am using Calculator version 10.1812.10048.0, the latest version at the time of this writing.

**Describe the bug**
When I click on the negate button (on the bottom left hand corner) more than 10 times, the UI of the calculator becomes slower and slower to use. The more I click on it, the slower and slower the Calculator gets, until it gets so slow it is unusable.

**Steps To Reproduce**
1. Open

[2019-03-28 01:39] Decagon commented on #402
This issue also occurs with the square root, square, and 1/x buttons but not the number pad.

[2019-03-28 01:42] HowardWolosky commented on #402
I'm running 10.1903.3.0 and unable to reproduce this problem.  I tried with both negate and square root.

I tried each 100 times hovering over a different digit responded immediately, as did clicking the other button.

[2019-03-28 05:04] rudyhuyn commented on #402
Same. @Decagon can you share a screenshot of the calculator so we can try with the same theme/locale/window size than you?

[2019-03-28 05:19] rudyhuyn commented on #402
Ok, I think I found the reason why my CPU usage raises up to 20% (Core i7 8550U, so it's possible that it makes the application lags on some computers) when you press these buttons. I will work on a PR later tonight)

[2019-03-28 14:02] #73 closed

[2019-03-28 17:50] fd4n9 commented on #338
yeah. thats great idea

[2019-03-28 19:08] KaeLL opened #404 "History and Close buttons overlapping"
**Screenshots**
[Picture](https://i.imgur.com/OD1dHIr.png)

**Device and Application Information (please complete the following information):**
 - OS Build: 1809
 - Architecture: x64
 - Application Version: 10.1812.10048.0

[2019-03-28 21:39] rudyhuyn commented on #404
Already fixed! https://github.com/Microsoft/calculator/pull/327

[2019-03-28 21:50] contextfree commented on #395
It might be worth looking at the [xlang](https://github.com/Microsoft/xlang) project which is a Microsoft effort to produce a WinRT-like language interoperability system that would be cross-platform (there is already a Linux build) and open source. This would seem to theoretically allow for both of the above goals, Linux support and easy usage from C# and other language apps, to be achieved togeth

[2019-03-28 22:11] rudyhuyn commented on #395
xlang is an amazing project, but you are right, it's too early for the moment. The main issue with UWP C# apps is that you can only use Windows Runtime Component, if you want to use a standard C++ library in your app, you can only do it if you use a "facade" (an extra C++ Windows Runtime Component library between the C# app and the C++ library):

C# XAML app <--> C++ Windows Runtime Component <-->

[2019-03-28 22:20] contextfree commented on #395
It wouldn't fix it by itself, but it seems like it would (when/if xlang is finally production ready) at least make it possible to fix it without precluding Linux support. i.e., instead of making it into a WinRT component, it could be made into an xlang component. Then it could be supported by both C# and Linux. Or am I misunderstanding something?

[2019-03-28 22:46] rudyhuyn commented on #395
The issue with Full UWP C#/F# apps is not language interoperability (C++ Windows Runtime components can already communicate with C# Windows Runtime components) but the scope of this interoperability, Windows Runtime Component has not only a wider scope for type interop: (take a look at https://docs.microsoft.com/en-us/windows/desktop/winrt/base-data-types for example versus https://github.com/Micr

[2019-03-28 23:08] rudyhuyn commented on #202
This is not necessary, Visual Studio already ship `clang-format` since 15.7:
https://devblogs.microsoft.com/cppblog/clangformat-support-in-visual-studio-2017-15-7-preview-1/

[2019-03-29 00:56] grochocki commented on #404
Thanks foe the reprot! Look for the fix in an upcoming update. Dupe of #326.

[2019-03-29 00:56] #404 closed

[2019-03-29 01:01] rudyhuyn commented on #54
It looks like it was fixed by one of the recent PR!

![image](https://user-images.githubusercontent.com/1226538/55202125-53ccb100-5183-11e9-9157-2db5030a96a8.png)

![image](https://user-images.githubusercontent.com/1226538/55202132-5f1fdc80-5183-11e9-9ff7-d8e3e0f53ca8.png)

[2019-03-29 02:21] rudyhuyn opened #407 "Code Cleaning: AppBar, OperatorTextBox and OperandTextBox, TitleBar never used"
**Cleaning**
The 3 following controls in Calculator/Controls are never used in the application.
- AppBar: https://github.com/Microsoft/calculator/search?q=AppBar&unscoped_q=AppBar
- OperatorTextBox: https://github.com/Microsoft/calculator/search?q=OperatorTextBox
- OperandTextBox: https://github.com/Microsoft/calculator/search?q=OperandTextBox

TitleBar and TitleBarHelper are used in different par

[2019-03-29 03:00] Decagon commented on #402
I am using `English (US)` as my locale. Here is the screenshot of the calculator:

![image](https://user-images.githubusercontent.com/7844441/55206538-960ee600-51b5-11e9-9391-ced8c20d446d.png)

[2019-03-29 03:38] alexyorke opened #408 "The programmer tab's byte view flickers when switching between byte, dword, and qword only when standard view has not been used"
**Describe the bug**

When switching between byte, qword, and dword on the programmers view, the zeros (that are normally dimmed) will flicker (going to grey, then to white, then to grey within a few milliseconds after the button was clicked once) and then go back to grey when the modes are switched. This issue does not occur after other calculations are performed on the standard view (e.g. adding

[2019-03-29 05:59] grochocki commented on #408
Thanks for the detailed report! I cannot repro 100% of the time, but can easily see the odd flickering you are describing. The detailed repro steps really help!

[2019-03-29 06:08] grochocki commented on #54
Yep, though I think we uncovered a new bug. The refresh content should be right-aligned here:

![image](https://user-images.githubusercontent.com/1414423/55212790-51338100-51ae-11e9-8600-b05ec434e488.png)

[2019-03-29 06:13] grochocki opened #409 "Some content in Currency Converter not right-aligned properly in RtL"
**Describe the bug**
While in an RtL language, Currency Converter refresh content is not right-aligned.

**Steps To Reproduce**
1. Switch to RtL language
2. Navigate to Currency Converter page
3. Observe that the refresh rates content is not right-aligned with currencies.

**Expected behavior**
All content should be right-aligned along the same vertical.

**Screenshots**
![image](https://user-imag

[2019-03-29 06:13] grochocki commented on #54
Created #409 to track new bug. Closing this as no repro.

[2019-03-29 06:13] #54 closed

[2019-03-29 06:16] grochocki commented on #402
I also cannot repro this issue, but it would be interesting to see if @rudyhuyn's PR helps address the reported issue.

[2019-03-29 06:17] fd4n9 commented on #338
cuz i always use sites with graphic mode and i will can using this dont opening the sites

[2019-03-29 06:57] rudyhuyn commented on #409
Ok, working on it!

[2019-03-29 07:57] rudyhuyn commented on #408
If someone wants to look into it, the "flicking" is due to the asynchronous change of `FlipButtons::IsEnabled` (changing the opacity of the control) via x:Bind and the `FlipButtons::IsChecked` (changing the color from white/black to Accent Color) via event + code-behind.

To clarify the (very) detailed repro, there are in fact 2 different "grey":
- black text + opacity (IsEnabled)
- @Decagon's acc

[2019-03-29 21:08] pavlkara1 commented on #401
By running Microsoft's .NET Assembly portability analyzer, you can see the percentage of the current compatibility status. I run it this locally and not much has to be changed to port it to Android and iOS (the assembly compatibility is about 95% on both platforms). So yes. Not much effort has to be put.

[2019-03-30 05:47] vlogozzo commented on #61
after `createrat/num` and `deleterat/num` are gone, would the plan be to move the allocation into their respective structs?

Im currently working my way down each function call and changing `PRAT`s to `unique_ptr<RAT>`s, but none of this memory is actually allocated. I did create a `operator=` overload for each struct so far to handle `DUPNUM` calls deeper in the engine.

[2019-03-30 06:25] rudyhuyn commented on #111
Does it? Or do you mean between Standard/Scientific (float mode) versus Programmer (int mode)?

[2019-03-30 16:55] Decagon opened #413 "Full keypad icon in programmer mode is almost invisible (contrast ratio 1:1.6)"
**Describe the bug**

The view full keypad icon is almost invisible in programmer mode.

**Steps To Reproduce**

1. Open Calculator
2. Switch to programmer mode
3. Maximize the Calculator window
4. The full keypad button should be left to the regular keypad icon. Hovering over the left side of the full keypad icon shows a lit up square with a tooltip that says "Full Keypad", but the icon is almost

[2019-03-30 17:25] joshkoon commented on #111
Apologies - mistyped. You're correct, I meant Std/Sci versus Programmer.

[2019-03-30 19:09] rudyhuyn commented on #111
@joshkoon: don't worry! It's better to fully understand CalcEngine before trying to modify it, I was afraid to miss something! I took your feedback into account and use remainder in Programmer mode and arithmetic modulo in Normal/Scientific mode, it makes a lot of sense to do it

[2019-03-30 22:26] Decagon opened #414 "Performance: takes three seconds to evaluate 4-4-4-...-4 repeated 27 times; expressions with more terms cause several second delay"
**Describe the bug**

Expression evaluation is extemely slow for long expressions. This expression `4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-1` takes three seconds to evaluate when pasted into the calculator.

**Steps To Reproduce**
1. Open Calculator
2. Paste in the above expression
3. Wait three seconds
4. The result will be displayed

**Expected behavior**

The result should be alm

[2019-03-30 22:53] Decagon opened #415 "Error message is clipped when disconnecting from the internet while on currency view"
**Describe the bug**

Saving a number that almost causes an overflow to the memory twice
When disconnecting from the internet while on currency view, the error message is clipped.

**Steps To Reproduce**
1. Open Calculator
2. Go to Currency
3. Wait for the rates to update
4. Disconnect from wifi
5. The error message is clipped

**Expected behavior**

The error message should not be clipped, and sh

[2019-03-30 23:49] alexyorke opened #416 "Temperature/Angle/Power conversion outputs change if there are more than three zeros after the input value, even though the value are mathematically equivalent"
**Describe the bug**
When appending zeros to a number when converting a temperature, the output suddenly becomes incorrect, even though the value is the same.

**Steps To Reproduce**
1. Open Calculator
2. Switch to temperature view
3. Switch the first temperature type to Celculus
4. Switch the second temperature type to Kelvin
5. Type in `273.00000000000`
6. The output will change from `0.15` to `

[2019-03-31 02:24] Decagon opened #417 "Programmer mode decimal underflows when number is larger than an unsigned 64bit int"
**Describe the bug**

When entering in a large binary number (9,223,372,036,854,775,807 in decimal), and then adding one, the Calculator reports that the value is -1, when it should be 9,223,372,036,854,775,808. It appears that only the decimal value is affected; the others (such as hex or octal) do not underflow.

**Steps To Reproduce**

1. Open Calculator
2. Switch to Programmer's mode
3. Type i

[2019-03-31 03:03] vlogozzo commented on #61
with the planned removal of `create/delete rat/num` where should allocation of the structs be handled

[2019-03-31 04:00] Decagon commented on #413
I realized this was intentional. Closing.

[2019-03-31 04:00] #413 closed

[2019-03-31 05:34] jatinkumarg commented on #407
Do those controls needed to be removed? If yes. can I do it?

[2019-03-31 05:37] rudyhuyn commented on #415
Do you use the public version of the calculator or do you compile it? Can you check that your issue is similar to this one (we fixed it some days ago):

https://github.com/Microsoft/calculator/issues/248

Thanks!

[2019-03-31 06:45] rudyhuyn commented on #417
The behavior of the calculator seems to be the one I would expect. I think the confusion comes from how Two's complement works.

This is not the behavior I have when I test, If I enter `9,223,372,036,854,775,807` and type `+` then `1`, I get `-9223372036854775808` (as expected 011111..11 + 1 = 10000..000).

Can you explain why it should be 9,223,372,036,854,775,807?

- Adding one when it says -1 w

[2019-03-31 06:53] rudyhuyn commented on #416
Nice found! I agree, it's a bug, the calculator should ignore the trailing zero. Probably a bug with `Rational`

[2019-03-31 07:22] rudyhuyn commented on #414
I confirm the bug, `4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-1-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4-4` freezes the calculator for 7 seconds!

The PR #403 fixes this issue and displays the result in less than 0.5 seconds

[2019-03-31 07:46] rudyhuyn commented on #407
Hi @jatinkumarg! Microsoft should first check and accept (or decline) this issue. Look at labels in the right column, it's currently "triage needed", you can start working on it once `triage approved` added.

(The cleaning should also include the <Style /> only used by these controls).

[2019-03-31 13:33] Decagon commented on #417
You're right! I completely forgot about two's complement. Closing.

[2019-03-31 13:33] #417 closed

[2019-03-31 13:33] Decagon commented on #415
I tried to build it locally, but I didn't have enough disk space. I will be more careful about reporting issues in the future if a relevant PR exists that fixes my issue. Closing.

[2019-03-31 13:33] #415 closed

[2019-03-31 19:16] danbelcher-MSFT commented on #61
They likely can be replaced with calls to `make_unique`.  For example:
[code]
can become:
[code]

[2019-03-31 21:30] grochocki commented on #414
Thanks! I can also confirm the issue.

[2019-03-31 21:32] grochocki commented on #416
Thanks for catching this!

[2019-03-31 21:37] grochocki commented on #111
Good point. Approved and modified comment above to clarify expected behavior.

[2019-04-01 10:20] rudyhuyn commented on #78
I've a question about CompactOverlay. Do we plan to use it because:
1. It's the only UWP API available but we would prefer a real way to pin the window on top
2. By design, we prefer a very tiny window.

In my opinion, the compactOverlay mode is perfect for videos but for the calculator, the window is too small in this mode.

If the answer is 1, I can submit this week a PR adding a toggle to pin/u

[2019-04-01 13:17] seyfer commented on #202
@danbelcher-MSFT answering here to review comment

this is not really possible to keep the previous style at all.

This setting controls at which point all cases will be broken or kept in one line
`ColumnLimit: 160`
So even if we have the rule to break `if`, constructor or else, then they are all affected by columns limit settings. And if the rule - true, but the line length < `ColumnLimit` then n

[2019-04-01 14:12] seyfer commented on #202
@danbelcher-MSFT if I set `AlwaysBreakAfterDefinitionReturnType: true` then it will be
[code]

[2019-04-02 00:00] grochocki commented on #108
@Tak-Au When you get the chance, can you update your idea with more details following the feature pitch template from our [New Feedback Process](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md)?

[2019-04-02 00:07] grochocki commented on #24
@arcadiogarcia When you get the chance, can you update your idea with more details following the feature pitch template from our [New Feedback Process](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md)?

[2019-04-02 00:09] grochocki commented on #139
@madprops When you get the chance, can you update your idea with more details following the feature pitch template from our [New Feedback Process](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md)?

[2019-04-02 00:13] #139 closed

[2019-04-02 00:17] grochocki commented on #172
While I agree that fast unit switch can be a bit of a hassle, you can change which textbox you enter input into today, so a fast switch may not be the best option here. #266 has some good conversations about how to streamline this user flow, so closing this for now as a duplicate of that one.

[2019-04-02 00:24] grochocki commented on #215
@TristanYoung When you get the chance, can you update your idea with more details following the feature pitch template from our [New Feedback Process](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md)?

[2019-04-02 00:28] grochocki commented on #102
@manuelelucchi Thanks for the extra details! When you get the chance, can you update your idea with more details following the feature pitch template from our [New Feedback Process](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md) (by editing your original submission)?

[2019-04-02 00:28] grochocki commented on #293
@NickTao88 When you get the chance, can you update your idea with more details following the feature pitch template from our [New Feedback Process](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md)?

[2019-04-02 00:49] grochocki commented on #78
Using CompactOverlay is by design and by choice. Among other reasons, where possible, we want to let the system make windowing decisions for us.

Most issues that we have been addressing so far are defects (i.e., bugs), but we follow a slightly different process for new features and tend to do a bit more upfront background research/design work before submitting PRs. We'll have more to share on thi

[2019-04-02 01:33] rudyhuyn commented on #78
To be honest, it works well but is probably a little too creative (and limited to Desktop). If the Calculator app can motivate the platform team to allow developers to set a minimum size for the `CompactOverlay` mode, it will be a great! I look forward to seeing what you're preparing!

[2019-04-02 03:11] arcadiogarcia commented on #24
Sure! This would be the feature pitch:

### Problem Statement
The calculator app currently supports different input mechanisms (keyboard, mouse, touch, pen), and while the app interface has been tailored in some way for for the rest of them, pen input has received less attention: the pen is treated like a regular mouse pointer with no special consideration. This is less than ideal when trying to i

[2019-04-02 03:25] grochocki commented on #24
This is great, thanks! I am going to update your original comment with these new details.

[2019-04-02 09:34] eyaler opened #418 "zero to the power of zero gives one"
0^0
result = 1
expected = undefiend

[2019-04-02 12:30] NickTao88 commented on #293
Sure no problem

On Mon, Apr 1, 2019 at 8:28 PM Dave Grochocki <notifications@github.com>
wrote:

[2019-04-02 16:55] TheJoeFin commented on #418
This is an unsettled area of mathematics. Setting 0^0=1 is an accepted answer, as well as stating undefined. According to IEEE there are multiple ways of defining this result, but 1 is an accepted answer.

[Wikipedia Source](https://en.wikipedia.org/wiki/Zero_to_the_power_of_zero)

[2019-04-02 20:45] rudyhuyn commented on #401
The main issue is not the assembly compatibility, but Xamarin and .Net Core not supporting C++/CX :(

[2019-04-02 21:10] pavlkara1 commented on #401
That's true. You cannot do it with Xamarin. You can use other tools to port it. (So yes. not relevant to this issue)

[2019-04-02 21:20] grochocki commented on #418
Thanks for filing this! According to [Wikipedia](https://en.wikipedia.org/wiki/Zero_to_the_power_of_zero), we are returning the generally agreed upon value, so going to close this as by design:

[2019-04-02 21:20] #418 closed

[2019-04-02 21:34] grochocki commented on #393
Thanks for the feature suggestion! Let's keep this idea open for discussion so the community has the chance to provide feedback. Check out our [New Feedback Process](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md) for more info on the user-centered process we follow for new feature development.

[2019-04-02 22:51] grochocki commented on #379
@danbelcher-MSFT Can you take a look at Rudy's proposal?

[2019-04-03 12:25] CodeRunRepeat opened #419 "Add "Running" conversions category"
**Problem Statement**
Distance running is a constant interplay between space, time, and pain. Eavesdrop into any discussion between runners, and you’ll be constantly hearing about paces, race times, interval splits, and hitting the wall. Athletes and coaches need to convert between different speed, pace, and race time measures when they are planning their training or races. These conversions are m

[2019-04-03 12:59] stathopi commented on #419
That would be super cool. Running community will highly appreciate this!!!

[2019-04-03 13:45] #140 closed

[2019-04-03 16:17] Decagon opened #420 "Copying "Result is undefined" to the clipboard pastes as "Resultisundefined'"
**Describe the bug**

When dividing `0/0` and the "Result is undefined" text appears, copying the result to the clipboard and pasting it results in a string without spaces.

**Steps To Reproduce**

1. Open Calculator
2. Type `0/0`
3. Right-click on `Result is undefined` and select Copy
4. Open a text edit and paste
5. The pasted text will be `Resultisundefined`

**Expected behavior**

The pasted t

[2019-04-03 16:48] Decagon opened #421 "Using the up-arrow to select items in the conversion list only works after using down arrow at least once"
**Describe the bug**

This is a complicated visual bug. When the Conversions hamburger menu is open, scrolling to the bottom and using the up arrow, the list will scroll but will not select items. When it gets to the stop, "Standard" will be cut off and the hamburger icon will be selected. Using the down arrow and up arrows will allow any item in the list to be selected. When closing the menu and

[2019-04-03 18:48] grochocki commented on #419
Thanks for the feature suggestion! This is really well thought-out, and we really appreciate it. Let's keep this idea open for discussion so the community has the chance to provide feedback. Check out our [New Feedback Process](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md) for more info on the user-centered process we follow for new feature development.

[2019-04-03 18:50] grochocki commented on #420
Good catch! Thanks for the report.

[2019-04-03 19:00] grochocki commented on #421
Nice find! I agree there seems to be an issue here with keyboard navigation, though it is unclear if it is us or the NavigationView control. I can repro in Calculator, but not in Groove (with a bunch of playlists) or in XAML Control Gallery, though both of those apps have a search box, which grabs focus and may prevent arrow keys from scrolling the list.

[2019-04-03 19:17] MicrosoftIssueBot opened #424 "Application fails to take float value for Currency converter when Japanese Calendar is enabled"
A team member will update this issue with more details soon.

[2019-04-03 20:36] danbelcher-MSFT commented on #202
Hey all, it seems like there is community interest in getting this change checked-in.  I unlocked the PR so we can discuss details there.

[2019-04-03 21:08] alexyorke opened #425 "Feature: typing the letter c clears the display"
**Problem Statement**

Typing the letter c should invoke calculator's clear function (denoted by the c on the interface.) This would allow more keyboard-only functionality, as pressing delete key on the keyboard activates the delete key on the calculator.

**Evidence or User Insights**

macOS's calculator clears when the user presses C since I believe Tiger. macOS has a fairly large userbase as we

[2019-04-03 21:14] Geveffe commented on #424
**Describe the bug**

When you update your calendar settings to Japanese, Calculator's currency converter stops letting you input values after a decimal point.

**Steps To Reproduce**

1. Open intl.cpl
2. Select "Japanese (Japan)" from the "Format" drop down
3. Select "Additional Settings" Date
4. In the "Calendar Type" dropdown, select the 2nd calendar "和暦", which is the Japanese
5. Select "Apply

[2019-04-03 21:18] Geveffe commented on #424
I looked into this one a bit more. The reason that this happens is that when you change your Format to Japanese (Japan) the Currency Format changes by default to have 0 "No. of digits after decimal". This may or may not be correct, but Calculator is correctly using the format. I will follow up with the intl.cpl team form them to decide if the current intl.cpl behavior is correct or not.

[2019-04-03 21:20] alexyorke opened #426 "Delete key stops working in programmer mode if left bracket is clicked first"
The delete key (on the UI and on the keyboard) does not work after entering in a number, pressing the right bracket, then clicking delete. Even after making the brackets match, the delete button will not work (even if the input shows as `(7)`) until the display is cleared.

**Describe the bug**

**Steps To Reproduce**

1. Open Calculator
2. Open Programmer mode
3. Select HEX mode (anything other t

[2019-04-03 21:37] janisozaur commented on #425
How do you enter `c` then?

[2019-04-03 21:43] joshkoon commented on #425
Thanks for the suggestion, Decagon! The Clear key is currently mapped to the Escape key on the keyboard (with CE and backspace mapping to Delete and Backspace on the keyboard, respectively). Switching this mapping to use the C key, instead, would cause conflicts in Programmer mode, where C is a valid digit in hexadecimal.

[2019-04-03 21:51] HowardWolosky commented on #425
What I _do_ see as the issue here is that there isn't an obvious way to _discover_ that <kbd>ESC</kbd> maps to `C`.  That keymapping doesn't show up when you press <kbd>ALT</kbd>, and I'm not aware of a UWP-standard way to advertise this type of keymapping.

[2019-04-03 21:59] Decagon commented on #425
I'm thinking all capitals could be rejected other than the letter C, which would clear. However, this might be a very sub-optimal solution, as it would force all hex characters to be entered in as lowercase.

[2019-04-03 22:11] joshkoon commented on #425
There is not a standard UWP way of advertising this. [Issue 157](https://github.com/Microsoft/calculator/issues/157) seems to cover this problem and proposes one possible solution in the form of having a viewable list of available shortcuts, though there are other approaches that could be taken, as well.

[2019-04-03 22:31] rudyhuyn commented on #426
There are 2 issues in fact:
- `)` is considered as a "end-of-operand" even if no `(` exists
- the calculator only allows you to delete digits, not operators.

In the first case, IMO the calculator should ignore the `)` and allow users to continue to edit the current operand.

In the second case, it's a little more complicated, the limitation is not only with parenthesis, but with all operators, if

[2019-04-03 22:45] Decagon opened #427 "fact(negate(0)) is invalid input, but fact(0) is 1; negating zero only works when it has not been entered"
**Describe the bug**

I'm not sure if this is intended design, as IEEE 754 defined -0 and +0 as different.

Negating zero then taking its factorial results in invalid input, while taking the factorial of zero is 1, even though calculator shows negated zero as zero.

**Steps To Reproduce**

1. Open Calculator
2. Open Scientific mode
3. Press n!
4. The number 1 will appear.
5. Clear input
6. Press n

[2019-04-04 00:26] grochocki commented on #153
@ThiefMaster Thanks for submitting your idea! We agree there is likely something we can do to improve this experience, but it would be good to refine the idea a bit more before moving forward.

We agree that regardless to your PC's language settings, we should be able to handle _pasted_ input with both separators. Is this what you had in mind? Or would you expect the ability for a user to _type_ i

[2019-04-04 00:33] grochocki commented on #382
@TurtleShip Sorry for the delay, but I wanted to double-check on this on our side

We reviewed the pitch and would love to move forward with it. Let's scope this to adding the Pyeong for Korean locales for now. Since the idea is fairly straightforward and is entirely captured by the pitch, we can move this straight into production. @TurtleShip, if you are still interested in implementing this one,

[2019-04-04 00:44] TurtleShip commented on #382
Hi, @grochocki

Thanks for getting back! Yes, I am still interested in implementing this one 😄
I can work on it this weekend and hopefully submit a PR as well!

[2019-04-04 00:46] MicrosoftIssueBot opened #428 "Update Calculator keyboard for greater consistency and extensibility"
**Problem Statement**
The Calculator keyboard requires some changes to meet the demands of upcoming features, including graphing mode and always-on-top mode. Furthermore, the current standard keyboard could be better at accommodating scaled screen sizes, which improves overall accessibility of the app. There are a number of other problems this spec seeks to address, including reducing confusion ov

[2019-04-04 01:12] rudyhuyn commented on #428
The concept already looks better than the current version (especially font sizes and the EQU button using the accent color).

What's the purpose of the `2nd` button?

Do you plan to support long-press actions (or right click if used with a mouse) to display more options? For example:
- long-press on `Mod` would display `Rem`
- long-press on "Pi" would display more Mathematical constant (some examp

[2019-04-04 01:26] rudyhuyn commented on #419
This is a nice idea! It will require to modify how UnitConverter works and manage units with sub-units. Take a look at this proposal, it covers these 2 prerequisites:
https://github.com/Microsoft/calculator/issues/379

[2019-04-04 01:40] devfrenzy commented on #68
What are the steps to reproduce this? I wasn't able to.

[2019-04-04 01:40] grochocki commented on #428
Updated the mock above to show what 2nd button in action.

Interesting question! I think some of these can be addressed by 2nd button. I am working to publish more details on my thinking here soon.

[2019-04-04 02:45] alexyorke opened #429 "Copy values directly from history to clipboard using right-click"
**Problem Statement**

The pain point is that in order to copy a previously-calculated number to the clipboard, you have to save the current number to memory, click on the history item, click copy on the display, then re-insert the item from memory. This is slow and tedious, and also erases the last item in the history as a side effect of restoring the value. Instead, I propose that items can be c

[2019-04-04 03:54] rudyhuyn commented on #429
Good idea! For your info, a recent pull request has also enabled text selection in the History, allowing users to copy the value (or a part of the value), a menu item can be a good addition to text selection!

[2019-04-04 05:30] grochocki commented on #429
Thanks for the feature suggestion! Let's keep this idea open for discussion so the community has the chance to provide feedback. Check out our [New Feedback Process](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md) for more info on the user-centered process we follow for new feature development.

[2019-04-04 05:31] ThiefMaster commented on #153
Yes, that's indeed what I had in mind. Like I said, on Windows 7's calc this worked just fine.
I think most apps just use the system setting for output (well to be honest, many completely ignore them) but follow the principle of "be lenient in what you accept for input, but be strict of what you output".

[2019-04-04 05:32] grochocki commented on #68
@danbelcher-MSFT @joshkoon I know we saw some issues in the past that caused us to add this to our backlog. Do either of you recall some of the scenarios we were looking to address?

[2019-04-04 06:15] rudyhuyn commented on #420
Good catch! I will take a look!

[2019-04-04 06:38] rudyhuyn commented on #407
@jatinkumarg, good news, this task has been approved, do you still want to do it?

[2019-04-04 06:49] rudyhuyn commented on #311
It usually happens when the context menu is associated to the `ItemTemplate` instead of the
`ItemContainer` (not really intuitive), I will fix that.

[2019-04-04 07:32] grochocki commented on #427
Thanks for the detailed report! This appears to be a specific instance of the general problem described in #67. Would you agree?

[2019-04-04 09:30] rudyhuyn commented on #424
This issue showcases a wider issue.

The Currency Format dialog gives information about the locale currency, not all currencies.

When you use Japanese yens, the lower coin is 1 yen, cents don't exist, so it seems normal that the number of digits after decimal equals 0 when the region is Japan. But should we use this settings for all other currencies? Probably not.

When we convert Yen in Dollar,

[2019-04-04 09:48] rudyhuyn commented on #424
The number of decimals for each currency is defined in [ISO-4217](https://en.wikipedia.org/wiki/ISO_4217), we can hard-code the list of currencies not using 2 decimals and use it for Currency Converter.

@Geveffe, let me know if I should create another issue or if we can just rename this one in order to debate about this idea.

[2019-04-04 16:03] Decagon commented on #389
On 10.1902.42.0, pasting text (e.g. ` issue come i`) into the date field then going back to standard yields "Invalid input", even though input was not pasted in using Standard mode. Not sure if this would be an issue or if this is related to this one. It also causes Standard mode to lose its current calculation output when doing so when switching back to it.

[2019-04-04 16:53] jatinkumarg commented on #407
@rudyhuyn yeah!

[2019-04-04 17:22] joshkoon commented on #68
I believe it was primarily Narrator scenarios, where the display value is read twice.

[2019-04-04 18:33] devfrenzy commented on #56
How is Programmer mode using Tag?
I found:
[code]
but also in the same resource file
[code]
and code in RadixToStringConverter that is using resource strings that are not referring to the ones with ".Tag"
[code]
Am I looking at the wrong place or is it resolved already?

[2019-04-04 21:47] Decagon opened #435 "Font does not auto-resize sometimes in Weight and Mass conversion view but will when the same value is pasted in"
**Describe the bug**

Pasting in the output as the input in Weight and Mass causes the primary input's font size (not the field that has been pasted into) to correctly auto-resize, even though the number is exactly the same length. The font size does not auto resize when selecting the bottom field.

**Steps To Reproduce**

1. Open Calculator
2. Open Weight and Mass
3. Select "0" in the Pounds cate

[2019-04-04 21:57] Decagon commented on #427
I'd say that's similar enough to merge both issues.

[2019-04-04 22:20] danbelcher-MSFT commented on #324
I have a PR out to address this issue.  We'll have to take the risk of regressing CMake/Clang builds for now until we get CI support.

[2019-04-04 22:26] Decagon opened #437 "Clicking on the same element in the hamburger view should re-open that view, like the menu items do"
**Problem Statement**

The pain point is that when opening the hamburger menu, it is unclear what view I am currently on. Re-selecting the same view that I'm already on (e.g. Currency) does nothing. but the menu item registers a click animation. Clicking out of the hamburger menu reveals that I'm already on that view.

**Evidence or User Insights**

When selecting a menu item that has already been

[2019-04-04 23:23] rudyhuyn commented on #435
This issue has (indirectly) been fixed by #246!

Left: public version. Right: dev version.
![image](https://user-images.githubusercontent.com/1226538/55594811-e6c29980-56f5-11e9-8f18-331242687829.png)

[2019-04-04 23:26] rudyhuyn commented on #437
Good catch! Just to clarify, there is 2 ways to do it:
1. simply close the side menu
2. close the side menu **and** reset the view (default value, default units, etc...)

1 is IMO the most common solution used in Windows.

[2019-04-04 23:27] Decagon commented on #435
Oh, I didn't see that! Closing.

[2019-04-04 23:27] #435 closed

[2019-04-04 23:55] #364 closed

[2019-04-05 03:12] devfrenzy commented on #68
OK. I was able to reproduce.
Can you point me to description of Value pattern? Is that Value Object?

- Double reading "Display is..." when the display has focus
1. Open Calc and press on value display so it's in focus.
2. Press 5 on the keyboard, not click on 5 button with mouse
3. "Display is five. Display is five. Heading level one."

- Announcing the "Display is" prefix every time a key is pre

[2019-04-05 03:37] #427 closed

[2019-04-05 03:42] Decagon commented on #416
Also happens with Angle and Power view, but not Speed view, strangely.

[2019-04-05 04:45] grochocki commented on #68
Take a look at [Custom Automation Peers](https://docs.microsoft.com/en-us/windows/uwp/design/accessibility/custom-automation-peers). In particular, [IValueProvider](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.automation.provider.ivalueprovider).

The issue is the string "Display is", which makes it very slow to use Narrator + Calculator.
 We still want the actual display value to be r

[2019-04-05 05:13] grochocki commented on #437
Treating this as a bug. Agree with @rudyhuyn here that the expected behavior is that the side menu closes.

[2019-04-05 05:19] grochocki commented on #424
Thanks for digging into this @rudyhuyn. We should definitley handle the variations between currencies. As you point out, there is some nuance here for handling conversions (e.g., Yen/Dollar), so lets create a new issue to discuss further.

[2019-04-05 05:33] rudyhuyn commented on #437
@Decagon, do you still have issues some issues to build the app (disk space in my memory)? If you want to work on this fix, let us know!

[2019-04-05 05:57] rudyhuyn opened #439 "Modify the title of the window to "Calculator [Dev]""
**Describe the change**
Modify the name of the application visible in the Titlebar of the window to make it easier to distinct the 2 version of the calculators (public and dev). This change will also be helpful when users post issues with screenshots (the application icon not being visible in a majority of them)

**Screenshots**
Hard to distinct the 2 apps
![image](https://user-images.githubuserco

[2019-04-05 07:11] jatinkumarg commented on #407
@rudyhuyn I have added my [PR](https://github.com/Microsoft/calculator/pull/440). Can you please review it?

Do you also want me remove the TitleBar and TitleBarHelper?

[2019-04-05 07:54] rudyhuyn commented on #407
We should ask @grochocki. Do you have any plan with Titlebar/TitlebarHelper or is it a "relic" from the past (w10m?)?

[2019-04-05 17:51] danbelcher-MSFT commented on #407
The TitlebarHelper code is for compact layout when the History/Memory flyouts are opened.  They let you click and drag the titlebar without dismissing the flyout.

[2019-04-05 21:42] rudyhuyn commented on #407
@danbelcher-MSFT

The main reason you can't drag and drop is partially caused by the "fix" (TitleBar/TitleBarHelper and all Border named "CustomTitleBar" blocking pointer events), I will push a PR tonight cleaning all that and still letting you to drag and drop the window when the flyout is opened

[2019-04-05 21:56] brulecap commented on #385
New to the calculator community and would love to contribute any way I can.

I verified that this is not only a problem with Narrator but also with the NVDA screen reader. Both pronounce "0th" as "0" and "th" separately. Other screen readers?

I then went down a bit of a rabbit hole when considering the propriety/impropriety of using the ordinal term zeroth(0th). It seems the 1st bit would be bit

[2019-04-05 22:00] danbelcher-MSFT commented on #407
The TitleBar usercontrol is because we briefly experimented with having a button in the About page that allowed users to opt-in/out of experimental content.  It was a legal requirement that the titlebar updated to reflect if they were in an experimental build or not.  Since we aren't doing that anymore, it should be fine to remove the usercontrol.

[2019-04-05 22:02] danbelcher-MSFT commented on #385
What about "low bit"/"high bit"?

[2019-04-05 22:41] vlogozzo commented on #61
so im making progress I have the `Rational`'s `operator+=` and all the functions it calls switched over to smart pointer references, but now upon leaving scope im getting a memory leak from `MANTTYPE mant[]`, and both c and c++ style deallocations wont work, any advice or insight on this varriable.

[2019-04-05 22:52] danbelcher-MSFT commented on #61
Yes, memory is leaking because `delete[]` was not called on the data member.  As discussed in [#211](https://github.com/Microsoft/calculator/pull/211#issuecomment-480371366), using arrays this way is non-standard behavior and we should change the member to `std::vector<MANTTYPE> mant;`.  I think @fwcd is already working on that change.

[2019-04-06 02:52] vlogozzo commented on #61
if its worth anything `delete[]` wont compile on used on `MANTTYPE`, but ill look out for rewrite and work from there

[2019-04-06 05:00] grochocki commented on #385
How about just ["least significant bit"](https://en.wikipedia.org/wiki/Bit_numbering)?

[2019-04-06 06:21] TristanYoung commented on #215
I'm used to fixing problems head-on, rather than discussing them.  I'll give it a shot though.

**Problem Statement**
Entering calculations into the calculator can be tedious when working across multiple program windows. Compounding the problem is when multiple calculator instances are running. Selecting the wrong instance can cause calculation errors, and wastes time.  This can be detrimental whe

[2019-04-06 06:43] rudyhuyn opened #441 "In High-Contrast mode, the Title Bar should change color when the window is inactive"
**Describe the bug**
As indicated here: https://docs.microsoft.com/en-us/windows/uwp/design/shell/title-bar

This is even more true when High-Contrast is activated to improve accessibility.

The Calculator currently uses the same color when the window is active and inactive.

**Steps To Reproduce**
- Activate High-Contrast
- Launch the Calculator
- Switch between applications
--> the Title bar col

[2019-04-06 06:46] rudyhuyn commented on #441
I just noticed the titlebar has also an issue with padding on the right:

![image](https://user-images.githubusercontent.com/1226538/55665978-f2e54e80-57fc-11e9-97c9-7c4cca48f61b.png)

[2019-04-07 04:52] grochocki commented on #441
Good catch. Outside of HC, we have acrylic/no acrylic, but we should definitely handle HC case as well.

[2019-04-07 05:19] rudyhuyn commented on #441
The PR I sent only modify the UI when in HC, but we should probably also modify the color of the title when Acrylic is not activated (Battery Saver, Transparency Effects disabled by users in `Settings > Personalization > Colors`, ... ), I can include that in my current PR if you are ok.

_Impossible to see that the Calculator doesn't have the focus:_
![image](https://user-images.githubusercontent.

[2019-04-07 08:12] TurtleShip opened #445 "User preferences are not restored between sessions."
**Describe the bug**
Looking at Calculator source code, it looks like we meant save a user's last selected category and units, and restore them when a calculator starts up. In other words, Calculator meant to support saving & restoring user preferences between sessions.
However, calculator is failing to restore saved units. It does restore saved category.

**Steps To Reproduce**
1. Launch Calculat

[2019-04-07 18:27] brulecap commented on #385
@danbelcher-MSFT, not sure how "low bit"/"high bit" could be used. I assume "low bit" would be bit position 0, "high bit" bit position 63. What would be the convention for the remaining 62 bits? Am I missing something?

@grochocki, "least significant bit" would work but departs from the convention used for the remaining 63 bits.

Both of these would also require providing language specific transla

[2019-04-08 04:46] grochocki commented on #215
Thanks, @TristanYoung!

[2019-04-08 04:53] grochocki commented on #441
Good point. Yes, we can cover that as part of this PR.

[2019-04-08 05:49] grochocki commented on #385
True, but the convention here is self-defined. "Least significant bit" is an industry term for the low bit. We _could_ also make the highest bit "Most significant bit" (also in line with industry terminology). IMO, this is a better solution than "0 bit".

We only have to provide the English resource. Our internal localization process will localize the string into all supported languages.

[2019-04-08 14:59] Decagon commented on #437
@rudyhuyn Unfortunately, I won't be able to work on it for another month, however, I was able to get Visual Studio installed

[2019-04-08 16:13] brulecap commented on #385
Thanks, @grochocki. Just what I was looking for. I'll make the changes and submit a PR per [guidelines](https://github.com/Microsoft/calculator/blob/master/CONTRIBUTING.md#submitting-a-pull-request-and-participating-in-code-review). I appreciate the opportunity.

[2019-04-08 17:16] grochocki commented on #401
It's great to hear that you're excited about Calculator! Right now, we are focused on making improvements to Calculator on Windows. You can check out the types of improvements we are looking to make this year on our [roadmap](https://github.com/Microsoft/calculator/blob/master/docs/Roadmap.md). We are going to close this for now, but thank you @pavlkara1 and @rudyhuyn for digging into Xamarin as a

[2019-04-08 17:24] TristanYoung commented on #215
You're welcome Grochocki.  Sorry, I guess I should have edited my original post.

[2019-04-08 17:56] rudyhuyn commented on #441
@grochocki: ok, I will try to update the PR on the following days (It's our annual Hackathon this week)

[2019-04-08 18:25] danbelcher-MSFT commented on #61
Yeah, `delete[]` was a bad suggestion on my part.  The memory isn't dynamically allocated.

[2019-04-08 22:58] fitojb commented on #308
The problem has been solved in commit e7eace57f8734555157a4ebb61606524ddd38193. Thanks!

[2019-04-09 16:12] ramank775 commented on #445
Hi, i would like to work on this, if no one started this already.

[2019-04-09 16:17] TurtleShip commented on #445
Hi, there @cheezwhines , @ramank775

Yes, I am planning on fix this as indicated on my issue description 😄

[2019-04-09 18:22] #401 closed

[2019-04-09 19:09] mdtauk commented on #215
VLC offers a choice on how multiple-instancing works.
![image](https://user-images.githubusercontent.com/7389110/55827796-f2053300-5b02-11e9-83ce-95a1821de825.png)

You could have a toggle button.

**Allow a single instance of Calculator [ ||| ]____]**

and have the default set to Off.

[2019-04-09 19:40] rudyhuyn commented on #215
Good job @tristanYoung, I fully agree with you

One important piece of information missing here is: why is the calculator multi-instance? While I understand that some users need a multi-instance app, I believe the majority of users would prefer only one instance.

I see 2 possible reasons:
- User studies show that a majority of users prefer multi-instance, in software development, we should never

[2019-04-09 20:33] TurtleShip commented on #445
@grochocki  could you assign this to me if possible please?

[2019-04-09 21:12] #122 closed

[2019-04-09 21:21] mdtauk commented on #215
Having one calculator open in programmer mode, and another in standard mode can be very useful.

But having the option would make the most sense.

[2019-04-09 21:50] danbelcher-MSFT commented on #379
Hey Rudy, I generally agree with your proposal and, in particular, I'm most excited for getting rid of the ratio matrix that is generated.  I do have one question..  looking at your proposal for Multi-Part Unit, the data members you proposed were two parallel arrays (`PartNames` and `PartAbbreviations`) and a count, `NumberOfParts`.  Instead of managing parallel data, it seems like we should compo

[2019-04-09 22:37] rudyhuyn commented on #379
It was a very simplified version to only demo the idea, but I agree with you, we should have a class UnitMetadata/SubUnit and `Unit` will host a collection (a simple `std::array` will be enough), the implementation should look like:

| SubUnit |
|--------------|
| Name         |
| Abbreviation |
| Value        |
| Parent        |

| Unit                                             |
|-------------

[2019-04-10 00:48] #172 closed

[2019-04-10 00:52] grochocki commented on #445
Unfortunately, we cannot assign issues to folks outside of Microsoft due to this limitation. In general, if you are interested in working on an issue, leave a comment to let everyone know to prevent duplicate efforts.

@TurtleShip already expressed interest in working on this one after it was approved, so they can take first pass on it. Let us know if you get stuck or could use help from anyone el

[2019-04-10 01:17] TristanYoung commented on #215
rudyhuyn, from what I understand, people wanted multi-instance, and so it was changed. Calculator for XP was single instance. I can't remember, but I think Windows 7 Calculator was operating as single-instance for me, but it depended on the Microsoft keyboard driver version I used.  I also found OpenOffice Calc was one application that would cause the singe-instance feature in XP to break and woul

[2019-04-10 17:51] vlogozzo commented on #61
@danbelcher-MSFT I've noticed the conversaion on #211 has moved towards putting the `NUMBER` allocation onto the stack, making this issue non-existent. Is this the plan or should I continue with this bug? Also is there any related bugs in the project currently that I can look into?

[2019-04-10 18:13] danbelcher-MSFT commented on #61
Stack-allocation seems like the best choice here so it's likely that change will be brought in to master.  We get better performance and memory safety.  I said earlier that this issue should probably be closed and instead we should have an issue focusing on how to eliminate RAT and NUM structs.  The gist is that these structs are remnants from when the codebase was pure C code.  We've created Rati

[2019-04-11 01:19] danbelcher-MSFT commented on #338
Feature development for this issue will occur in the [feature/GraphingCalculator](https://github.com/Microsoft/calculator/tree/feature/GraphingCalculator) branch.  See 091732aa944d4d7f0085513f40cf91c1007e85e6 for the intial commit.

[2019-04-11 21:32] danbelcher-MSFT commented on #379
I'm all in favor of simplifying the UnitConverter logic.  I'm approving the issue so it's unblocked for PR.  I'm sure we'll figure out changes to the architecture as it develops.

[2019-04-12 18:36] rudes opened #452 "Typing the letters k,m,b will multiply the number respective to 1k,1m,1b"
**Problem Statement**
Using the key binds k, m, and b as a shortcut to multiplying by 1,000, 1,000,000, and 1,000,000,000 could be useful when dealing with larger numbers.

**Evidence or User Insights**
This is a feature I've seen appear in user interfaces in games as it correlates with a shortcut people often take in texting. It's fairly common to see 1,000 written as 1k.

**Proposal**
Adding the

[2019-04-12 18:52] HowardWolosky commented on #452
Interesting idea, @rudes. Thanks for filing the suggestion.

One thing for us to consider with this: similar to the comments from #425 which discussed using <kbd>c</kbd> to clear the display, we'd run into an issue with <kbd>b</kbd> in Programmer mode where `b` is a valid value for input.

[2019-04-12 18:58] rudes commented on #452
I saw #425 and tested the key binds myself but didn't notice any change when using them, I must not have gone down the right path to make `b` available. A page inside of the app that listed all key binds and how they work would be incredibly useful.

[2019-04-12 19:01] HowardWolosky commented on #452
#157 talks about that a bit.  I think there might be another issue as well that talks about there being a separate page that just covers all the keyboard shortcuts/accelerators....I'm having trouble at the moment finding where that was mentioned.

[2019-04-12 20:09] grochocki commented on #214
We reviewed the pitch and would love to move forward with it! I think this pitch is a great start, but there are still some open questions. Moving this into [pre-production](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md#step-2-pre-production) to iron out some of the details.

A couple examples come to mind:
* How do we implement the Date + Time picker?
* Does it mak

[2019-04-12 20:14] grochocki commented on #347
We reviewed the pitch and would love to move forward with it! I think this pitch is a great start, but there are still some open questions. Moving this into [pre-production](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md#step-2-pre-production) to iron out some of the details.

One key question that come to mind:
* How do we _clearly_ differentiate between temperature

[2019-04-12 20:20] grochocki commented on #116
We reviewed the pitch and would love to move forward with it! I think this pitch is a great start, but there are still some open questions. Moving this into [pre-production](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md#step-2-pre-production) to iron out some of the details.

A couple examples:
* With justification, we should figure out exactly what set of radicies

[2019-04-12 20:26] grochocki commented on #283
We reviewed the pitch and would love to move forward with it! I think this pitch is a great start, but there are still some open questions. Moving this into [pre-production](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md#step-2-pre-production) to iron out some of the details.

A couple examples:
* What is the best way to present formulas consistently accross differen

[2019-04-12 20:43] grochocki commented on #335
@DennisGaida We had the chance to review this pitch more closely, and we feel like there is definitley something we can do to audit/improve the appoximation units we display and how we display them (for example, maybe we should add "olympic size swimming pool" for really large volumes), but not sure if this issue captures it best, so I am leaning towards closing this particular discussion and open

[2019-04-12 20:51] danbelcher-MSFT commented on #452
We list our keyboard shortcuts publicly [here](https://support.microsoft.com/en-us/help/13805/windows-keyboard-shortcuts-in-apps).  I do think the list is slightly out-of-date.

[2019-04-12 20:55] rudes commented on #452
Yeah I don't see `b` for example. however unless i'm missing something that link is not readily accessible in the application itself.

[2019-04-12 20:56] rudes commented on #452
What would be really useful would be having a form within the app for a user to configure their own key binds instead of only having a default, hidden, set of key binds.

[2019-04-12 21:01] HowardWolosky commented on #452
In this case, <kbd>b</kbd> isn't a _shortcut_.  It's _input_ in the same was as the numbers <kbd>1</kbd> - <kbd>9</kbd> are, as well as the operators.  In programmer mode, <kbd>a</kbd> - <kbd>f</kbd> are valid input, just as <kbd>1</kbd> - <kbd>9</kbd> are.  They're not actually _shortcuts_.

[2019-04-12 21:25] rudes commented on #452
Ah I see it's used for hexadecimal notation. You could disable the feature when in hex notation though, if you needed to insert multiple 0s you could still do so with `k` or `m`. Is the key bind code capable of seeing the state of the app and which mode it's in?

[2019-04-13 00:51] rudyhuyn commented on #214
Another question is: how do we manage seconds, knowing that TimePicker only support Hours and Minutes? Should we add seconds to the `TimePicker` control (I'm sure a lot of other projects would like it)

[2019-04-13 17:09] meteorsnows commented on #113
There could be one point, that Microsoft's Open source to create a cross platform app, using Xamarin/CPP/some solution. Look like this isn't one. Nobody save us from bloated Electron, no even Microsoft.

[2019-04-13 17:21] meteorsnows commented on #78
Even better, if the On Top Windows can launch at specific coordinates.
1) Microsoft can just add the permission like Android "Drawing over other apps" and current Maximum size could solve some malicious issue.
2) Maximum size must be permit explicitly and carefully etc...maybe only up till 45% of screeen.

[Feature request: Launch at specific coordinates](https://wpdev.uservoice.com/forums/110705-

[2019-04-13 17:25] meteorsnows opened #453 "Embed as UWP Control"
**Problem Statement**
More UWP Control Yea.

**Evidence or User Insights**
Third Party like Telerik have it.
[Third party Telerik](https://www.telerik.com/products/wpf/calculator.aspx)

**Proposal**
Have a sample like Telerik.

**Goals**
Official UWP Control for the win. Microsoft The best.

**Non-Goals**
More Choice

**Low-Fidelity Concept**
[High Fidelity from Syncfusion](https://www.syncfusion.

[2019-04-13 20:05] rudyhuyn commented on #453
The calculator is a C++/CX application with a UWP XAML UI, so 100% of the controls you see are already UWP. But I suppose you mean UWP .Net controls (written in C# or VB), in this case it will be a little complicated.

Which control do you miss?

[2019-04-13 21:07] rudyhuyn commented on #453
This is a nice idea! You should also post your idea on the Microsoft Community Toolkit page too:
https://github.com/windows-toolkit/WindowsCommunityToolkit/issues

And here:
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/category/193402-uwp-community-toolkit

Someone posted a similar idea some years ago but didn't receive enough upvotes, but Windows changed a lot since Window

[2019-04-13 21:24] throughtele opened #454 "test"
contents

[2019-04-13 21:34] #454 closed

[2019-04-14 02:20] rudyhuyn opened #455 "Converter should progressively increase the number of significant digits (instead of switching from 7 to 15 instantly)"
**Describe the improvement**
Based on the length of the string associated to the entry value, the converter will switch from 7 to 15 significant digits when the entry value length is higher than 7.

**Steps To Reproduce**
- Open the Length converter
- Select `centimeters` and `inches`
- Type `1.22222` in the centimeter field
- add 1 extra `2`
The result will switch from `0.481189` to `0.4811897637

[2019-04-15 16:31] #367 closed

[2019-04-15 16:51] #389 closed

[2019-04-15 18:16] grochocki commented on #453
Thanks for your idea! This is really interesting, and this repo does feel like the right home for discussions on this issue, but I think we need to iron out a few more details first. For example, while we certainly _could_ do this, I think we would want to better understand how many developers would utilize this feature. Leaving this open for discussion to develop the pitch further.

[2019-04-15 18:23] grochocki commented on #455
Thanks for the feature suggestion! This is really well thought-out, and we really appreciate it. Let's keep this idea open for discussion so the community has the chance to provide feedback. Check out our [New Feedback Process](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md) for more info on the user-centered process we follow for new feature development.

[2019-04-15 21:09] mcooley commented on #395
Regarding the questions about UWP usage in the calc engine: we think it's reasonable to limit the calc engine to standards-compliant C++ with no dependencies on Windows. In the future there's nothing stopping us from taking more dependencies on Windows or distributing as a WinRT/xlang component--we'd just do that at a higher layer.

@janisozaur thanks for doing the proof-of-concept for using conta

[2019-04-15 21:15] janisozaur commented on #395
https://github.com/Microsoft/azure-pipelines-image-generation/issues/506 recently got a comment that suggests it's still alive.

When I find some time, I can check if there are images that would suit the requirements here or provide one myself.

Or do you intend to do that yourself?

[2019-04-15 22:55] mdtauk commented on #453
You could enable the Windows UI Library to take in a version of the calculator engine/core and then some common button types/templates that it can use.  I could see it as the equivalent of the Calendar pop-up control, which can be used on a **Numeric TextBox** - Perhaps a variation of it called **CalculatorTextBox**.

This Numeric TextBox could also include:

- validation for numbers;
- arrow up a

[2019-04-16 05:41] Riajyuu opened #459 "Currency list need a search box"
**Problem Statement**

It is sometimes hard to find currency you expected since the list is a bit long.

**Evidence or User Insights**

Search for currency name (e.g. US dollar), code (e.g. USD) or country name (e.g. USA).

**Goals**

locate currency quickly

**Non-Goals**

N/A

[2019-04-16 13:37] ulduzcu opened #460 ".kgj"
**Describe the bug**

**Steps To Reproduce**

**Expected behavior**

**Screenshots**

**Device and Application Information**
 - OS Build:
 - Architecture:
 - Application Version:
 - Region:
 - Dev Version Installed:

**Additional context**

[2019-04-16 14:56] #460 closed

[2019-04-16 18:29] #260 closed

[2019-04-16 19:19] mcooley opened #461 "Add UI tests using WinAppDriver"
Calculator uses variety of automated tests, including _unit tests_ (which test code in isolation) and _UI tests_ (which test the finished product). Calculator has historically had a set of UI tests, but they used Microsoft-internal test frameworks and do not have coverage as extensive as we would like.

We intend to use WinAppDriver to develop a new set of UI tests for calculator. The WinAppDriver

[2019-04-16 19:25] mcooley opened #462 "UI tests should be able to test both dev and store-released builds"
The official version of Calculator uses the appID "Microsoft.Calculator" while the one built in this repo and in our CI builds uses the appID "Microsoft.Calculator.Dev". We'll need to implement a way to pass the desired target application to the test harness at runtime, and then verify that it works in both our internal and external build pipelines.

Because testing in the internal release pipelin

[2019-04-16 21:28] michael-hawker commented on #453
Yeah I agree @mdtauk, I'd see this as more of a special numerical picker type use-case or having a 'smart text-box' like some facet of an excel/one note usage which knows how to process `5 + 3 = ` into a result...?

[2019-04-16 22:13] rudyhuyn commented on #453
I agree with both of you, it would be a lot easier and faster to create a new user control based on a TextBox and using `CalcEngine` than create a control using the current Calculator UI (because native, it doesn't support Microsoft Community Toolkit animations/helpers, big refactoring to extract some controls and create a windows runtime component lib, disable access keys, probably some conflicts

[2019-04-16 22:50] mdtauk commented on #453
@rudyhuyn I too would favour a simple calculator UI like DatePicker/Calendar similar to Bing/Google search results too.
![image](https://user-images.githubusercontent.com/7389110/56247958-63625a00-609e-11e9-8d71-44e4d66f55e5.png)

However your second suggestion may be better done as a picker.  So like the photo picker on Windows Phone, you tap the control, it opens an instance of calculator, showi

[2019-04-17 00:17] #111 closed

[2019-04-17 00:19] EriWong commented on #310
The root cause of this is focus isn't being handled correctly with the navigation view control.  I've filed the following with a minimal repro to WinUI: https://github.com/Microsoft/microsoft-ui-xaml/issues/569.

[2019-04-17 00:46] #407 closed

[2019-04-17 00:53] #382 closed

[2019-04-17 01:23] danbelcher-MSFT commented on #226
It's not clear now what should happen in Standard mode for values that used to only be displayable with scientific notation.  For example, in Standard mode, if I input `100,000,000 * 100,000,000`, I get `1.e+16`, which is correct.  I can continue to perform operations on this value.  After the change that is proposed, the result is simply `Overflow`.

Overall, this change would make it so that the

[2019-04-17 03:31] LanceMcCarthy opened #463 "Retarget to Build Tools 142 to support Visual Studio 2019"
Retarget the solution to VS2019 Build tools (v142) to allow support for Visual Studio 2019, out-of-the-box.

**Problem Statement**
Developers cannot use Visual Studio 2019 to build this solution without installing older Visual Studio 2017 Build Tools (v141). These can be hard to find for the everyday dev, requiring you to go to MSDN downloads and search specifically for the required version.

Note

[2019-04-17 07:29] grochocki commented on #226
Scientific mode is better suited for dealing with very large and very small number, but I agree that showing overflow in this case is not ideal. In #162, I proposed supporting 32 digits across both Standard and Scientific modes (instead of just 16 in Standard as we do today). While this would not fully address your concern (eventually, you will hit large enough numbers to still cause overflow), it

[2019-04-17 21:48] mcooley commented on #463
We should definitely do this; we'll just need to decide _when_. We'll need to update the official builds to target the "Hosted VS2019" pool at the same time.

[2019-04-18 00:28] #324 closed

[2019-04-18 08:27] rudyhuyn commented on #463
Easier way, you can install it directly from Visual Studio Installer!
![image](https://user-images.githubusercontent.com/1226538/56347428-18694500-6179-11e9-902d-cb199071d585.png)

[2019-04-18 08:37] rudyhuyn commented on #463
I agree with @mcooley, I would recommend to wait a couple of months (and a couple of VS updates) before really migrating, for 3 reasons (sorted by importance):
- Not everyone has a MSDN subscription, it can take months before enterprises migrate to VS2019 (a lot of them buy licenses, not subscriptions)
- Visual Studio has always some stability issues with first versions, including 2019 (see dev fo

[2019-04-18 11:02] DragoCubed commented on #459
I've found that it's slower to find a specific country by pressing the letter it starts with compared to non-UWP apps. If I press P to find Poland, I'll need to press P a couple more times but I can't press it quickly, one after another. I have to wait a second. File Explorer doesn't have this annoyance.

[2019-04-18 22:21] #402 closed

[2019-04-18 23:01] #62 closed

[2019-04-18 23:55] danbelcher-MSFT commented on #385
I'm going to suggest that we make no change here and instead consider this a Windows Narrator bug.  Narrator recognizes and correctly pronounces "1st, 2nd, 3rd, ...".  It should also correctly handle "0th".

The current proposal also doesn't seem like an appropriate change.  The "most significant bit" depends on the context (63 for Qword but 7 for Byte).  There are other alternatives we could try,

[2019-04-19 00:04] danbelcher-MSFT commented on #379
Hey @grochocki, not sure what next steps are for this refactoring work.

[2019-04-19 00:05] #175 closed

[2019-04-19 00:08] rudyhuyn commented on #379
I can start by creating an issue with step 1 only, then once (and if) step 1 approved and merged, create step2a/b, etc...

[2019-04-19 00:12] danbelcher-MSFT commented on #379
I meant in terms of labeling as Approved, going through the feature process, etc.  You can see in the history I added 'triage approved' but the issue bot removed the label because this isn't a bug.  So my question is about what the right labels are and how to move the deliverable forward.

[2019-04-19 01:17] grochocki commented on #310
Thanks for investigating this, @EriWong! It appears that the linked bug has been approved and on their backlog, so goign to close this as external.

[2019-04-19 01:17] #310 closed

[2019-04-19 02:50] grochocki commented on #262
@lukeu, apologies for the long delay, but I have been trying to follow up internally with some accessibility experts IRT whether we can follow a similar model to what Sticky Notes does. FWIW, in Sticky Notes, it appears this behavior is limited to just the rich formatting buttons and not other UI elements.

The system handles focus for pointer clicks, and while we _could_ intercept and handle focu

[2019-04-19 13:25] Holyprogrammer commented on #130
@m3k4itr41n This isn't rocket science, however -
There are three major operating systems in today's time -

- Windows
- MacOS
- Linux

Programs do not just work across the three out-of-the-box. They have to be cross-compiled/recompiled etc.

By default, .exe files are meant only for _**Windows**_. Some can be run, however, on linux via using a compatibility layer called **wine**. Since this applic

[2019-04-19 14:34] DennisGaida commented on #335
I think it is smarter that you open a new issue since the team might have different ideas than I do about what would help the user.

Personally I would like to have documentation - why do the whimsical units exist and which units exist? Visually maybe a different styling for the whimsical units might be in order to separate them more clearly from real units such as yards or kilos.

[2019-04-19 23:19] aaronrancsik opened #468 "0 to the 0th power = 1?"
**Describe the bug**

0 to the 0th power = 1?  think it could be an error, or 0, but not 1

**Steps To Reproduce**
0^0=1??
**Expected behavior**

0 or an error
**Screenshots**

![image](https://user-images.githubusercontent.com/20153302/56447623-be4bb980-6309-11e9-9e1e-20b19910fe8c.png)

[2019-04-19 23:23] HowardWolosky commented on #468
Duplicate of #418

[2019-04-19 23:23] #468 closed

[2019-04-19 23:28] aaronrancsik commented on #468
sorry I searched before, but not found that.

[2019-04-19 23:32] HowardWolosky commented on #468
No problem.  The other issue phrases it differently.  Thanks for trying to search before creating your issue though!

[2019-04-20 01:37] #59 closed

[2019-04-20 01:37] #409 closed

[2019-04-20 01:59] #437 closed

[2019-04-20 03:33] TristanYoung commented on #215
Doing a user study seems to be complicating things.  Since it's multi by default now, why not just keep it multi by default, and let users make the choice to change it?

If a user study is a requirement, let's get it done.  Never started one before - how should we start?

[2019-04-22 21:32] Draco18s commented on #344
I don't suppose we can include `^` as the exponent command while we're at it, instead of/in addition to `y`?

`3^8` results in invalid input.

[2019-04-22 21:35] WysokiStudent commented on #452
'b' is language specific, for example in Spanish it means: 1 000 000 000 000, not 1 000 000 000 which is called "Millardo". Those shortcuts would have to be i18n. (https://en.wikipedia.org/wiki/Long_and_short_scales)
It would be better to use the ISO standard https://en.wikipedia.org/wiki/Orders_of_magnitude_(numbers)

[2019-04-22 21:49] rudyhuyn commented on #344
It's also managed by my prototype:
https://github.com/rudyhuyn/calculator/blob/AddExpressionParser/src/CalcViewModel/ExpressionParser/BisonParser.y#L121

3^8 in Scientific mode: 3 power 8
3^8 in Programmer mode: 3 xor 8

[2019-04-22 23:59] #55 closed

[2019-04-23 00:15] danbelcher-MSFT commented on #385
Bug for this has been filed internally and is currently sitting on the TTS team.  Will update when we have more info.  Tracked internally with: 20820966

[2019-04-23 01:00] grochocki commented on #385
I completely agree! Thanks for filing that bug on TTS.

While "0th" and "7th" (in the context of a Byte) are not _inaccurate_, they also do not align with industry standard terms for these bits (LSB/MSB, respectively). I think we should use this opportunity to improve accessibility by switching to that terminology.

[2019-04-23 03:22] grochocki commented on #429
We reviewed the pitch and would love to move forward with it. Since the idea is fairly straightforward and is entirely captured by the pitch, we can move this straight into production. @Decagon, if you are interested in implementing this one, let us know, otherwise we can open it up to the rest of the community.

[2019-04-23 03:30] grochocki commented on #419
We reviewed the pitch and would love to move forward with it! I think this pitch is a great start, but there are still some open questions. Moving this into [pre-production](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md#step-2-pre-production) to iron out some of the details.

A particularly noteworthy question that was raised was whether this can be made even more g

[2019-04-23 03:35] grochocki commented on #123
We reviewed the pitch and would love to move forward with it! I think this pitch is a great start, but there are still some open questions. Moving this into [pre-production](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md#step-2-pre-production) to iron out some of the details.

This aligns really well with the keyboard improvements we are making (#428). A couple quest

[2019-04-23 03:41] grochocki commented on #288
We reviewed the pitch and would love to move forward with it! I think this pitch is a great start, but there are still some open questions. Moving this into [pre-production](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md#step-2-pre-production) to iron out some of the details.

There are varying degrees of support we should consider. For example:
* Basic (e.g., “three

[2019-04-23 04:08] askvictor commented on #418
@grochocki - your reference to Wikipedia is somewhat selective - the complete paragraph is:

It's worth noting that Excel (i.e. the other Microsoft calculator) gives a number error for =POWER(0,0). The Android calculator returns "Undefined, or 1" which is a nice way to hedge your bets.

[2019-04-23 06:24] grochocki commented on #418
@askvictor - thank you for including the full quote for context (and for the info on how Excel/Android handle this). It was definitely not my intention to exclude the other details as much it was to emphasize that in algebraic applications, the generally accepted value is 1.

I also recognize that there is more than one established way of handling this expression, but since I don't think it is cle

[2019-04-23 10:53] iamgmujtaba commented on #288
I am glad to hear that the pith is selected for pre-production.
I would recommend first implement basic option for different support. Here are my suggestions.

- Basic ( User first input operation then number. eg. "Multiply five and two" or "Add six and three" or "open scientific calculator")
- Moderate ( e.g. "convert 500 into feet" or "calculate my date of birth in current date")

Most of the us

[2019-04-23 17:30] #119 closed

[2019-04-23 21:01] MicrosoftIssueBot opened #471 "Subtracting 1-year from date during Reiwa 1 yields unexpected results."
**Describe the bug**
When using Japanese era globalization settings, adding/subtracting years can yield unexpected results.

**Steps To Reproduce**

1. Set your globalization settings to Japanese and use the Era notation for Calendar format
2. Open calculator and go to date calculation
3. Switch to add/subtract mode
4. Set the date to Reiwa 1-nen May 1
5. Subtract 1 year from that date
6. Note the

[2019-04-24 01:28] grochocki opened #475 "Test Feature"
Test Feature

[2019-04-24 11:41] CodeRunRepeat commented on #419
@grochocki can you make suggestions on user research? I was considering enlisting like-minded colleagues from my org to review the specs before a PR, but if there is a better option please share.

[2019-04-24 16:54] brulecap commented on #385
Well, regardless of how you decide to proceed, I'm still going to continue looking into adding MSB for qword, dword, word, and byte. It has been a good opportunity for me to learn the code base. Still not sure how to do it, but I find a new piece to the puzzle every day.

[2019-04-24 19:03] danbelcher-MSFT commented on #385
Whoops!

[2019-04-25 21:09] grochocki opened #476 "Update to Windows UI Library 2.1"
Update Calculator project to Windows UI Library 2.1 ([Release Notes](https://docs.microsoft.com/en-us/uwp/toolkits/winui/release-notes/winui-2.1)). As part of this update, we should thoroughly test all user scenarios to check for possible UX regressions. A particularly exciting feature introduced in 2.1 that affects us is [Shadows](https://docs.microsoft.com/en-us/uwp/toolkits/winui/release-notes/

[2019-04-26 02:10] SWB2 opened #478 "Enable keyboard entry in bit-toggling mode"
**Problem Statement**

When the bit toggling keypad is active in the Programmer calculator, the keyboard no longer functions for input.

**Evidence or User Insights**

I'm an embedded firmware developer, and I use the Programmer calculator frequently with both keypads, especially when doing low-level microcontroller register programming. When I'm working, I frequently find myself alt-tabbing over

[2019-04-26 07:05] DragoCubed commented on #459
@grochocki does this have anything to do with UWP? I've noticed UWP apps having trouble keeping up with keyboard input.

[2019-04-26 17:37] HowardWolosky commented on #278
Closing this thread out.  For more information on how diagnostic data collection works, please refer to [this section of Microsoft’s Privacy Statement]( https://privacy.microsoft.com/en-US/privacystatement#maindiagnosticsmodule), and note the details around device configuration and sampling.  Please note that the specific event previously referenced was corrected in #286.

[2019-04-26 17:37] #278 closed

[2019-04-26 22:01] #313 closed

[2019-04-26 23:03] #471 closed

[2019-04-26 23:07] #294 closed

[2019-04-26 23:16] #71 closed

[2019-04-26 23:16] #72 closed

[2019-04-28 06:04] Tlaster commented on #459
The ComboBox control's text search seems not works when using other languages like Chinese, or am I missing something?

[2019-04-29 22:00] grochocki commented on #459
I have not observed this behavior myself, and I am not aware of any widespread issues. Perhaps it is hardware-dependent?

I would expect this to work regardless of language. If you can consistently reproduce the issue, I would suggest filing a bug in [github/microsoft-ui-xaml](https://github.com/Microsoft/microsoft-ui-xaml).

[2019-04-29 22:07] grochocki commented on #478
Thanks for the feature suggestion! Let's keep this idea open for discussion so the community has the chance to provide feedback. Check out our [New Feedback Process](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md) for more info on the user-centered process we follow for new feature development.

[2019-04-29 22:39] EriWong commented on #471
There is a further issue with how the calendar handles month boundaries.  If a year transition happens in the middle of a month, the calendar treats the end of the month as a different month than the beginning of the month.

[2019-04-30 01:03] grochocki commented on #441
It appears this was fixed as part of #442, but was not caught by automation.

[2019-04-30 01:03] #441 closed

[2019-04-30 01:06] grochocki commented on #414
This appears to have been addressed by #403, but was not caught by automation.

[2019-04-30 01:06] #414 closed

[2019-04-30 01:46] MicrosoftIssueBot opened #482 "Name property of a focusable element must not be null (Scrollable Input)"
**Repro Steps**
* Click on the Menu options
* Click on Programmer options
* Chose “BIN” from the list
* Enter number 1 (around >50 times) in the input field to invoke the scroll bar
* Observe Hyperlink for scrolling right/left is missing an accessible name
* Observe the issue using inspect.exe (available in C:\Program Files (x86)\Windows Kits\10\bin\<SDK Version>\x64)

**Actual Result**
Name Prope

[2019-04-30 14:01] MicrosoftIssueBot opened #483 "In Scan/Item mode, while navigating to "4.8 coffee cups" text from "0.25 gal(UK)" text, Narrator focus navigates to hidden elements"
**Repro Steps**
* Launch "Calculator" app.
* Launch Narrator.
* Navigate to "Open Navigation" button and activate it.
* Navigate to "Volume" menu item and activate it.
* Volume converter window will open.
* Select any value for "Converts from" combo box say "2 Pints(UK)".
* Select any "Converts to" combo box say "Cubic feet".
* Navigate to "4.8 coffee cups" text in the Scan/Item mode.
* Observe th

[2019-05-01 16:26] #476 closed

[2019-05-01 18:09] datapharmer opened #485 "Add support for default decimal places for users commonly performing math related to currency such as those in accounting roles"
**Problem Statement**
Accounting users that utilize traditional desktop calculators often want to default to having 2 digits after a decimal because they are constantly entering currency values.

**Evidence or User Insights**
Having to enter a period to denote cents adds a great deal of additional data entry throughout the course of a day and is one of the primary barriers to switching from a prin

[2019-05-02 05:19] mayurdw commented on #439
Hey!

Is anyone working on this? It looks like a simple bug ( from the description anyway ) and it would be an easy way for me to insert myself in this repo.

Should I work on it?

[2019-05-02 11:01] Svish opened #486 "Make "Standard" the default calculator mode"
I loved the old Calculator because it was so quick to just <kbd>Win</kbd>, "calc", <kbd>Enter</kbd>, and do some quick math.

But now, this process is often super slow because the new Calculator app opens up with the last random mode I was in. Could be Currency, could be Length, doesn't matter. I love that the modes are there, but what I most often want when I open calculator is to do some quick m

[2019-05-02 14:01] HowardWolosky commented on #486
@svish, just as an additional data point, steps 1-6 could be skipped entirely by typing <kbd>ALT</kbd><kbd>1</kbd>. There are keyboard shortcuts for all of the modes and you can see them by holding down the <kbd>ALT</kbd> key.

If we were to pursue this idea, I think it should probably be a setting, similar to how it is with browsers (start where you left off vs with a single new tab).

[2019-05-02 14:21] Svish commented on #486
What?! There are shortcuts? Maybe that fact should be made more discoverable somehow too. 😳

But yeah, I wouldn't mind it being configurable.

Would be interesting to see some usage statistics though, what people actually do right after they launch the app. Do they switch mode immediately, and if so, which mode do they switch to? And if not, which mode did the app start with?

[2019-05-02 14:33] HowardWolosky commented on #486
See #157 and #378

[2019-05-02 18:01] MicrosoftIssueBot opened #487 "[AccSpot] Failed Accessibility Error - Calculator.exe (Calculator.exe 10.1903.21.0) - Control type:UIA_HyperlinkControlType, Test:MissingProperty Error:UIA_NameProperty: Error - MissingProperty UIA_NameProperty , Priority - 0 , ElementControlType - UIA_Hy"
A team member will update this issue with more details soon.

[2019-05-02 18:08] danbelcher-MSFT commented on #439
The issue is triage approved so it's fair game for anyone to submit a PR.  Feel free!

[2019-05-02 18:31] #487 closed

[2019-05-02 18:59] #202 closed

[2019-05-02 23:37] mayurdw commented on #439
Hey @danbelcher-MSFT
So according to the contributing guidelines, I don't have to submit a PR when I work on an issue marked with Triage approved.
Does this mean I work directly on the master branch and push my change? I don't expect that I would have permission to push directly.
But if I make a branch and then push it, I would inevitably be creating a PR.

[2019-05-02 23:45] HowardWolosky commented on #439
What the contributing docs say is that you shouldn't submit a PR _unless_ the issue is marked triage approve.  You still do have to submit a PR.

[2019-05-03 03:44] Northurland opened #490 "Project not compiling with default compiler options on system with Chinese as default language"
The project cannot be compiled because of the following error:
`Code: LNK1181`
`Description: cannot  open input file 'E:\hot_backup\calculator-master\src\x64\Debug\CalcViewModel\CalcViewModel.lib'`
`Project: Calculator`
`File: E:\hot_backup\calculator-master\src\Calculator\LINK`
`Line: 1`
`Suppression State:`

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Open the project in Visual St

[2019-05-03 03:56] Northurland commented on #490
additional information: the same problem occurs with 'Release, x64', though the file involved becomes \src\x64\Release\CalcViewModel\CalcViewModel.lib .

[2019-05-03 06:08] danbelcher-MSFT commented on #490
@Northurland, I checked out master branch and ran Build Solution for Debug|x64.  The build was successful.  On the [main page](https://aka.ms/calc), our CI status shows our build is successful.  Most likely, this issue is limited to your machine.

From the screenshot you shared, you are looking at the Error List.  Can you switch to the Output tab at the bottom and show us the first error that appe

[2019-05-03 06:27] Northurland commented on #490
@danbelcher-MSFT ,
here are the contents of output:

[code]

I pasted everything here. Also, I will try building on another machine. If it's successful then that might be some kind of  problem with VS here.

Thank you very much.

[2019-05-03 08:10] Northurland commented on #490
I've tried building on another machine. The same problem still occurs.
System information of the other computer: Windows 10, Home, 1803, build 17134.648; Region: Mainland China; Default language: Chinese (simplified). VS2017 still used.

[2019-05-03 09:39] janisozaur commented on #490
This is caused by https://github.com/Microsoft/calculator/blob/9f01c8168b921a82ada80be24203de7729b1b6fa/src/CalcViewModel/Common/CopyPasteManager.cpp#L548 and other currencies listed in this file, while it is not marked as utf8. There is a switch you can use with cl that makes it great all input as utf8: https://docs.microsoft.com/en-us/cpp/build/reference/utf-8-set-source-and-executable-character

[2019-05-03 11:21] Northurland commented on #490
@janisozaur
That works. Thank you very much.

[2019-05-03 11:57] kokabi1365 commented on #490
<div dir="rtl">
متن کامنت با فرمت مارک‌داون
</div>

[2019-05-03 20:50] mcooley commented on #288
Have we considered text-based natural language input for calculator? I often do calculations by typing expressions directly into the Windows or Bing search bar, e.g. “(4 + 2) * 8” or “square root of 25”. However, I think native support in the Calculator app would be an improvement over a web search engine. For example, we could support offline usage. Adding support for text-based entry of natural

[2019-05-04 07:46] iamgmujtaba commented on #288
Right now the problem with the input in natural language is that most of the users don't right proper sentence/word, there can be solutions for this problem like suggesting the word, or autocorrect, etc.

PS: The problem with the Microsoft product is that developers don't think about small stuff for the best user experience that makes the product useful one example is Sticky note. User cannot chan

[2019-05-05 06:41] DragoCubed commented on #459
There are lots of various reports for Minecraft Bedrock that can be found on the issue tracker and just from a search you can find lots of people complaining about it in Edge. There are tons more that I don't remember right now.

[2019-05-07 21:01] rudyhuyn commented on #490
Good find!

Obviously VS has some issues to detect utf-8 when the system is in Chinese.

IMO, we should create a PR to explicitly force VS to use utf-8 (with this extra compiler option) to prevent this issue in the future.

[2019-05-08 03:24] 137729898 opened #493 "Programmer mode should allow for input and bit toggling without switching input modes"
**Problem Statement**
* The calculator of win32 version (for example the calculator in Windows 7), can both type numbers and edit all binary bits in the same interface without switching tabs, while the Windows store (UWP) version does not. You must switch to **bit toggling keypad** to view and edit the binary bits, and go back to type numbers again, not such convenient.

**Evidence or User Insight

[2019-05-08 10:08] MelulekiDube commented on #482
Hello,

I am a newbie and Interested in working on this issue.

[2019-05-08 11:17] dkheri commented on #387
Hi
Am interested and working on this bug

[2019-05-09 05:47] mdtauk commented on #493
Perhaps any mode changes can appear when the window is made wide enough to display?

[2019-05-09 09:29] EricJeffrey commented on #308
So is there a place to make feedback for localization? Chinese translation for 'Volume'  is wrong too, it should be '体积' instead of '音量' which is a measurement for sound.

[2019-05-09 10:18] rudyhuyn commented on #493
Hi @137729898!

You should split your diff in two, so we can discuss each problem separately and let Microsoft decide to approve or reject one issue without affecting the other.

I agree, we should probably use a styled Combobox instead:

Mockup:
![image](https://user-images.githubusercontent.com/1226538/57446186-0115f880-7209-11e9-846e-bb4bc9f97105.png)

![image](https://user-images.githubusercon

[2019-05-09 11:15] nycnikato opened #495 "Flatpak Version for all platforms"
**Problem Statement**

Linux needs a very nice calculator
**Evidence or User Insights**

It is wonderful that Microsoft has decided to join the Linux ecosystem. I believe a very good gesture to the community would be a flatpak version of the Windows Calculator..

The benefit of this is that Microsoft would have created what is in essence a universal binary. The flatpak would run on WSL2, Linux, Ch

[2019-05-09 11:37] HowardWolosky commented on #308
Thanks for the question, @EricJeffrey.

If contributors [file a new issue](https://github.com/microsoft/calculator/issues/new/choose), they will see "Localization Suggestion" as an option, and clicking that will auto-populate the form with [this template](https://raw.githubusercontent.com/microsoft/calculator/master/.github/ISSUE_TEMPLATE/localization_suggestion.md).  Just follow the steps there w

[2019-05-09 12:06] EricJeffrey commented on #308
got it

[2019-05-09 14:00] nycnikato commented on #113
Having the Windows Calculator on Linux would take a lot of work. I think it would be worth it. I understand the two operating systems are a universe apart. It is truly sad. I have taken the calculator code and it has no syntax errors in Gnome-Builder. The only error is "not a make build system". It is so easy to get Linux code to run on windows now with WSL 2, and yet so painful to get Microsoft c

[2019-05-09 14:59] provencher commented on #463
Is there a solution to this?

I've run into this issue today, and retargeting the solution is not an option. There needs to be a way to install the v141 platform tools for use with Visual studio 2019. The various build tools are not recognized as (Platform Toolset = 'v141').

[2019-05-09 15:07] LanceMcCarthy commented on #463
@provencher  You can quickly add the v141 toolset to VS2019. Here are the steps:

1. Open VS Installer
2. Change to the **Additional components** tab
3. Scroll down until you see the MSVC 141 tools section and select the desired version (I chose the x86/x64 version because I'm only building for x64 locally)

Here's a screenshot to guide you:

![image](https://user-images.githubusercontent.com/3520

[2019-05-09 15:14] provencher commented on #463
@LanceMcCarthy I've installed everything marked as v141 build tools on VS2019, but it does not add the VS2017 Platform toolset to the dropdown in my project's properties folder.

![image](https://user-images.githubusercontent.com/7420990/57464941-9fc34900-724b-11e9-9623-0906d0f79c43.png)

[2019-05-09 15:48] LanceMcCarthy commented on #463
Something must be missing, here's what I see (on the Caluclator project):

![image](https://user-images.githubusercontent.com/3520532/57467179-4ead5800-723f-11e9-9556-593778c4fd6f.png)

Do you have the UWP SDK installed for that target release (17763)? Is the current configuration set to x86 or x64?

[2019-05-09 15:50] provencher commented on #463
Yes I do. I primarily dev for UWP.

I finally got everything working, but it required me fully installing vs2017.

[2019-05-09 15:53] LanceMcCarthy commented on #463
Good to see that you're not blocked anymore, but VS2017 shouldn't be required (I don't have VS2017 installed anymore).

Here's my VS2019 configuration export (VS installer > VS instance ellipsis menu > Export configuration). You can compare against yours by exporting and see what's different:

[code]

[2019-05-09 17:10] #267 closed

[2019-05-09 18:01] #370 closed

[2019-05-09 22:08] mcooley commented on #495
Thanks for the suggestion! It looks like you've found #113 where Linux support has been discussed before. flatpak is certainly an interesting project to _package and distribute_ Linux apps, but in order to use it you have to first have an app that _builds and runs_ on Linux, and we're not going to get there anytime soon, unfortunately.

[2019-05-09 22:08] #495 closed

[2019-05-10 00:56] provencher commented on #463
Thanks @LanceMcCarthy I'll compare this list to mine tomorrow. I appreciate you sharing it

[2019-05-10 01:07] grochocki commented on #482
Thanks, @MelulekiDube, it is all yours! Let us know if you have any questions. For more information on making changes to the code, check out our [contributing guidelines](https://github.com/microsoft/calculator/blob/master/CONTRIBUTING.md#git-workflow).

[2019-05-10 01:08] grochocki commented on #387
Thanks, @dkheri, it is all yours! Let us know if you have any questions. For more information on making changes to the code, check out our [contributing guidelines](https://github.com/microsoft/calculator/blob/master/CONTRIBUTING.md#git-workflow).

[2019-05-10 03:31] grochocki commented on #325
@atticus112 We had the chance to review this pitch more closely, and while light-years are certainly a distance unit we _could_ add, we felt that one-off unit additions might not be the best approach here. Others have commented on the usefulness (or not) of some units like Yobibytes in other converters and #275 suggests adding months and nanoseconds as units of time.

I'd like to propose closing t

[2019-05-10 07:16] grochocki commented on #379
We need to make some adjustments to how @MicrosoftIssueBot handles the `triage approved` label for non-bugs, but in the meantime, unblocking with temporary `approved` label.

[2019-05-10 07:42] grochocki opened #497 "Refresh Approximation units (aka "Whimsical" units)"
**Problem Statement**
In general, we want to provide "real world" approximations for conversions to help users conceptually grasp the magnitude of the values being displayed while performing unit conversions. However, we do not currently scale these approximations or document them as well as we should.

**Evidence or User Insights**
The community has identified gaps in our documentation in regards

[2019-05-10 07:43] grochocki commented on #335
Closing this issue. Lets continue the conversation in #497.

[2019-05-10 07:43] #335 closed

[2019-05-10 07:44] grochocki commented on #120
Closing this issue, as #497 aims to more comprehensively address this feature (including improved documentation). Let's continue the conversation there.

[2019-05-10 07:44] #120 closed

[2019-05-10 07:55] grochocki commented on #493
Thanks for the idea!

I _think_ this is covered by #116 (see my note in the discussion). If you agree, perhaps we can focus this issue on the other suggestion? Otherwise, we should treat this as two separate suggestions.

[2019-05-10 07:59] grochocki commented on #455
We reviewed the pitch and would love to move forward with it. Since the idea is fairly straightforward and is entirely captured by the pitch, we can move this straight into production. @rudyhuyn, if you are interested in implementing this one, let us know, otherwise we can open it up to the rest of the community.

[2019-05-10 08:19] grochocki commented on #452
@rudes This is definitely an interesting idea. We had the chance to review this pitch more closely, and while it is certainly not uncommon to represent thousands/millions/billions with k/M/B, we felt that supporting this notation in input might not be clear to all users. Also, as others point out, there are complexities with localization and conflicts with other key bindings that would make this d

[2019-05-10 08:19] #452 closed

[2019-05-10 08:50] DennisGaida commented on #497
+1 for better documentation

Currently not in the design, so maybe this is out the question, but I would suggest adding a tooltip to the whimsical unit. I think it would be beneficial understanding on what the unit is based on.

Take this example:
![image](https://user-images.githubusercontent.com/2392217/57514344-92bc5d80-7310-11e9-96f0-f06a96cc9d54.png)

A cup in Germany (which is my locale and

[2019-05-10 09:08] rudyhuyn commented on #455
Done!

[2019-05-10 10:06] cluxter commented on #495
WSL2 suggests that developers should now focus on writing code compatible with the Linux kernel instead of the NT kernel. This way the code could run on Windows 10 with WSL 2, natively on the many Linux distributions, on MacOS thanks to `brew`,... IMHO the pre-WSL2 apps should now be considered as legacy (in terms of code, not functionally obviously) and developers should start porting these legac

[2019-05-10 11:15] nextux commented on #439
I think we should use the word "Beta" in the title rather than dev. Microsoft have a lot of history with the word in past versions of windows and it would be a great nod to the past (considering these days it's all "Insider").

Plus it appears Google abandoned their use of the word. Time to make it cool again.

[2019-05-10 12:13] ferzkopp commented on #325
@grochocki - One suggestion: parity with (or use of) an external service such as Bing (which can do it: https://www.bing.com/search?q=1ly+in+mm&qs=n&form=QBRE&sp=-1&pq=1ly+in+mm&sc=3-9&sk=).

[2019-05-10 14:40] grochocki commented on #459
Since this feature is already supported in Calculator through the common combobox control, I am going to close this feature suggestion for now. It does sound like there might be performance/localization issues in the platform control, though. Unfortunately, I am not able to reproduce these issues myself, so I would not be able to provide any relevant debugging information to the XAML team. I encou

[2019-05-10 14:40] #459 closed

[2019-05-10 16:42] MahdiGhiasi commented on #285
Is this issue still exists?

I just built the project from master branch, and now multiple animations **only** happens for the 'About' button on the bottom of list, not for others. (As opposed to the current release where it happens for all items)

[2019-05-10 17:05] MahdiGhiasi commented on #281
Other than pin/unpin, user can also remove items from the jumplist, but then **they get added on next app launch**. This can be confusing to the users.

It seems that the only way for UWP apps to remove pin/unpin and remove ability from jumplist items is to [not specify a group name for them](https://stackoverflow.com/a/39436591/942659). The downside is, the header for jumplist items will be "Task

[2019-05-11 02:55] #420 closed

[2019-05-11 18:10] MelulekiDube commented on #482
@grochocki Is a visual test using the inspection tool on the buttons enough to pass as a test for this issue?

[2019-05-13 08:27] Cerlancism opened #504 "Copy paste result contains hidden character"
**Describe the bug**

Copy paste result contains hidden tailing character `U+202C` which can cause syntax errors to programming languages or breaks in Excel.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Key in an integer.
2. Double click the number to select it.
3. CTRL+C.
4. CTRL+V else where, such as a code editor.

**Expected behavior**
A clean set of digits entered as valid synt

[2019-05-13 09:26] grochocki commented on #504
Thanks for the detailed report! Unfortunately, I am not able to reproduce the issue (when I paste in values to Excel or Visual Studio, they recognize the values as valid). However, I do believe this is the same as the issue reported in #115 and is related to [bi-directional text formatting](https://en.wikipedia.org/wiki/Bi-directional_text#Table_of_possible_BiDi-types).

[2019-05-13 18:33] gsfreema opened #505 "Update CALC_E_* to no longer use macros"
**Problem Statement**
One of the goals for this project appears to be converting legacy C style code to modern C++.  Avoiding macros unless completely necessary has been a C++ best practice for quite some time.

**Proposal**
With more modern features such as constexpr values, you should be able to replace all CALC_E_* macros with constexpr values.  Preferably, you could replace them with an enum c

[2019-05-13 18:48] danbelcher-MSFT commented on #482
Hey @MelulekiDube, using Inspect should be sufficient.  One of the repo maintainers will build your branch and verify the fix before merging.

[2019-05-14 00:01] #281 closed

[2019-05-14 03:00] grochocki commented on #285
I am seeing this now too. The "About" button is in the footer, which makes it different from the other menu items. Perhaps, #484 addressed the other menu items with the update to WinUI 2.1.

Keeping issue open to track the odd "About" button animation.

[2019-05-14 03:32] grochocki commented on #128
We reviewed the pitch and would love to explore this idea further! I think this pitch is a great start, but there are still some open questions. Moving this into [pre-production](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md#step-2-pre-production) to iron out some of the details. Keep in mind that not all ideas that make it into pre-production are guaranteed to make

[2019-05-14 12:31] MahdiGhiasi commented on #285
It seems that the `NavigationViewList` which is used there has a `EntranceThemeTransition` by default in its `ItemContainerTransitions`. I removed the transition in #506 and it now enters just like the other menu items.

[2019-05-14 16:57] #272 closed

[2019-05-15 11:52] Geveffe commented on #490
Agreed. This seems like a great idea. I've marked the idea as approved and tagged this as help wanted if anybody would like to submit a PR.

[2019-05-16 01:35] grochocki commented on #322
@ivadham Thanks for filing this issue and to everyone else for the discussion on what might be happening here. We had the chance to review the pitch in more detail, and we _think_ this might be a bug. Assigning to @joseartrivera to investigate further.

[2019-05-16 22:08] ZenMasta opened #508 "keyboard input sometimes broken when multiple instances open"
**Describe the bug**
If you have more than one instance of Calculator open, which ever instance is not the "original" will lose certain keyboard functions.

For example pressing escape to clear, backspace to backspace and enter to sum. These keyboard keys no longer work on the second instance. I cannot reproduce this 100% of the time. But every time I have encountered this problem, it was when mul

[2019-05-16 22:23] grochocki commented on #508
Thanks for filing this! I cannot reproduce the problem myself, but will keep this open to see if we can collectively get to the bottom of why you might be seeing this behavior. I am on a newer app and OS version, so it could be the case that this newer combination doesn't have the same bug.

My machine info:
 - OS Build: 10.0.18883.0
 - Architecture: X64
 - Application Version: 10.1905.3.0
 - Regi

[2019-05-17 09:11] Timon23 commented on #508
I can reproduce it on my machine consistently.

I think it has to do with the shift key.
If you hold shift and lose focus of the window and go back it'll still think the shift key is held.
If you press shift again it'll work like expected.

Oddly enough after that it doesn't do it again.

At first holding shift blocks all those keys from executing.
After pressing shift to make it work again, shift

[2019-05-17 18:10] #285 closed

[2019-05-17 22:54] #482 closed

[2019-05-18 14:35] ZhaoMJ commented on #508
I can reproduce it on my own machine as well.

My machine info:

- OS Build: 10.0.18362.86
- Architecture: X64
- Application Version: 10.1903.21.0
- Region: en-US with zh-CN installed
- Dev Version Installed: False

[2019-05-18 14:43] ZhaoMJ commented on #504
Even though I cannot reproduce it consistantly, I do believe I encountered this problem before. Oddly enough that it works fine most of the time, but I remember at least 3 times when I tried to copy/paste bits from Programmer mode, it gave me invalid values.

[2019-05-18 23:30] ZenMasta commented on #508
So I can reproduce this on my PC at home.

And incidentally. Maybe I was mistaken when I was trying to document this at work. But at least for me, on my home pc, it's actually the first instance that loses certain keyboard functions. Although I am still unable to reproduce it 100% of the time. Perhaps it's just inconsistent.

But as Timon23 pointed out. I agree that it is related to using shift. A

[2019-05-19 05:11] BenCoden commented on #463
![image](https://user-images.githubusercontent.com/42153520/57978055-fca0cb00-79d2-11e9-8a4a-986895d8055b.png)

[2019-05-20 18:55] M-Schiller opened #511 "Negation re-applies preceding operation"
**Describe the bug**

**Steps To Reproduce**

1. Open a scientific calculator.
2. Enter a simple calculation, e.g. 5 x 2.
3. Press = to obtain the result, e.g. 10.
4. Press the +/- button to negate the result.
5. Observe that the intermediate result (`negate(10)`) shown is -10.
6. Press = to clear the calculator's screen and obtain the result; it is now -20.
7. Press +/- again to negate; intermedi

[2019-05-20 21:46] andreaspalmer opened #512 "Pressing 'x' should be the equivalent to muliply"
**Problem Statement**

When quickly calculating some numbers it is very nice to keep your hands on the keyboard instead of reaching for the mouse and hitting the 'x' button on the UI.

**Evidence or User Insights**

When using the calculator on Google you can easily type "21x9" and it will give you the result. Having this in the Windows App will make the users life easier and more efficient

**Pro

[2019-05-20 22:08] HowardWolosky commented on #512
Just to be sure, you're aware that `*` would enable you to do this from the keyboard (and it's available both via the numpad as well as via <kbd>SHIFT</kbd><kbd>8</kbd>)?  Your suggestion is that in _addition_ to using asterisk (`*`), you think it should support <kbd>x</kbd> as well?

[2019-05-21 01:17] grochocki commented on #453
Thanks everyone for the great discussion on this idea. We had the chance to review this pitch more closely and felt that while this is a great idea, delivering it via the Calculator app may not be the best approach. Coincidentally, microsoft/microsoft-ui-xaml#483 discusses a _very_ similar idea that I think may address the developer need discussed in this thread. I am going to close this issue her

[2019-05-21 01:17] #453 closed

[2019-05-21 01:26] grochocki commented on #143
We reviewed the pitch and would love to explore this idea further! I think this pitch is a great start, but there are still some open questions. Moving this into [planning](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md#step-2-planning) to iron out some of the details. Keep in mind that not all ideas that make it into the planning phase are guaranteed to make it to r

[2019-05-21 01:31] BenCoden commented on #512
I think we should. Not everyone know * is multiple, and if one doesn't know they will try x.

Benjamin

________________________________
From: Howard Wolosky <notifications@github.com>
Sent: Monday, May 20, 2019 6:08:51 PM
To: microsoft/calculator
Cc: Subscribed
Subject: Re: [microsoft/calculator] Pressing 'x' should be the equivalent to muliply (#512)

Just to be sure, you're aware that * would e

[2019-05-21 01:37] grochocki commented on #170
We reviewed the pitch and would love to explore this idea further! I think this pitch is a great start, but there are still some open questions. Moving this into [planning](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md#step-2-planning) to iron out some of the details. Keep in mind that not all ideas that make it into the planning phase are guaranteed to make it to r

[2019-05-21 01:44] grochocki commented on #325
@atticus112 any thoughts on taking a more through approach with this one?

@ferzkopp would you be interested in elaborating on your suggestion in a new feature pitch?

[2019-05-21 03:22] grochocki commented on #511
Thanks for the detailed bug report! This appears to be a duplicate of #264. The behavior you are seeing is a result of differences in how we handle interactions between the enter key and binary/unary operations.

[2019-05-21 03:22] #511 closed

[2019-05-21 06:42] rudyhuyn commented on #264
Working on it!

[2019-05-21 08:09] andreaspalmer commented on #512
Yes, I think so too as Benjamin already mentioned, if you don't know the shortcut or use a keyboard layout where the asterisk is not easy to access (using ISO-DE I need to press 'shift' and  '+')

[2019-05-21 12:21] MarcAnt01 commented on #170
Cannot understand the first question, as for the second one, it'd be better to add editable input, but isn't a requirement

[2019-05-21 12:37] mdtauk commented on #170
Essentially the proposal is about the output generated by the Calculator app when it comes to the visualisation of Fractions and mathematical operations.

Segoe UI will need support for creating ligature fractions, as well as math functions.  Maybe a Segoe UI Math font specific for this functionality?

![image](https://user-images.githubusercontent.com/7389110/58096186-6801bd00-7bcc-11e9-84ac-31d2

[2019-05-21 14:12] MovGP0 commented on #512
My keyboard layout (Neo2) actually supports both, the • (scalar product) and the × (vector cross product) character. 😅

Not sure if the caracter x is really the best choice to represent a scalar product, since it has the meaning of an variable in mathematics, and the meaning of position in physics. 🤔

[2019-05-21 14:30] MovGP0 commented on #486
Opening the calculator in the most recent mode is the proper behaviour and should not be changed.

As a software developer I always use scientific mode and want to keep it that way, when I reopen the calculator.

[2019-05-21 14:38] MovGP0 commented on #325
I guess that a light second might be useful too. In electronics, I am interested how far electrons travel in a given time (usually somewhere in ns to ms timescales), but don't want to convert years to seconds.

[2019-05-21 15:00] MovGP0 commented on #379
I'm unsure if 'multi part unit's' are a great idea. It seems like a hack for the limitations of the current interface design.

I'm wondering if a more conversional interface would be a better fit for such scenarios. So the user inputs

[code]

and done. No wasting time with clicking buttons, searching through dropdown menus, and filling out forms.

[2019-05-21 15:03] Svish commented on #486
Exactly. So don't you find it a bit annoying that it doesn't always start in your preferred scientific mode, but instead the most recent mode, which _could_ be the scientific mode, but could also be one of several other random modes you might have used?

[2019-05-21 15:24] MovGP0 commented on #425
using the key C seems like a bad idea, since users might want to copy some value using Ctrl+C and don't press the Ctrl key properly.

[2019-05-21 15:49] MovGP0 commented on #226
engineering notation can be helpful in such cases. ie.

[code]
results in

[code]

which is easier to comprehend and still compact.

[2019-05-21 16:08] MovGP0 commented on #486
it always starts in scientific mode. it works fine.

[2019-05-22 00:54] grochocki opened #514 "Need help picking icon to represent "Bit Shifts""
We are working on updating the keyboard for improved consistency and extensibility (#428). This includes refreshing iconography to support new functionality, and we need your help picking a good icon to represent the general concept of "Bit Shifts".

Here are a couple options we came up with that we would like to hear your feedback on. We do not need to limit our options to just these, though, so

[2019-05-22 03:23] ferzkopp opened #515 "Converter should integrate (or reuse) online unit conversions (Bing or similar services) to increase category/unit coverage"
**Problem Statement**
The proposed feature is to add more comprehensive coverage of categories and units for Converter through some form of integration with existing online systems.

Calculator provides unit conversions for 13 categories (Currency, Volume, Length, Weight/Mass, Temperature, Energy, Area, Speed, Time, Power, Data, Pressure, Angle) via the main Hamburger Menu. Length has for example

[2019-05-22 03:24] ferzkopp commented on #325
@grochocki - Done.  https://github.com/microsoft/calculator/issues/515

[2019-05-22 05:34] michael-hawker commented on #428
I like the idea of having the keyboard-style flyout type approach for a long-press of a button:

![image](https://user-images.githubusercontent.com/24302614/58149585-6cec5e00-7c18-11e9-9b5b-55273fdd0ff8.png)

This would mean you could have more than just 2nd for modes with many more functions.

[2019-05-22 05:56] michael-hawker commented on #514
How about something like this?

16x16
![image](https://user-images.githubusercontent.com/24302614/58150046-37487480-7c1a-11e9-8b19-9c6d8ec7c72f.png)

24x24 (varying slash lengths, and surprisingly horizontally tileable)
![image](https://user-images.githubusercontent.com/24302614/58150326-2815f680-7c1b-11e9-81f6-5553ebc3fdfd.png)

![image](https://user-images.githubusercontent.com/24302614/58150308

[2019-05-22 05:59] michael-hawker commented on #512
@MovGP0 now I want a Vector/Matrix Mode! 😊

[2019-05-22 06:02] michael-hawker commented on #116
@grochocki following from #493. Feel like this is the feature for the data types in #116, where #493 is a UX request for the UI behavior for selecting those data types?  It probably makes sense to do them together implementation wise, but do you want them still as two separate issues for discussion?

[2019-05-22 06:07] michael-hawker commented on #493
For the drop-down piece, it probably makes sense to use the [Split Button control](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/buttons#create-a-split-button).

Then the drop-down is available, but you can also click to cycle through them?

[2019-05-22 06:21] michael-hawker commented on #497
In some ways having a mode where you could type in any value like "250 ml" or "100,000 years" and get the converted whimsical units could be cool.  Good learning and discovery mode.

The time ones could be neat to have things like like time since historic events or periods/eras or ages of things in the solar system/planets/universe...?

[2019-05-22 06:49] grochocki commented on #170
#338 will also needs to support for richer display output.

By UI surfaces, I mean all of locations we would need to add support for this friendly view:
![image](https://user-images.githubusercontent.com/1414423/58152381-4bdc3b00-7c21-11e9-9559-a6078a832e63.png)

[Cambria Math](https://docs.microsoft.com/en-us/typography/font-list/cambria-math) is another option that seems like it already has supp

[2019-05-22 06:54] grochocki commented on #325
Thanks, @ferzkopp! Closing this issue; lets continue the conversation in #515.

[2019-05-22 06:54] #325 closed

[2019-05-22 06:58] michael-hawker opened #517 "Add Matrix & Vector Modes"
**Problem Statement**
Matrix and Vector math can be complicated and hard, but is a vital thing to understand in college-level math for [various fields of study](https://www.decodedscience.org/practical-uses-matrix-mathematics/40494), especially [computer graphics](http://news.mit.edu/2013/explained-matrices-1206) and [artificial intelligence](https://towardsdatascience.com/the-mathematics-of-machi

[2019-05-22 06:59] MovGP0 commented on #515
conversion tables will not work for non-linear conversions, ie. for dB.

[2019-05-22 07:01] MovGP0 commented on #515
also note that some of the units on wikipedia aren't units, but prefixed units. Ie. mm is not a unit; just the second m is. The first m is a prefix.

[2019-05-22 07:02] grochocki commented on #514
Thanks for the idea! I like the concept, though I think it feels a bit busy at small sizes. Maybe something like:

![image](https://user-images.githubusercontent.com/1414423/58153761-c064a900-7c24-11e9-9715-4c99fc57e7e9.png)

[2019-05-22 07:13] grochocki commented on #493
We certainly could continue to support cycling through them, but I would argue that even being able to cycle through the options we have today feels like a bit odd of an interaction.

You got me thinking, though, and I don't think ComboBox makes the most sense either. Since the list of options is small, perhaps [DropDownButton](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patte

[2019-05-22 07:16] grochocki commented on #517
Thanks for the feature suggestion! This is really well thought-out, and we really appreciate it. Let's keep this idea open for discussion so the community has the chance to provide feedback. Check out our [New Feedback Process](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md) for more info on the user-centered process we follow for new feature development.

[2019-05-22 07:22] grochocki commented on #116
I agree that it makes sense to consolidate #116 and the part of the conversation in #493 that discusses UX improvements for selecting data types. #493 proposes two separate ideas and should probably pivot to focus on the other half of the proposal.

[2019-05-22 07:24] grochocki commented on #512
This will conflict with using key 'x' to represent the variable 'x' in #338. Since that mode also supports multiplication, it can lead to a confusion when switching between modes.

[2019-05-22 07:34] grochocki commented on #508
I can reliably reproduce this issue now with steps @Timon23 added. Thank you!

I think this is the case. I can get it to repro in the last active window (and even both, if I do the repro steps for each instance separately).

[2019-05-22 08:26] michael-hawker commented on #514
Could also use the canonical operator too:

![image](https://user-images.githubusercontent.com/24302614/58158987-6538b380-7c30-11e9-85c8-2a8c626454a6.png)

[2019-05-22 08:42] HowardWolosky commented on #508
Interestingly enough, it stops repro'ing if you hit `+` or `*` on the keyboard.  Once you've done that, <kbd>Enter</kbd> starts to work again.  Oddly, if instead you tried hitting `-` or `/` on the keyboard, the repro continues.  Odder still, the "fix" only works if using `+` or `*` from the keyboard, not the keypad.

[2019-05-22 17:16] #490 closed

[2019-05-22 17:33] rudyhuyn commented on #514
Option A: it looks more like extracting a sub-part of a number than a shift.
Option B: it looks like an icon to represent a function measuring the size of a number
Option C: In my opinion the best of the 3. Bit shifts will only be used by power users, already familiar with `>>` or `<<` symbols, so we should use them for the icon.

**2 new proposals:**

<img src="https://user-images.githubuserconte

[2019-05-22 18:31] grochocki commented on #514
Thanks, for the suggestions, @rudyhuyn! Really liking this one:

<img src="https://user-images.githubusercontent.com/1414423/58198346-eb7de580-7c82-11e9-8f0f-511113a13cba.png" data-canonical-src="https://user-images.githubusercontent.com/1414423/58198346-eb7de580-7c82-11e9-8f0f-511113a13cba.png" height="100" />

The other variant is good too. There is a preference for icons to be more square than

[2019-05-22 19:49] michael-hawker commented on #514
Yeah, I was going for the learning aspect abstraction that @grochocki called out. 😊

I like the first more square one from @rudyhuyn as well.

[2019-05-23 02:38] ferzkopp commented on #515
That is true - but the the converter engine could support non-linear conversions, either as symbolic formula or a mapping table (Example: https://www.rapidtables.com/electric/decibel.html - dB to ratio conversion table) that is interpolated. In fact, even simple temperature conversion need formulas as well as allowed value ranges. A dB conversion would also need a 2nd reference input to form the r

[2019-05-23 21:43] Lo0oG commented on #515
On Wikipedia, there is a nice table of unit data at https://en.wikipedia.org/wiki/Module:Convert/documentation/conversion_data which is used by the Convert template on there.

[2019-05-24 00:02] Northurland opened #519 "Allow deletion of typed-in operators"
**Problem Statement**
In the current version of Calculator, if you typed in an operator, you cannot delete it. This will cause significant inconvenience, especially when dealing with rather complicated expressions, since you may have to discard the done part of the expression due to the wrong operator and type everything again from the beginning.

Adding the requested feature will greatly improve

[2019-05-24 02:42] RoadToDream opened #520 "Scientific mode should more scientific"
**Problem Statement**
1. Inputs in scientific mode cannot be modified at exact position after typed in, as people who use this mode are expecting some more control over the equation, that feature is a must from my perspective.
2. Button's function is illogical. When I click **log**, this will act as a postfix notation; however, if I click **power**, it will act as an infix notation. Why?

**Eviden

[2019-05-24 07:27] tim-weis commented on #425
<kbd>C</kbd> is already assigned, e.g. when in programmer mode, set to HEX. I don't know what Mac OS X' Calculator does, when pressing the <kbd>C</kbd> key in programmer mode, but there are really only two options: Doing the right thing and being inconsistent with other modes, or doing the wrong thing. Neither choice is attractive enough to follow.

[2019-05-24 08:33] mdtauk commented on #425
At least in command, **cls** will clear the screen

[2019-05-24 16:00] HowardWolosky commented on #162
This seems similar to the following issue I saw reported in an old forum: [Windows calculator does not accept it's own copied text as input](https://www.tenforums.com/software-apps/92562-windows-calculator-does-not-accept-its-own-copied-text-input.html).  It does feel odd that calc can return a value that I can't then turn around and paste back in to use again.

[2019-05-25 01:49] #475 closed

[2019-05-26 12:47] gbjbaanb commented on #493
You could always install the old, superior, one.

https://winaero.com/download.php?view.1795

[2019-05-27 00:27] nistre commented on #455
If you are opening this up to the community I have a possible code change for this enhancement.

[2019-05-28 13:29] jsoref commented on #177
Fwiw, I've started stepping through how to do this here:
https://github.com/jsoref/Microsoft-calculator/commits/issue-177

If someone familiar w/ RAT/PRAT could give me some pointers, I think this might be somewhat close to something. (I haven't touched the tests, nor have I fed this code to a compiler.)

[2019-05-28 17:01] HowardWolosky commented on #177
cc @joshkoon

[2019-05-30 20:23] MicrosoftIssueBot opened #525 "Refresh Calculator Diagnostic Data"
To make decisions about what user experiences to focus on, we need to understand which parts of calculator are used most often and whether they're working correctly. We want to update the app-specific diagnostic information Calculator is collecting to answer these questions:

1. Is Calculator performing?
2. Which Calculator mode is the best default experience?
3. Can users discover all the calcula

[2019-05-31 18:28] mcooley opened #526 "Develop a parser for arbitrary expressions in the calc engine"
**Problem Statement**
Currently, Calculator executes all operations in immediate mode--press an operator, get a new answer. For multiple scenarios, it would be useful for the user to enter an expression like "(5 + 2) * 3" and have Calculator parse and compute the result.

**Evidence or User Insights**
Several proposed features could leverage this work:
- Expression paste #344 (includes some protot

[2019-05-31 19:55] #77 closed

[2019-05-31 21:44] greedyAI commented on #483
I'd like to fix this bug.

[2019-05-31 21:53] danilotg opened #527 "Calculator.exe crashing when selecting "Date Calculation" on RS5 build 10.1904.31.0"
[code]

[2019-05-31 23:21] RokeyKokey commented on #439
Yeah, and even though Dev is more widely-used now throughout Microsoft, (yannow, the new Chromium 'Edge Dev' browser) the word is still used in some smaller things that the marketing division hasn't touched.

[2019-06-01 07:54] catastrop opened #528 "release windows 10 under a free software license."

[2019-06-01 23:13] grochocki commented on #528
Closing for being off-topic.

[2019-06-01 23:13] #528 closed

[2019-06-01 23:17] grochocki commented on #483
@greedyAI All yours, thanks! Let us know if you need any help.

[2019-06-01 23:22] grochocki commented on #525
I created [calculator-specs/diagnosticData](https://github.com/microsoft/calculator-specs/tree/diagnosticData) to track progress. For more information on next steps, check out our [spec workflow](https://github.com/Microsoft/calculator-specs#workflow).

[2019-06-01 23:26] grochocki commented on #455
Thanks! It looks like @rudyhuyn already has this one covered in #498, though.

[2019-06-02 19:44] catastrop opened #529 "release windows 10 under a free software license."

[2019-06-02 20:12] HowardWolosky commented on #529
Closing as off-topic

[2019-06-02 20:12] #529 closed

[2019-06-02 20:14] HowardWolosky commented on #529
@catastrop, this is the second time you've opened this issue and it has been closed for the same reason. This is the wrong place for that feedback/discussion.

[2019-06-03 06:24] catastrop opened #530 "release windows 10 under a free software license."

[2019-06-03 06:33] HowardWolosky commented on #530
@catastrop, we would love to have your participation in _this_ project. This project is about Windows Calculator.

[2019-06-03 06:33] #530 closed

[2019-06-03 15:44] phuclv90 commented on #486
There has always been shortcuts in calculator. It's just that common operators (`+-*/`) are well-known, the rest have no indicators so people are often not aware of them

- http://www.shortcutmania.com/Windows-7-Calculator-Keyboard-Shortcuts-printable-cheatsheet.htm
- https://defkey.com/windows-calculator-shortcuts

[2019-06-03 17:55] HowardWolosky opened #533 "Enable GitHub Source Linking with the Symbol Server for ADO CI builds"
To enable easier post-mortem debugging from cabs, we should have the GitHub source associated with our pdb's on the symbol server.

For more information, refer to the [Azure DevOps documentation](https://docs.microsoft.com/en-us/azure/devops/artifacts/symbols/setting-up-github-sourcelinking?view=azure-devops) for source linking.

[2019-06-03 23:36] mcooley commented on #527
The important bit of the stack here is:

[code]

My best guess is that this is an issue with [WinUI](https://github.com/microsoft/microsoft-ui-xaml) and not with Calculator directly.

[2019-06-04 01:22] Geveffe commented on #209
This issue is now being used to track recommendations, observations, and investigations into how we can improve the actual and/or perceived launch performance of the app. Any actionable ideas that are identified should be broken out into their own issue for tracking purposes.

[2019-06-04 07:01] drizo72 opened #538 "Option to save the current size of the calculator as "user preferred" size and have a way for the user to instantly resize the calculator to their "user preferred" size."
**Problem Statement**
If a user intentionally or unintentionally resizes the calculator and then closes it, there is no way for them to automatically resize the calculator to the size their were using before.

**Evidence or User Insights**
"I accidentally resized my calculator. Now I can't undo this back to the optimal size I like it to be."

**Proposal**
Please add an option for the user to be ab

[2019-06-04 17:08] Edgar-P-yan opened #539 "Wrong calculation in Programmer mode: 3000 * 80 = -22144"
In Programmer mode the result for 3000 * 80 is -22144, which is wrong, while in Standard and Scientific mode the result is correct (240000).

**Steps To Reproduce**
1. Switch to Programmer mode
2. Type 3000 * 80
(I did not test it on other machines)

**Screenshots**
![calc_bug_2](https://user-images.githubusercontent.com/35116136/58898846-f1f56e00-8714-11e9-9dbc-f14e14df3690.gif)

**Device and App

[2019-06-04 17:22] MelulekiDube commented on #539
@Edgar-P-yan click on the word toggle button you will realize that the answers will be changing based on that. So from reading, i found out that the word type is 16 bits and thus 240000 will be evaluated to a 16-bit  binary number which is the 2's complement for-22144.

I may be wrong about the explanation but yeah. Just ensure that the button you have D-Word to be safe.

[2019-06-04 17:26] HowardWolosky commented on #539
@MelulekiDube is correct.  This is "By Design".  In your example, you were looking at numbers defined as `WORD`, so the negative answer that you're seeing is simply due to [integer overflow](https://en.wikipedia.org/wiki/Integer_overflow).

[2019-06-04 17:26] #539 closed

[2019-06-04 18:07] Edgar-P-yan commented on #539
@HowardWolosky , @MelulekiDube. Now i see. Thank you for explaining

[2019-06-05 19:42] grochocki commented on #538
Thanks for the feature suggestion! We have a [process in place](https://github.com/Microsoft/calculator/blob/master/docs/NewFeatureProcess.md) for feature suggestions that impact the end-user experience, which includes a template that helps frame the feature pitch. Please update using that template.

[2019-06-05 20:49] grochocki commented on #24
@arcadiogarcia We love the idea of adding inking support to Calculator, and I think your sample is a great proof-of-concept! We have prototyped some inking integrations in the past, but we ran into a couple roadblocks mostly around error detection/correction. I'll try to dig up some more details on what we have tried.

Before submitting a PR, we'll want to work through some of those open issues as

[2019-06-05 20:53] grochocki commented on #114
The idea is _mostly_ captured by the content of the pitch, but we think there are a couple more details to figure out, since different modes support different sets of functionality (e.g., what happens when you switch from Programmer calculator with HEX output to Standard calculator?). I created [calculator-specs/keepInputOnModeSwitch](https://github.com/microsoft/calculator-specs/tree/keepInputOnM

[2019-06-05 21:01] adrianghc opened #541 "Date picker on date calculator stretches too far down"
**Describe the bug**
In the date calculator, there are two date picker buttons. Clicking any of them spawns the date picker, but it extends too far down. One can see the rectangle where it should be in, but there are days even below that rectangle. However, no dates can be selected below the rectangle.

**Steps To Reproduce**
1. Open the date calculator.
2. Click a date picker.

**Expected behavio

[2019-06-05 21:17] grochocki commented on #138
First, we _really_ appreciate all of the great conversation that has been going on in this issue. There have been a lot of great ideas about how to clear up this confusion, but we would like to focus on one solution in particular as we move into planning.

After giving it a bit of thought, we would like to keep Standard Calculator working just as a simple pocket calculator would, but as some folks

[2019-06-05 21:28] grochocki commented on #157
We would love to make it easier for users to understand what keyboard shortcuts are available, but we also want to make sure that we follow the proper guidance in regards to the use of access keys and keyboard accelerators. We would like to propose the following:
* Add a link in the about dialog to the [app support](https://support.microsoft.com/en-za/help/4026389/windows-calculator-in-windows-10)

[2019-06-05 21:34] grochocki commented on #163
We believe there is a dependency on #526 that may prevent us from implementing this feature today. Having said that, we should think through the experience we want to provide to help us better understand requirements for #526. I created [calculator-specs/historyEditing](https://github.com/microsoft/calculator-specs/tree/historyEditing) to track progress.

[2019-06-05 21:35] grochocki commented on #541
Thanks for the detailed bug report! I can reproduce the issue easily on my machine.

[2019-06-05 22:32] dodexahedron commented on #114
Well...
Why does it have to be one or the other?
In other words, why can’t scientific mode support hex, binary, etc, as well?
In windows do, you used to be able to, for example, carry out the following sequence of events:

1. Enter a number in hex in dev mode
2. Left shift
3. Change to scientific, keeping the current input
4. Perform other operations only available in scientific mode
5. Switch bac

[2019-06-05 23:13] arcadiogarcia commented on #24
Great! What is the best place to discuss those open issues, this thread or opening a PR with a draft of the spec and iterating there?

[2019-06-05 23:17] mdtauk commented on #24
Would this not be covered by using the Handwriting TextBox control?
![image](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/images/handwritingview/handwritingview2.gif)

https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/text-handwriting-view

[2019-06-06 00:16] Geveffe commented on #527
It turns out that this is an issue in Microsoft.UI.Xaml. We've sent the bug over to the right folks to take a look in that code base.

Thanks!

[2019-06-06 00:16] #527 closed

[2019-06-06 03:31] arcadiogarcia commented on #24
Currently the Calculator app doesn't launch the Handwriting TextBox control when tapped with a pen. An alternative approach would indeed be to just pop up the handwriting control, but it is optimized for text input and it doesn't support adding our own recognition logic. With the raw InkCanvas approach we can easily filter the candidates that aren't valid arithmetic expressions to improve accuracy

[2019-06-06 07:08] ygoe commented on #114
Switching from dev mode to scientific mode while in hex display? Where's the problem? There is a value, it can be represented as decimal, hex, base-12 or whatever base. If scientific mode only displays decimal, then that's what it'll do. Is there anything that can't be computed here? Of course it would be nice if switching *back* to dev mode would remember the previously selected base.

Switching

[2019-06-06 11:13] Poopooracoocoo opened #543 "Provide appx releases on releases tag and add link to GitHub repo on about flyout"
**Problem Statement**

This would let people update to a newer version or get an older version to see if there was a regression. Target audience would be, well, anyone using Calculator.

**Evidence or User Insights**

For reporting bug fixes and for fixing regressions.

**Proposal**

By adding a link to the GitHub repo on the about flyout, people will know that it's open source and that they can c

[2019-06-06 13:08] I-Campbell commented on #264
Sorry for late reply to https://github.com/microsoft/calculator/issues/264#issuecomment-476069388
 I do think all binary unary operators should be repeated. It makes the double equals make more sense:
"Will repeat last operator"
Rather than
"Will repeat last operator unless you used one of the following..."

I am now looking forward to taking the log(log(10 000 000 000)) when this bug is fixed.

[2019-06-07 07:59] drizo72 commented on #538
Hi Dave,

I've updated my feature request as per the template. Hopefully, I am doing this the right way...

BR

Dimitris

[2019-06-08 13:54] MarcusJohnson91 commented on #514
I prefer Option C.

It's very recognizable as the shift operator there.

[2019-06-08 13:56] mdtauk commented on #514
I am assuming these will be done as icon font characters, and not bitmaps

[2019-06-09 16:32] DragoCubed commented on #538
Would this be like PiP or aero snap? As far as I know, the solution to the problem would be either PiP, not maximising, or snapping the window.

[2019-06-10 10:50] drizo72 commented on #538
Users are accustomed to maximize their windows. So clicking to maximize should mean to them: "Arrange my calculator to the default settings for use", This means default size and mode of operation.

So my answer is option b, not maximizing.

[2019-06-10 14:41] grochocki commented on #486
#157 should help improve shortcut documentation.

[2019-06-10 14:44] grochocki commented on #24
Ultimately, everything should be documented in the spec, so it would be good to have a draft spec drafted to start from. If the open questions are blocking that from being created, then we should have those conversations here first.

[2019-06-10 14:56] grochocki commented on #514
Yep, our icon designers will generate the final icon based on the conversation here and add it to the Calculator font.

[2019-06-10 15:05] grochocki commented on #114
Fair question. Keep in mind, though, that there are many different types of users. Would an average user (non-developer) find value in having support for binary/HEX values, bitwise operators, and other developer-centric functionality in other modes? Might it cause confusion?

This seems like a reasonable approach.

This is exactly why we felt like this feature could benefit from a a more detailed

[2019-06-10 15:07] mdtauk commented on #538
How would the Calculator work in Tablet Mode with a fixed maximum size?

Does this maximum size take into account the current DPI scaling?  So the window size is in epx rather than pixels?

If there is no Maximise, it will need a new AppWindow type, one more like a dialog box with only Minimise and Close buttons.  Not sure that UWP has that support yet.

Or if Maximise is to be supported, but then

[2019-06-10 15:13] mdtauk commented on #514
It's good to know those responsible for managing the MDL2 font assets, will be involved - and not just devs adding PNGs :)

[2019-06-10 15:50] ygoe commented on #114
Wait, four ways to round a number: (1) The mathematical, (2) always up, (3) always down, and (4) the one that .NET uses (mathematical but .5 goes down every so often only to confuse people).

[2019-06-10 17:14] seanofw commented on #114
There are more, @ygoe, at least ten rounding modes that I can think of offhand.  @grochocki is right that this isn't as obvious as it might seem.

**Simplistic rounding modes:**

- All fractions toward zero (i.e., truncation).
- All fractions away from zero (i.e., absolute ceiling).
- All fractions toward +infinity (always up, i.e., `ceil()`).
- All fractions toward -infinity (always down, i.e., `

[2019-06-10 18:27] drizo72 commented on #538
Clicking the maximize button should resize the calculator window to the max window size option chosen by the user.

Same applies for tablet mode. In tablet mode, the user should tap on maximize (or doubletap) to resize the calculator to the desired maximum size. Once maxed to desired size, the typical use case for the calculator in tablet mode would be to drag it around, eg on top of an another ma

[2019-06-10 18:41] mdtauk commented on #538
This would be different behaviour from every other Windows app

In Tablet Mode every app is Full Screen or Maximised by default.

The Pin an app on top you describe is a Picture in Picture window.  UWP calls this a **CompactOverlay** window.  You set a size `` ApplicationViewMode.CompactOverlay.CustomSize = new Windows.Foundation.Size(320, 200); ``

The documentation for this is lacking.

What may