[2019-06-10 19:30] drizo72 commented on #538
Will investigate further what you are proposing.

Yet, this could initially be available only in desktop mode (mouse or touch), leaving tablet mode operation work as is.

If max button is not an option, then predefined calculator fixed sizes option should be available in settings. If fixed sizes operation is selected, then no maximize button should be available on the calculator window, only minim

[2019-06-10 21:56] DragoCubed commented on #538
As a workaround, you could use Sizer 4 from brianapps. I use it somewhat often and it's a must have for me. I can hit win + ctrl + z and then choose the size and/or location.

[2019-06-11 06:54] drizo72 commented on #538
There are several workarounds one could try but I am mostly interested to see the open source calculator to be the calculator that people are happy with.

One of the most frequent complaints is its size. What I am proposing is fairly easy to implement. Windows calculator needs to have fixed size operation option, at least in desktop mode.

Here are some comments of users regarding the current Wind

[2019-06-11 10:16] Poopooracoocoo commented on #538
Why don't you just *not* maximise it? I'm really confused. Perhaps by default it should be minimum width. It looks like a physical calculator and is what I prefer. I don't know if we can set a default as I think Windows handles that.

[2019-06-11 11:51] drizo72 commented on #538
Check this use scenario. Let's say you start the calculator and then resize it (intentionally or unintentionally) to a custom size.

Then, you close the calculator window.

When you reopen it, it will return to the last size it was when you closed it. There is no way to reopen the calculator in the initial preferred baseline size because, well, such thing does not exist in the calculator.

The onl

[2019-06-11 18:12] drizo72 commented on #538
By the way, I see that the calculator does have a minimum allowed standard size. Yet, you can only use that size by manually resizing the calculator window to the smallest allowed size. If you have previously resized it, you cannot revert to that minimum size automatically.

[2019-06-11 20:25] Poopooracoocoo commented on #538
I dont know of any apps that do that. I dont find resizing a window a tedious task

Thank you for clarifying.

[2019-06-11 20:40] drizo72 commented on #538
I am really sorry that I confuse you. It was not my intention.

Yes, it is very tedious and annoying especially if you have to do it everytime you open the calculator. Moreover, if you have multiple displays with different DPIs, calculator starts maximized on the lower DPI screen for some reason so you have to do the manual resizing every single time you open it.

How about adding an option to not

[2019-06-12 14:05] levicki commented on #209
@Geveffe That's easy, just use the normal Win32 code and admit that UWP and modern UI is slow junk which nobody wants to use, and nobody asked for.

[2019-06-12 15:37] I-Campbell commented on #538
You need a "save perfect size" menu option and "restore perfect size" menu option. If there are other such view preferences, then perhaps "Save perfect view" and "Restore perfect view".

[2019-06-12 15:54] edwpang commented on #338
What's the current status of this feature? The latest update was a couple of months ago.

[2019-06-12 16:23] drizo72 commented on #538
That's sounds like a very good solution.

The "perfect view" you mention, is, in fact, the preferred users size. Unfortunately, windows min, max and close buttons are missing this "perfect" view resizing.

That's why I proposed the max button to work like "restore perfect view", which is the maximum allowed size under the specific "restricted/predefined" size mode of operation. Also this operation

[2019-06-12 17:00] I-Campbell commented on #347
Is it possible to, instead of the radio buttons, show the two results?
User types in 9°F
Scale (How hot something is):
-27°C
Interval (Difference between two temperatures):
5°C

I think showing the two conversions will help the user make the right decision.

[2019-06-12 18:23] grochocki commented on #338
@edwpang Thanks for your interest in this feature! I just updated the root [spec page](https://github.com/microsoft/calculator-specs/blob/graphingmode/active/GraphingMode/README.md) in the branch with my latest thinking, and I will be updating the other pages with more details soon, so the community has the chance to provide feedback.

[2019-06-12 18:24] I-Campbell commented on #153
General conference on weights and measures say:
Decimal place can be either '.' or ','
Thousands and Thousandths separator can be a thin space. '.' nor ',' should not be used as thousands nor thousandths separators to avoid confusion.

So I think it is reasonable that:
1. only one separator is treated as a decimal place.
2. If two occurances of one separator exist and only 1 or none of the other s

[2019-06-12 18:28] ThiefMaster commented on #153
Since I just got reminded of this issue thanks to the (very interesting!) comment, another idea regarding this came to my mind:

If you type a number, chances are good that you will never enter thousands separators. So I think for that case it makes sense to accept both `.` and `,` as the decimal separator (and reject any repeated input of either of those chars once one has been used).

[2019-06-12 18:31] HowardWolosky commented on #153
Unless you're copying and pasting a number from somewhere else that was formatted that way....

[2019-06-12 18:34] ThiefMaster commented on #153
Sure, but it's easy to detect whether it's copy&paste or actual typing.

[2019-06-12 18:38] I-Campbell commented on #153
@ThiefMaster: I agree. That also complies with Weights and Measures, so I like your one better for typing. You can expect the user to copy/paste text written by non-compliant authors though, in which case my disambiguation cases should be used.

@HowardWolosky: copy paste and typing are different code areas.

[2019-06-12 18:42] miloush commented on #153
@I-Campbell what is the standard you are suggesting compliance to, and how is it better for end users than CLDR?

[2019-06-12 18:55] I-Campbell commented on #153
@miloush:

https://www.bipm.org/en/CGPM/db/22/10/

These guys do the SI units.

CLDR is for what the user is likely to enter, but fails to recognise that the user is a global citizen and may be copy pasting from a website from another country.

[2019-06-12 20:49] I-Campbell commented on #108
**Problem Statement**
Gas appliances have a BTU/hr rating. Electric appliances have a kW rating. Smart meters will give you your current gas usage in BTU/hr but your current electric usage in kW. In order to compare the two power units, they will look to a converter, but Win10calc only has BTU/min. Adding this feature will help people understand their energy usage and empower them to reduce their

[2019-06-12 20:51] grochocki commented on #108
Thanks, @I-Campbell!

[2019-06-12 20:52] ssylvan commented on #209
I looked at a trace for this a while back, and it seems like an awful lot of time is spent building data that is known at compile time. Is it possible to parse xaml and produce the initial layout tree at build time (and cache layout between runs after that)? That way the app can just memory map a file and start executing rather than spend half a second parsing text and building a tree in memory.

[2019-06-12 21:02] I-Campbell commented on #108
I note that EIA uses the formula 1 BTU = 1 055.055 852 62J
https://www.eia.gov/totalenergy/data/monthly/pdf/sec13_17.pdf

Whereas the codebase uses 1055.056
https://github.com/microsoft/calculator/blob/9f01c8168b921a82ada80be24203de7729b1b6fa/src/CalcViewModel/DataLoaders/UnitConverterDataLoader.cpp#L831

Do we care that we're 0.15ppm out in this case? Do any other jurisdictions use 1055.056? It k

[2019-06-12 21:06] miloush commented on #153
@I-Campbell Thanks.

Some of the behavior you propose is breaking (i.e. changes what the calculator, both Win32 and UWP, currently does for the same input).
I would argue global citizen should have their preferences respected, and I would be cautious about re-interpreting pasted values, especially in unit conversion where it can create confusion. Don't also forget that currently there is no way fo

[2019-06-12 21:19] grochocki commented on #108
It appears 1055.056 comes from ISO 31-4 on Quantities and units—Part 4: Heat. While the EIA measurement has higher accuracy, I think we probably want to stick to ISO standards whenever possible.

[2019-06-12 21:38] grochocki commented on #333
We use licensed data for the currency converter feature, so we are not able to add new currencies ourselves. I am going to close this pitch for now, but I will be passing along this feedback to our data partner for consideration.

[2019-06-12 21:38] #333 closed

[2019-06-12 21:43] grochocki commented on #493
Updating pitch and title to reflect the first piece of feedback. Part of the original pitch is covered in #116.

[2019-06-12 23:45] Poopooracoocoo commented on #209
I wonder what Pictureflect Photo Viewer does. That's the fastest UWP app I have ever used.

[2019-06-13 00:57] mcooley commented on #463
We're preparing to make this change in the next few days. We will likely also update to target the Windows SDK version 18362 around the same time as well.

[2019-06-13 01:30] grochocki commented on #426
This behavior is currently by design based on how Calculator handles input. However, I agree this is not the best experience. I believe #519 covers the "fix" for this, so closing this as a duplicate of that. If I am mistaken, and you think this might be different, we can consider reopening this.

[2019-06-13 01:30] #426 closed

[2019-06-13 01:39] grochocki commented on #520
This appears to be a duplicate of #519.

Today, this is by design based on how Calculator handles input. However, I believe the implementation for #519 might lead to free-form input, which would allow for natural input of expressions.

I'd like to propose closing this pitch and focus on improved input entry via #519 and parsing via #526. Any objections?

[2019-06-13 01:41] RoadToDream commented on #520
Great!

[2019-06-13 01:41] #520 closed

[2019-06-13 07:40] darklightcode commented on #504
@grochocki @ZhaoMJ to reproduce this error, just copy the text using the mouse by holding and dragging from the left to the right (an uncontrolled right to make sure you just got the whole thing) then press Ctrl+C , and Paste it in an editor with IntelliSense. I have tried it in VSCode and IntelliJIdea. Just encountered it, and ended up here.

A more detailed view of the problem using some CSS (wi

[2019-06-14 06:26] Daijobou commented on #504
I have this bug too and can reproduce it every time. This bug is new, not long ago this bug not exists.

One of previous versions I can click on calculator and "copy" the result. Now I must first click on "select all" and then "copy". Why so unnecessarily complicated for a result? After copy I insert it in current microsoft vscode as PHP-Code and get in Browser

When I get this error with e-mail i

[2019-06-14 19:46] #75 closed

[2019-06-14 21:46] #76 closed

[2019-06-15 01:31] #483 closed

[2019-06-15 01:41] #387 closed

[2019-06-16 17:18] Bigpet opened #552 "Date difference calculation wrong in certain cases"
**Describe the bug**
When calculating the difference between dates near the ends of months the results are sometimes wrong. I.E. 31st July - 30th December 2019 results in "5 moths; 613566756 weeks; 3 days".

**Steps To Reproduce**
1. Open Calculator
2. Switch to date calculation mode
3. Go to the difference between dates - mode
4. Enter start-date 31st of July 2019
4. Enter end-date 30th of Decemb

[2019-06-16 17:34] ItzLevvie commented on #552
I was able to reproduce this issue on Windows 10 build 18362.175
![image](https://user-images.githubusercontent.com/11600822/59567378-3bbf4c00-9065-11e9-914e-74140bae1219.png)
![image](https://user-images.githubusercontent.com/11600822/59567390-47ab0e00-9065-11e9-9993-5e8b39b1ad5c.png)

[2019-06-16 23:38] grochocki commented on #552
Thanks for the detailed report! I can reproduce the problem when trying to calculate the difference between July 31 to December 29 (Seattle, en-US).

[2019-06-17 06:43] rudyhuyn opened #554 "Prevent Date Difference to display faulty results"
**Describe the bug**

When `DateCalculationEngine::GetDateDifference` isn't able to correctly calculate the number of years, months, weeks, days between two dates, the function currently returns an incorrect result, as seen with #552 (which focuses on a specific calculation error).

In order to prevent any further bugs in the future, we must add a way to indicate that the function weren't able to

[2019-06-17 16:52] grochocki commented on #554
Seems like a reasonable way to tackle this whole class of bugs. Thanks, Rudy!

[2019-06-17 18:23] Gwunhar commented on #504
I'm on Windows 10 17763.557 with Calculator 10.1904.42.0 and can reliably reproduce this bug this way:

Make some calculation in Calculator
Click into the result pane and CTRL+A or Right Click -> Select All
Copy
Paste and you'll have the leading and trailing character.

Hope that helps.

Also, just for chuckles...one of our PMs found this by pasting values back into Visual FoxPro from Calculator,

[2019-06-17 20:59] rudyhuyn commented on #526
For information, I already build an expression parser to improve the `PasteManager` and managing a lot of operations not currently supported (ln, log, sqrt, etc...) and already covering all your needs (history edition, ink, edition in scientific):

https://github.com/microsoft/calculator/issues/344 (and proto-PR here: https://github.com/rudyhuyn/calculator/tree/AddExpressionParser)

[2019-06-17 21:21] #512 closed

[2019-06-17 21:24] grochocki commented on #512
"x" is already mapped to "Exp" in scientific mode and will be mapped to the variable "x" in graphing mode, so sometimes using it to refer to multiplication may be confusing. I believe the implementation for #519 might lead to free-form input, which would allow for natural input of expressions, and there are also pitches tracking improved input entry (#519) and parsing (#526), which should help out

[2019-06-17 21:24] #425 closed

[2019-06-17 21:25] grochocki commented on #425
"Esc" is already mapped to clear input. I believe the implementation for #519 might lead to free-form input, which would allow for natural input of expressions (where "c" might be the start of "cos" and not mapped to an individual key at all), and there are also pitches tracking improved input entry (#519) and parsing (#526), which should help out here too. Finally, we are looking to improve suppo

[2019-06-17 21:26] #261 closed

[2019-06-17 21:26] #275 closed

[2019-06-17 21:27] grochocki commented on #275
#515 aims to cover gaps in conversion units more broadly. Let's continue the conversation there regarding the best units to include time conversions.

[2019-06-17 21:41] mdtauk commented on #428
WinUI is moving it's control designs to use a 2 px rounded corner on button and other controls.  The button templates used by the keyboard should probably prepare for this change.  I would suggest adding a XAML ThemeResource Thickness of "2,2,2,2" and apply it to the templates.

If you implement this new keyboard before WinUI updates the controls, you could always set it to 0 for now, and change i

[2019-06-17 23:05] #552 closed

[2019-06-18 06:12] rudyhuyn commented on #552
This is an issue, the behavior of this feature shouldn't depend on the user's time zone but instead produce a consistent result. I will take a look.

[2019-06-18 07:46] rudyhuyn opened #557 "Date Difference: dates returned by CalendarDatePicker and used to calculate the difference can be shifted depending on the current time and time zone."
## Describe the bug

In C++/CX, a DateTime is represented using a [`FILETIME`](https://docs.microsoft.com/en-us/windows/desktop/api/minwinbase/ns-minwinbase-filetime), number of seconds since 01/01/1601 12:00am UTC. Obviously, this way of representing a date has no notion of local time/UTC time, by design, date are always UTC.

This is an issue with `CalendarDatePicker`, returning the date selecte

[2019-06-18 07:47] rudyhuyn commented on #557
This is the reason why we can read the following comments in #552:

[2019-06-18 22:18] grochocki commented on #557
Thanks for digging into this! It sounds like the fix here will make reproducing future issues with dates easier.

[2019-06-18 22:56] grochocki commented on #24
Here are a couple of the larger open questions we had when we prototyped inking support in Calculator in the past:

### Is inking a separate mode or is inking pervasive and enabled when you touch you pen to calculator?
We explored a couple options, including (a) having an independent "inking" calculator mode, (b) having the input field respond to pen input (as you have in your prototype), or (c) a

[2019-06-19 08:20] 161134050 opened #559 "Option to disable hardware acceleration"
It seems that all UWP applications use hardware acceleration by default, I do not appreciate this. I'm not sure why a calculator application would require hardware acceleration.

![image](https://user-images.githubusercontent.com/39843740/59748724-4882b080-92ae-11e9-8a2f-f05c9047f0c4.png)

[2019-06-19 10:38] saxus commented on #559
I'm not sure that this issue is a trolling or not... Every single GPU do rendering much-much more faster than CPU. And also they are much more power-efficient in that job. Remember: they are a lot of users with notebooks, tablets, phones (even after how MS messed up the whole WP platform several times).

I'm not sure what would be the benefit of disabling HW acceleration. It's like going back to t

[2019-06-19 10:41] mdtauk commented on #559
UWP as a platform uses Hardware Acceleration to render the UI - Calculator also makes use of Acrylic for the window background, and this also uses the GPU

[2019-06-19 17:13] grochocki commented on #559
@mdtauk is spot on.

[2019-06-19 17:13] #559 closed

[2019-06-19 17:14] mcooley opened #560 "Develop a minimal repro for coroutine issues and remove workarounds"
In [several](https://github.com/microsoft/calculator/pull/548#issuecomment-503312276) [places](https://github.com/microsoft/calculator/blob/9f01c8168b921a82ada80be24203de7729b1b6fa/src/CalcViewModel/Common/ConversionResultTaskHelper.cpp#L32) [in](https://github.com/microsoft/calculator/blob/fe30c7cabc1f30c239b5a22ff6d0f7fa0fba5cd1/src/CalcViewModel/DataLoaders/CurrencyDataLoader.cpp#L186) Calculat

[2019-06-20 12:18] kaina404 commented on #560
嗯

[2019-06-20 19:25] grochocki commented on #243
While we have generally favored #515 instead of spot updates to include additional units in converters, this is a special type of unit that requires additional UX work due to it being made up of multiple parts. As a result, #379 may be a prerequisite. Finally, we would like to treat the bug in scientific mode separately from the feature to add DMS as an option in the angle converter, so this shoul

[2019-06-20 19:29] grochocki commented on #204
We believe this is dependent on #170, which in turn, is likely dependent on the ability to display rich math symbols and expressions in the output. We can move forward thinking through the UX and behavior assuming those issues are resolved. A couple additional pieces of feedback:
* We should consider supporting this across more modes (i.e., should not limit to just scientific mode).
* While a deci

[2019-06-20 23:03] grochocki commented on #78
I created [calculator-specs/alwaysOnTop](https://github.com/microsoft/calculator-specs/tree/alwaysOnTop) to track progress. For more information on next steps, check out our [spec workflow](https://github.com/Microsoft/calculator-specs#workflow).

[2019-06-21 21:54] #74 closed

[2019-06-21 23:37] grochocki commented on #266
We reviewed the pitch and would love to move forward with it. There are likely other UX improvements we can make to converters, but this is a nice quality of life improvement that we should take right away. Since the idea is fairly straightforward and is entirely captured by the pitch, we can move this straight into production. Unlocking @rudyhuyn's existing PR that implements this.

[2019-06-22 00:28] grochocki commented on #215
Thanks everyone for the conversation on this issue. Generally speaking, we like the current multi-instance behavior in cases where the user explicitly launches another instance of Calculator (e.g., middle clicking the task bar icon). However, we recognize there are cases where you may favor programmatically opening an existing instance, when possible (i.e., hardware calculator keyboard button). As

[2019-06-22 00:57] rudyhuyn commented on #215
have a very old PR ready adding a command parameter and forcing single instance. Once specs done (including the parameter name) I will update it and submit it.

[2019-06-22 03:10] skyanchor opened #562 "Access keys showing inaccessible Chinese characters"
The hotkey experience related issue should be addressed in calculator zh-cn.
When navigating in hamberger menu with alt+hotkey, there are Chinese characters in the indicators and these items can't be accessed by pressing any key.

OS Ver. 18362.175 (19H1)
App Ver. 10.1904.42.0

![image](https://user-images.githubusercontent.com/52092252/59958778-469f3400-94de-11e9-8374-5b60673b87f7.png)

[2019-06-22 21:36] janisozaur opened #563 "Odd dependency cycle in CalculatorEngine"
There is an odd dependency in CalcEngine.

`CalculatorManager` inherits `ICalcDisplay` and implements a set of virtual calls it exposes, in particular `SetPrimaryDisplay`.
https://github.com/microsoft/calculator/blob/2517854836fee634a273adf3be72371cdb51ddaa/src/CalcManager/Header%20Files/ICalcDisplay.h#L13

When setting a mode in `CalculatorManager`, e.g. https://github.com/microsoft/calculator/bl

[2019-06-24 15:19] ItzLevvie commented on #543
Install the latest bleeding edge Windows Calculator build from GitHub without compiling from source:
1) Go on "Start > Settings > Update & Security > For developers" and click on Developer mode
2) Visit https://dev.azure.com/ms/calculator/_build/latest?definitionId=57&branchName=master
3) Click on the blue "Artifacts" dropdown button and then click "appxBundle"
4) Extract "appxBundle.zip" and then

[2019-06-24 23:38] #463 closed

[2019-06-25 18:29] #462 closed

[2019-06-25 21:08] grochocki commented on #428
Thanks for all the call outs @mdtauk! This will all be implemented before the WinUI changes take effect, but these are all good areas to keep an eye on. I know many of these changes are well along, but in general, we try not to design/code around anticipated changes. We will certainly update all of our templates to align with the latest guidelines and audit the app for any odd UI bugs before migra

[2019-06-26 00:59] grochocki commented on #115
Resolving as a dupe of #504. Let's continue the conversation there where folks seem to have more comprehensive repro steps.

[2019-06-26 00:59] #115 closed

[2019-06-26 01:00] marekr commented on #115
:sadface:

[2019-06-26 20:37] grochocki commented on #563
cc: @HowardWolosky for consideration

[2019-06-27 01:47] #557 closed

[2019-06-27 08:41] jndman opened #571 "Date calculation error"
[https://i.loli.net/2019/06/27/5d1480f81ceda38318.jpg](日期计算错误)

[2019-06-27 08:59] HowardWolosky commented on #571
Thanks for the report, @jndman.  This appears to be a duplicate of #552 which was recently fixed with #553.  If I'm misunderstanding your report, please provide more information.  Thanks!

[2019-06-27 08:59] #571 closed

[2019-06-27 23:22] sirisian commented on #517
A vector projection operator would be nice also.

Also as an ad-hoc suggestion the UX for inserting a matrix and vector should use the Word insert table control where the user clicks insert Matrix/Vector and sees:

![image](https://user-images.githubusercontent.com/1320998/60306913-e65a2900-9907-11e9-9a3e-93919cbe26ba.png)

This allows one to create a matrix or vector of any standard size in two c

[2019-06-28 22:45] #87 closed

[2019-06-30 19:21] DragoCubed commented on #538
Could you please edit your issue to specify whether you want to implement this or not?

[2019-06-30 20:35] MairwunNx opened #573 "[readme] funny incorrect calculator screenshot."
Just see it: left calculator is screenshot from your repo, right calculator it from my computer :)
How? How 4 + 2 + == 2 ? 🤔🤔🤔🤔 When it == 6.

![image](https://user-images.githubusercontent.com/39625750/60401809-54645180-9b8f-11e9-9902-c8818bb7bf3c.png)

[2019-06-30 22:02] HowardWolosky commented on #573
Thanks @MairwunNx. That screenshot is showing the history of operations so far... It's correct.  It's what the calculator shows when you type <kbd>4</kbd><kbd>+</kbd><kbd>2</kbd><kbd>+</kbd><kbd>2</kbd>. <kbd>=</kbd> hasn't been pressed yet...

[2019-07-01 01:22] #554 closed

[2019-07-01 07:44] drizo72 commented on #538
I think I have already done that. Do you ask me if I want to implement this myself?

[2019-07-01 11:27] MairwunNx commented on #573
@HowardWoloksy Yes, i also not click on `=`, i don't know what your calculator get `4 + 2 +` == 2 :DD

[2019-07-01 11:34] ItzLevvie commented on #573
@MairwunNx Works as expected, just like what @HowardWolosky has said.
![image](https://user-images.githubusercontent.com/11600822/60433383-a099ab00-9bfc-11e9-8a91-a1c7e6d3df60.png)

[2019-07-01 11:36] MairwunNx commented on #573
Hahaha, what?? I get six, but i not click on `=` :D

![image](https://user-images.githubusercontent.com/39625750/60433486-9e8c1800-9c0d-11e9-899d-52eeb7722c2b.png)

[2019-07-01 11:44] ItzLevvie commented on #573
@MairwunNx That's because you're doing ```4 + 2 +``` and not ```4 + 2 + 2``` like what @HowardWolosky has said.

[2019-07-01 11:47] MairwunNx commented on #573
@ItzLevvie ahhhh, thank you, sorry, I saw it in the screenshot and thought that it was written simply `4+2+` and not `4+2+2`, sorry :D

[2019-07-01 11:47] #573 closed

[2019-07-01 21:34] adrianghc commented on #541
It seems like this issue appears only with scaling higher than 100%.

[2019-07-02 02:59] DragoCubed commented on #538
Yes. The template gives you two options and asks you to remove one IIRC :)

[2019-07-02 07:12] drizo72 commented on #538
I do have updated this accordingly. But I guess somebody else could take the lead on this one. I do not know how contribution and development on this kind of project works.

[2019-07-04 14:29] yongyanghz commented on #463
If you want to build  on v141 platform toolset on Visual Studio 2019, you have to install Visual Studio 2017 on the same machine, Microsoft does not treat it as a bug, according to a discussion on [the vs developer community](https://developercommunity.visualstudio.com/content/problem/568655/visual-studio-2019-error-msb8020.html).

[2019-07-04 14:43] LanceMcCarthy commented on #463
Correct, this isn't a bug, it's just tooling feedback for a smoother developer experience. The easier it is for someone to get started, the higher the likelihood theyll move forward with contributing

[2019-07-05 05:12] dovisutu opened #574 "Incorrect result for exponational and logarithmic functions with exact results"
**Describe the bug**
The below example shows a case that shown answer (2) doesn't match the real answer
log(e^2)/log(e)-2 != 0

**Steps To Reproduce**

Steps to reproduce the behavior:
1. Go to `Scientific mode`
2. enter log(e^2)/log(e^1)-2
4. See error

**Expected behavior**
log(e^2)/log(e^1)-2 should be 0 as *base changing formula for logarithms*:
![LaTex](https://user-images.githubusercontent.c

[2019-07-05 05:27] Poopooracoocoo commented on #538
@drizo72

By who? That's what @DragoCubed is saying.

Here's the template:

[code]

[2019-07-05 06:16] dovisutu commented on #562
I think I've found the reason: mistranslated key.
`一个 -> AN`
https://github.com/microsoft/calculator/blob/2a5a52d44d67b0ebf28a3638d28d156008d41133/src/Calculator/Resources/zh-CN/Resources.resw#L2698-L2701
`增强现实 -> AR`
https://github.com/microsoft/calculator/blob/2a5a52d44d67b0ebf28a3638d28d156008d41133/src/Calculator/Resources/zh-CN/Resources.resw#L2702-L2705
`升 -> L`
https://github.com/microsoft/

[2019-07-05 07:02] yulei900609 commented on #338
I need this feature very much.

[2019-07-05 08:16] SAI990323 commented on #574
This is a matter of precision, I think you may not hope that the calculator will automate simplify the  formula for you and if we use float number, this problem may be inevitable.

[2019-07-05 08:47] dovisutu commented on #574
The issue is, if I delete "-2" part, the result is 2.
This may give somebody the thought,"*How strange, why didn't 2-2 = 0?*"
Also, there are two related issues mentioned, both of them are the case a-a != 0.

[2019-07-07 05:06] skyanchor commented on #562
That's brilliant.

[2019-07-07 21:45] grochocki commented on #574
Related to #222 and #309. Relevant article about this class of bugs in the [calc engine](https://devblogs.microsoft.com/oldnewthing/?p=39193).

[2019-07-07 21:50] grochocki commented on #562
Thanks for investigating! Right now we are not able to merge translation suggestions into this repo because of limitations in our tooling. I have created an issue internally (22320331) to send to our localization team. I am closing this issue for now, and our localization team will review and apply the change. Thank you for your contribution!

[2019-07-07 21:50] #562 closed

[2019-07-08 14:01] SAI990323 commented on #574
sorry I misunderstand it.

[2019-07-12 10:47] thomaslevesque commented on #153
A compromise could be to make the new behavior optional. Personally, I never use the thousands separator when typing a number, and it's rarely present in numbers I try to copy/paste, so I'd like to interpret '.' as the decimal separator, even though in my locale (French) the standard separator is ','.

[2019-07-13 00:31] grochocki commented on #56
That is one instance, but there are also [instances](https://github.com/microsoft/calculator/search?l=XML&q=Tag&type=Code) in:
* CalculatorProgrammerRadixOperators.xaml
* CalculatorScientificOperators.xaml
* CalculatorProgrammerOperators.xaml
* App.xaml

@joshkoon Do you have any context on how/why we are using Tag here?

[2019-07-13 00:37] grochocki commented on #514
Thanks for all the ideas! I brought these options back to our icon designers, and we landed on a slight variation to one of @rudyhuyn's suggestions:

![image](https://user-images.githubusercontent.com/1414423/61164590-7fbe3900-a4cb-11e9-9d5c-98d03eff210c.png)
<sub>^ sorry for the poor resolution here</sub>

[2019-07-13 00:37] #514 closed

[2019-07-13 00:44] grochocki commented on #167
There is great conversation here about decisions around unit converters. Closing this as a duplicate of #515, where we are exploring a more comprehensive review of our strategy in this feature area.

[2019-07-13 00:44] #167 closed

[2019-07-13 00:48] grochocki commented on #543
It looks like there are two suggestions here. I am going to spin off adding details about the project in the about flyout into a new issue, and leave update this one to track improving availability of appxs for builds.

[2019-07-13 00:52] grochocki opened #582 "Add link to GitHub repo on about flyout"
**Problem Statement**
There is no way to navigate to the project from within the Calculator app.

**Evidence or User Insights**

**Proposal**
By adding a link to the GitHub repo on the about flyout, people will know that it's open source and that they can create issues, PRs and more.

**Goals**
Improve discoverability of the GitHub project from within Calculator.

**Non-Goals**

**Low-Fidelity Con

[2019-07-13 00:56] grochocki commented on #191
@HowardWolosky Can you help determine if this is still an issue?

[2019-07-13 01:11] grochocki commented on #328
We are still not able to reproduce this issue, so closing for now, but will revisit if we discover a way to reproduce this more reliably.

[2019-07-13 01:11] #328 closed

[2019-07-13 01:17] grochocki commented on #504
@joshkoon or @joseartrivera Can one of you confirm whether this is a result of the left-to-right mark for BiDi support?

[2019-07-13 01:33] grochocki commented on #264
Based on the conversation here and after looking at what other calculators do for unary operators, I am marking this as approved and unlocking #513 so that hitting "=" will always repeat the last operation.

[2019-07-13 01:56] grochocki commented on #252
I wanted to revisiting this issue so we can drive to resolution. I _really_ appreciate the detailed explanation @mdrejhon provided both here and in #256, and I think I am convinced that the behavior they suggest is the right path forward here. I am going to try my best to summarize the behavior here (@mdrejhon, please correct me if anything seems off):
* Preserve all digits to left of decimal
* Ke

[2019-07-13 02:11] grochocki commented on #226
Compact is not necessarily the goal as we do not want to lose precision. Today we display ```5.142857142857143e-6```, which is <code>5.142,857 • 10<sup>-6</sup></code>, but with greater precision.

[2019-07-13 02:16] grochocki commented on #162
Revisiting this issue so we can drive it to resolution. While this does not directly address displaying the error, we should reduce the likelihood of seeing it, especially when copying values from other modes, so we should support 32 digits of input like we do in Scientific mode, and automatically switch to scientific notation when more digits are required. We already switch to scientific notation

[2019-07-14 15:33] Poopooracoocoo commented on #582
Would it be preferred if people submitted issues on GitHub or on the Feedback Hub?

[2019-07-14 18:33] Symbai opened #583 "Programmer mode: Add shortcuts for switching to non-decimal input"
**Problem Statement**
The programmer mode has no hotkeys to switch between decimal / hexdecimal / octal and binary input.

**Evidence or User Insights**
It's quite annoying for programmers to be able to launch the calculator and switch to programmer mode all by using the keyboard and then taking a hand off and use the mouse to click on HEX or BIN or OCT and then switching back to keyboard to input

[2019-07-14 18:36] Symbai commented on #583
Figured it already exists but is nowhere documented and the GUI doesn't expose them like it does with anything else: https://github.com/microsoft/calculator/issues/157

[2019-07-14 18:36] #583 closed

[2019-07-14 18:43] Symbai commented on #157
This a huge problem especially because there are too many different ways being used already which is for a user like me very confusing.

Example:

- Pressing ALT reveals the "H" over the menu but it does not reveal F5 to switch to hexdecimal input in programmer mode (like shown in the mock up in the first post of this issue)
- Mouse hovering over the "MS" in programmer mode gives a tooltip with re

[2019-07-14 23:12] grochocki commented on #582
If you want to quickly submit feedback, use Feedback Hub, but if you want to contribute to developing the idea further, submit it on GitHub. For some new features, Feedback Hub is a great source for evidence that the feature addresses a user need. We regularly look at top feedback when making product decisions. At the same time, there are lots of small changes, like this one, that would likely nev

[2019-07-15 16:53] joshkoon commented on #56
From what I see, they're used in two spots: the radix buttons in Programmer mode where we display DEC/BIN/HEX/OCT and the current value for each radix (the Tag holds the DEC/BIN/HEX/OCT string), and the open parenthesis button in Scientific mode where we are tracking the number of open parens (the Tag holds the count of parens).

In both cases, it's used as a way to store additional info for butto

[2019-07-15 16:54] joshkoon commented on #504
Yes, it's the result of the LtR marks.

[2019-07-15 21:58] Poopooracoocoo commented on #582
I feel that GitHub is better overall. We can see it being triaged, have an actual conversation and we can see issues from across the world.

[2019-07-16 01:58] hmoffatt commented on #463
@yongyanghz that is not correct for v140/v141 (VS 2015/2017), you can install those components into 2019 without ever installing 2017, as described above.

[2019-07-16 18:08] grochocki commented on #108
#515 aims to cover gaps in conversion units more broadly. Let's continue the conversation there, including what to do in the case here with power conversions.

[2019-07-16 18:08] #108 closed

[2019-07-16 18:36] grochocki commented on #538
Thanks for all the great discussion on this idea! We recognize that some users might experience a pain point when trying to resize the Calculator window into an ideal layout, but we have not observed this problem ourselves in usability testing or when analyzing feedback from Feedback Hub. As others have mentioned, we follow the standard windowing behavior observed throughout the OS. We are concern

[2019-07-16 18:36] #538 closed

[2019-07-16 18:44] #258 closed

[2019-07-16 21:24] #311 closed

[2019-07-16 22:26] grochocki commented on #504
Theoretically, could we only inject the LtR marks if we detect you are operating in an RtL language? Or would that possibly cause complications?

[2019-07-16 22:44] grochocki commented on #515
There have been a few issues discussing which units we should include (as well as what the source of truth should be for conversion values), so we think it would be good to define an overall strategy for making decisions for converters.

We could certainly leverage Bing to help decide which units should be included, but we are generally not in favor of taking a dependency on an online service at t

[2019-07-17 00:00] #455 closed

[2019-07-17 00:01] MicrosoftIssueBot opened #587 "In small layouts, history button overlaps with window management buttons in title bar"
**Describe the bug**
Notice how sometimes the history button will render overlapped with content in the title bar.

**Steps To Reproduce**
This bug was filed from another source and did not have detailed repro steps, but anecdotally, I have seen this behavior. It would be great if someone could help consistently repro this.

**Expected behavior**
History button is positioned below title bar:
![ima

[2019-07-18 01:09] #525 closed

[2019-07-18 02:08] grochocki opened #589 "Update unit selection UX to highlight common and recently-used units and make it easier to find and select units"
**Problem Statement**
Unit converters in Calculator support a large set of units, which can make it difficult to quickly access common or frequently-used units.

**Evidence or User Insights**
There is some discussion in #382 regarding having a smaller set of units by default with an option to turn on more in settings. Numerous issues (#108, #167, #271, #325, #275, #515) discuss expanding the set o

[2019-07-18 10:56] nguyenkien opened #591 "math problems"
**Expected behavior**
1x2+1x2 = 4
**Screenshots**

![image](https://user-images.githubusercontent.com/1940081/61452103-310a1680-a985-11e9-8151-2f768dc4423e.png)

Google Calculator show the right answer
![image](https://user-images.githubusercontent.com/1940081/61452422-e8069200-a985-11e9-806c-39292efd35ae.png)
 And Bing
![image](https://user-images.githubusercontent.com/1940081/61452996-3ec09b80-a

[2019-07-18 11:13] jgleal commented on #153
I think nobody uses thousands separator when write a number... Isn't more logicall respect the decimal separator of language configuration and ignore thousands separator?

[2019-07-18 11:21] thomaslevesque commented on #153
More logical, maybe, but not necessarily more convenient. The decimal separator in my language is ',', but as a programmer I'm used to use '.'. So I'd like to be able to use either.

[2019-07-18 13:24] HowardWolosky commented on #591
Dupe of #138.

[2019-07-18 13:24] #591 closed

[2019-07-18 17:14] sanderl opened #592 "Add diagnostics for copy and paste by mode"
**Describe the bug**
Copy and paste diagnostics events were removed with the latest diagnostic spec. The current diagnostics data implementation will not answer questions about usage by mode accurately because it will exclude users who only copy and paste in a given session.

**Additional context**
This will require a new diagnostics data event added to the Diagnostics spec in the Calculator-Specs

[2019-07-18 18:21] #592 closed

[2019-07-18 20:40] grochocki opened #594 "Collapse unit converters into single page and refresh layout"
**Problem Statement**
Today, we treat each converter type as a high-level navigation item. This means that if you want to switch between volume and weight converters, you need to navigate to an entirely different page. While we do offer shortcuts to switch between modes, they are not very discoverable (#157), and parsing a mixed list of calculators and converters is unnecessarily more complex than

[2019-07-19 00:59] grochocki opened #595 "Users are unable to edit numerical values inserted from memory or history"
**Describe the bug**
Users are unable to edit numerical values inserted from memory or history.

**Steps To Reproduce**
1. Perform a calculation in Standard or Scientific mode so that a history entry is generated
2. Press "MS" button to store memory entry
3. Press <kbd>ESC</kbd> to clear input
4. Press the previously stored history item from the list
5. Press <kbd>Backspace</kbd> and notice that y

[2019-07-19 01:33] grochocki opened #596 "Replace current about dialog with settings page"
**Problem Statement**
Calculator currently does not have a settings page, which will block future work. The current about dialog is also inconsistent with many other Microsoft apps.

**Evidence or User Insights**
Many suggested features have suggested adding options in settings (#538, #486, #485, #393, #382, #215), and while we have not accepted all of these pitches, it is inevitable that there wi

[2019-07-20 20:31] grochocki opened #598 "Add support for custom color and photo themes"
**Problem Statement**
Calculator is great example of Fluent design, but it doesn't feel like _my_ Calculator.

![image](https://user-images.githubusercontent.com/1414423/61583756-6e8bb280-aaf1-11e9-9635-7a5ec02f27c0.png)

**Evidence or User Insights**
* Adding more color options is a top requested feature on Feedback Hub
* Other products, like [SwiftKey](https://www.microsoft.com/swiftkey) and the

[2019-07-21 18:04] pi1024e commented on #445
Is @TurtleShip still working on this, or should someone else take over?

[2019-07-21 20:45] HowardWolosky commented on #445
At this time, there is no additional work for a contributor to do on this PR.  It's up to me to complete the historical analysis of how the code got into the state it currently is in, to ensure that this change isn't regressing an explicit change that was made in the past.  I'll be setting aside dedicated time this week to complete that investigation.  After that, we'll know if anything more needs

[2019-07-21 23:53] ghuntley commented on #598
👋 https://calculator.platform.uno/?theme=Pink

[2019-07-22 00:00] mdtauk commented on #598
I think for colour themes, it would need to be a Hue slider (without brightness so the resulting colour can be nudged within the safe contrast ratio)

[2019-07-22 00:27] grochocki commented on #598
Here are a few resources for reference:
* [Color design guidelines](https://docs.microsoft.com/en-us/windows/uwp/design/style/color)
* [Accessibility text requirements guidelines](https://docs.microsoft.com/en-us/windows/uwp/design/accessibility/accessible-text-requirements#contrast-ratios)

[2019-07-22 01:16] grochocki commented on #277
We reviewed the pitch and would love to move forward with it. Since the idea is fairly straightforward and is entirely captured by the proposal, we can move this straight into production. @lukeu, if you are interested in implementing this one, let us know, otherwise we can open it up to the rest of the community.

[2019-07-22 01:17] grochocki commented on #478
We reviewed the pitch and would love to move forward with it! Since the idea is fairly straightforward and is entirely captured by the proposal, we can move this straight into production. @SWB2, if you are interested in implementing this one, let us know, otherwise we can open it up to the rest of the community.

[2019-07-22 01:25] grochocki commented on #486
We think that updating the behavior to _always_ open in Standard is too aggressive and that opening to the last used "standard" calculator mode could possibly lead to confusion, since the behavior would be inconsistent (or at least could be perceived as such).

That being said, it is reasonable to have this exposed as a setting, with the default option "most recently used" (today's behavior). This

[2019-07-24 00:59] grochocki commented on #504
Talked with @joshkoon offline and we _think_ we can be smarter about when we include the extra hidden characters. Assigning to @joseartrivera to either fix this or, if we cannot remove the characters, close out bug as by design.

[2019-07-25 20:21] BeksOmega commented on #162
Hello! I tried to give this a shot, but I ran into a problem that I think requires a design decision which I'm not able to make.

I figured out that the error throwing based on length can be removed by removing [this operand length check](https://github.com/microsoft/calculator/blob/bb027aa9c3deb21debf7c0a3423b9f91e18ffb3b/src/CalcViewModel/Common/CopyPasteManager.cpp#L289).

But while the calcula

[2019-07-25 20:27] miloush commented on #162
As a user I would definitely prefer trimming to scientific notation. When I am pasting numbers, I want it to be processed with maximal display precision, and I want to keep the number in the format I'm pasting it. As noted above, that is backwards compatible with the Win32 calc too.

[2019-07-26 06:02] #439 closed

[2019-07-26 06:21] DragoCubed commented on #538
@grochoki Another reason for that feedback may be because Windows upgrades sometimes reset the size,

[2019-07-26 06:24] #563 closed

[2019-07-26 07:14] grochocki commented on #538
This certainly _shouldn't_ be the case. The issue I mentioned above about the OS not respecting the default size of apps is likely the culprit here. Good news is that this should be fixed in the Windows May 2019 update.

[2019-07-26 16:40] sanderl opened #602 "Missing UI_Responsive Event in Latest Calculator Build"
**Describe the bug**

The logic for updating the WindowIdLog in the TraceLogger code was removed, so no windowIds are ever added to the map. This prevents the UIResponsive events from firing after the app launches because it checks if the current window is in the log before firing the event.
**Steps To Reproduce**
Used internal diagnostics tools to repro this issue.

**Expected behavior**
UIRespon

[2019-07-26 18:51] #602 closed

[2019-07-27 00:42] grochocki commented on #485
We thought this idea was interesting, and we have all used input similar to this (particularly on banking websites), but we are not aware of any electronic financial calculators that handle input in this way. Ultimately, we felt that this behavior, even as an option, might cause confusion for the broad userbase of Calculator. We would be happy to revisit this if you could help provide any addition

[2019-07-27 00:45] #519 closed

[2019-07-27 00:46] grochocki commented on #519
This is similar enough to #163 that we would like to treat it as a duplicate. Let's continue the conversation there on how best to allow editing/deletion of typed-in operators.

[2019-07-27 04:41] playgithub opened #604 "calc error"
Calc Version: Calculator 10.1812.10048.0

Reproduce the bug:
1. Paste "1.8 * 0.7+1.8 * 0.5+0.7 * 0.5 * 2" to calc
2. Press "Enter" or click "="
3. The result is 2.23 instead of 2.86

[2019-07-28 11:05] leduyquang753 commented on #526
If this will be implemented, I suggest making the mathematical operators customizable, as they are regional, cultural and personal preferences.
For example, I would write "16 + 28 × 5 – 27 ÷ 3" as "16 + 78.5 – 27:3".

[2019-07-29 03:27] grochocki commented on #604
If you paste the expression into scientific mode, the result is 2.86, as expected. Standard mode works in "immediate execution" mode. #138 seeks to improve clarity of math expressions in history for Standard Calculator, so treating this as a dupe of that.

[2019-07-29 03:27] #604 closed

[2019-07-29 04:35] grochocki commented on #526
Overall, this seems like a great improvement! A couple comments/questions:
* NLP is listed as a goal, and while we should should keep this in mind, we don't feel it is strictly necessary here.
* Unsure if we can pull off being truly locale-independent, but definitely worth a try
* Can/should error-handling be split off as a separate issue?

@leduyquang753 I am not sure I understand your example; c

[2019-07-29 04:37] grochocki commented on #517
Love the idea, but think it may be fairly ambitious depending on what features we include (e.g., will it show you solution steps?). Lots to think through in terms of UX.

[2019-07-29 04:57] grochocki commented on #582
We reviewed the pitch and would love to move forward with it. Since the idea is fairly straightforward and is entirely captured by the pitch, we can move this straight into production.

[2019-07-29 06:29] rudyhuyn commented on #526
I agree, custom operators will require a lot more work (including a dialog to modify them) and can create many issues with shortcuts or when new features will be added to the Calculator.

@leduyquang753
Based on your example, when you write "personal preferences", I suppose you don't mean `Users can select a random character` but "the user must be able to use the symbols of his/her/their choice fr

[2019-07-29 10:38] leduyquang753 commented on #526
Actually Vietnam uses the period to indicate multiplication. In order not to create conflicts (if the decimal separator is already period), a check can be easily implemented.

[2019-07-29 16:39] #445 closed

[2019-07-30 04:01] MicrosoftIssueBot opened #605 "Upon launch, sometimes, the calculator type title shifts down"
**Describe the bug**
Upon launch, sometimes, the calculator type title shifts down.  In most calculator types this can cause readability issues when performing some actions.

**Steps To Reproduce**
1) Launch Date Calculation calculator
2) Observe UI
3) If issue did not occur, repeat steps 1 through 2 multiple times

**Observed behavior**
Upon launch, sometimes, the calculator type title shifts dow

[2019-07-30 04:36] grochocki commented on #605
Seems to be related to #587 (which captures reverse problem of some content shifting up).

[2019-07-31 00:53] #78 closed

[2019-07-31 15:31] skyanchor commented on #598
I personally don't like this idea. It's so complicated and not harmonious with the theme color of the OS. Different tints of theme color, polished buttons with delicate depth effects and something new brought by the latest fluent design language would be my wishes.

[2019-07-31 15:41] skyanchor commented on #596
[https://github.com/microsoft/calculator/issues/114](url)

[2019-07-31 16:03] skyanchor opened #607 "Enhancing currency converter with search box and an alphebetical sorting"
First I have seen a closed thread [Currency list need a search box #459](Currency list need a search box #459), but here's the deal why I wanna readdress this issue, especially when I'm using the app in zh-cn.
* The combobox searching can't be performed when using IME (a drawback compared to the win32 counterpart)
* Locating items in combobox can't be performed rapidly. Say there's a list of sever

[2019-07-31 16:30] VIGNESHinZONE commented on #574
Can i work on this issue and could you pls tell me the files that i can work on.

[2019-07-31 17:32] grochocki commented on #596
It looks like the pitch for #114 was accepted. I think the idea with that one is that we would just always preserve input between modes (without a setting).

[2019-07-31 17:37] grochocki commented on #574
Thanks for taking a look! @joseartrivera, can you point @VIGNESHinZONE in the right direction here?

[2019-07-31 17:46] grochocki commented on #607
Thanks for contributing your idea!

Do you think this might be addressed by #589?

[2019-07-31 19:45] #461 closed

[2019-07-31 21:47] grochocki commented on #162
I do not think we should allow users to _type in_ numbers beyond the maximum number of digits and automatically convert to scientific notation. I feel like that might be confusing to users and a little awkward to display. For keyboard input like this, we should continue to rely on the button that allows users to enter in numbers in scientific notation:

![image](https://user-images.githubuserconte

[2019-08-01 18:29] v-credwa opened #608 "Automated UI Tests for the Scientific Calculator Mode"
**Problem Statement**
Currently, the basic smoke tests for Scientific calculator mode are all manual.  There aren't any automated UI tests for calculator modes other than the standard calculator mode.  Automation testing is faster than manual testing. Repeated test that can be automated, should be automated.

**Evidence or User Insights**
It would be helpful to developers and testers to have some

[2019-08-01 18:32] v-credwa opened #609 "Automated UI Tests for the Programmer Calculator Mode"
**Problem Statement**
Currently, the basic smoke tests for Programmer calculator mode are all manual.  There aren't any automated UI tests for calculator modes other than the standard calculator mode.  Automation testing is faster than manual testing. Repeated test that can be automated, should be automated.

**Evidence or User Insights**
It would be helpful to developers and testers to have some

[2019-08-01 21:04] v-credwa opened #610 "Make Automated UI Tests for the Standard Calculator, faster, reliable, and AoT tests and Error Tests"
**Problem Statement**
Currently, the automated UI tests for Standard calculator mode are slow, keyboard test are flakey, and they do not include AoT tests.

**Evidence or User Insights**
It would be helpful to developers and testers to have some streamlined, reliable UI tests for the Standard calculator mode that also include tests for the new AoT feature.  Making these test reliable, and fast wil

[2019-08-01 22:07] #252 closed

[2019-08-02 02:09] kinglionsz opened #611 "Unable to open certificate: TemporaryKey.pfx. The specified network password is incorrect"
Unable to open certificate: TemporaryKey.pfx. The specified network password is incorrect

	Calculator	E:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Microsoft\VisualStudio\v16.0\AppxPackage\Microsoft.AppXPackage.Targets	821

 OS Name:     Windows
 OS Version:  10.0.18950
 OS Platform: Windows
 RID:         win10-x64

Visual Studio Community 2019  v16.2.9123.88

[2019-08-02 02:18] rudyhuyn commented on #598
I remember reading on this GitHub that the UI of this application was nicknamed Panda because everything is black/white. Adding colors could really make the application more appealing.

However, something important that I learned in the past with my own applications (some had 3 themes + customizable colors) is that when you allow users to customize their application (color, themes, etc...) it beco

[2019-08-02 03:23] HowardWolosky commented on #611
This translates to "Unable to open certificate: TemporaryKey.pfx. The specified network password is incorrect"

This issue does not appear to be related to Windows Calculator (this project does not use .NET).

Please reply back if I've missed something here.

[2019-08-02 03:35] mdtauk commented on #598
The image background I think is a step too far, but as long as the OS supports applying colour to the Taskbar and Flyouts - monochrome is probably the way to go.

I don't use that option myself, as I prefer the Light and Dark Acrylic - but it is as you say, getting rid of that feature will be a pain point.

As for coloured Icons (Office uses a variation of the MDL 2 Icons, but as a coloured font)

[2019-08-02 12:52] kinglionsz commented on #611
TKS. I will report the issue with the Accurate System Information.

[2019-08-02 15:29] kinglionsz commented on #611
[https://i.gyazo.com/c5ce9d9111081e9a4f6bc4c0de988cdd.png](url)

[2019-08-02 15:33] kinglionsz commented on #611
https://gyazo.com/c5ce9d9111081e9a4f6bc4c0de988cdd

[2019-08-02 15:54] mdtauk commented on #611
I get that final error when I build the solution

Error

Certificate does not match supplied signing thumbprint: 3F0C32266A4D995CC08C9AEC3960CFF3EF0D1853

CalculatorUnitTests

C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\MSBuild\Microsoft\VisualStudio\v16.0\AppxPackage\Microsoft.AppXPackage.Targets

821

[2019-08-02 19:07] grochocki opened #613 "Add support for imaginary numbers"
**Problem Statement**
Windows Calculator currently does not support [imaginary numbers](https://en.wikipedia.org/wiki/Imaginary_number). Instead, we show "Invalid input":

![image](https://user-images.githubusercontent.com/1414423/62392301-f8894180-b51b-11e9-8d92-fce63781e427.png)

**Evidence or User Insights**
The complex number system is part of US high school [common core curriculum](http://www

[2019-08-02 19:12] grochocki commented on #611
Reopening for consideration based on updated details.

[2019-08-02 21:16] MicrosoftIssueBot opened #614 "Calculator uses WinUI 2.1 framework, which is not available in OS image"
Calculator uses WinUI 2.1 framework, which is not available in OS image, so we need to _temporarily_ revert to 2.0.

[2019-08-02 21:51] rudyhuyn commented on #613
Great suggestion! It's also taught in France in the final year of high school.

This feature (not supported by the other first party calculators to my knowledge) will be a great addition for students and scientists!

[2019-08-02 21:55] #614 closed

[2019-08-02 23:31] kinglionsz opened #616 "build ,Error Certificate could not be opened: TemporaryKey.pfx. The specified network password is not correct."
build sln,report the issues:

Severity	Code	Description	Project	File	Line	Suppression State
Error (active)	E0312	no suitable user-defined conversion from "int" to "Platform::ValueType" exists	CalcViewModel	E:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\VC\Tools\MSVC\14.22.27905\include\vccorlib.h	1723

Severity	Code	Description	Project	File	Line	Suppression State
Warning	NU1701	已

[2019-08-03 00:15] grochocki commented on #607
Closing as a duplicate of #589. Let me know if you think that issue is different than what is proposed here, and we can revisit. Thanks again for your contribution!

[2019-08-03 00:17] grochocki commented on #616
Is this a duplicate of #611 or a different issue?

[2019-08-03 01:41] kinglionsz commented on #616
Yes,it's the same as #611 。But I install the vs_professional version and build the sln according to the readme setp by step.

The same issues.

[2019-08-03 01:42] kinglionsz commented on #616
Yes,it's the same as #611 。But I install the vs_professional version and build the sln according to the readme setp by step.

The same issues. @MicrosoftIssueBot @grochocki @jdhuntington @chad

[2019-08-03 08:32] rudyhuyn commented on #616
👁 Taking a look

[2019-08-03 21:22] #616 closed

[2019-08-03 21:22] grochocki commented on #611
Fixed in #617

[2019-08-03 21:22] #611 closed

[2019-08-04 04:17] kinglionsz commented on #616
Thanks! Every master.👍💪
@rudyhuyn @Geveffe @grochocki @jdhuntington

that's ok only for testing

but if fact, I have to fully remove the certificate from the other project :\calculator\src\Calculator\Calculator.vcxproj

[code]

we should check in the future .

[2019-08-04 04:26] kinglionsz commented on #611
Thanks! Every master.👍💪
@rudyhuyn @Geveffe @grochocki  @jdhuntington  @grochocki  @HowardWolosky  @mdtauk

[that's ok only for testing](https://gyazo.com/a71e12abca8f9299172858f577719320)

but if fact, I have to fully remove the certificate from the other project :\calculator\src\Calculator\Calculator.vcxproj

[code]
we should check in the future .

[2019-08-04 07:33] kinglionsz opened #618 "RUN CalculatorUnitTests.exe ERROR:0X800700D8 Operation not supported"
[see attach:](https://gyazo.com/6e276801665ca7830e8347f49a6c2a7e)

RUN CalculatorUnitTests.exe ERROR:0X800700D8  Operation not supported

 - OS Build: 10.0.18950.0
 - Architecture: X64
 - Application Version: 10.1906.53.0
 - Region: en-US
 - Dev Version Installed: True

[2019-08-06 00:53] grochocki opened #620 "Enable free-form input of math expressions"
**Problem Statement**
Today, when you input an expression, you are committing previous input with each operator, which means that you cannot easily edit or undo what you have already committed. We also have a key mapping such that keyboard keys are mapped to specific button inputs. This means that to enter "cos()", you actually press o. This is unintuitive and makes entering equations difficult.

[2019-08-06 02:46] kinglionsz commented on #618
[It's ok today's test. I don't kown why.](https://gyazo.com/f875c4adb9656bf90dc2adb61745a575)

[2019-08-06 03:08] kinglionsz opened #621 "CalculatorUITests run errors"
OS Build: 10.0.18950.0

Architecture: X64

Application Version: 10.1906.53.0

Region: en-US

Dev Version Installed: True

System.Exception
  HResult=0x80131500
  Message=The local WinAppDriver server has not been started: c:\Program Files (x86)\Windows Application Driver\winappdriver.exe Arguments: .

  Source=CalculatorUITestFramework
  StackTrace:
   at CalculatorUITestFramework.WindowsDriverLoc

[2019-08-06 04:06] kinglionsz commented on #618
the changed parts:

Checking whether required frameworks are installed...
Framework: Microsoft.NET.CoreRuntime.2.2/X64, app package version 2.2.27404.2 is not currently installed.
Framework: Microsoft.NET.CoreFramework.Debug.2.2/X64, app package version 2.2.27505.2 is not currently installed.
Framework: Microsoft.VCLibs.140.00.Debug/X64, app package version 14.0.27323.0 is not currently installed.

[2019-08-06 05:21] rudyhuyn commented on #621
Hi @kinglionsz, to run the UI unit tests, you need first to install WinAppDriver.

You can download it here:
https://github.com/microsoft/WinAppDriver/releases/tag/v1.1

[2019-08-06 05:30] kinglionsz commented on #621
😓I will have a try. Thank u very much!👍

[2019-08-06 06:36] rudyhuyn commented on #621
let me know if it worked!

[2019-08-06 07:08] kinglionsz commented on #621
Hi，  @rudyhuyn It's ok now. tks.

[here is the result](https://gyazo.com/1ddd936fa0fa7b72b0bab6133422a283)

[https://gyazo.com/a51bbd7b7ccf5ef6a8decd8aa33dd6c0](url)

[2019-08-06 10:13] kinglionsz commented on #621
here is the result reports:

OpenQA.Selenium.WebDriverException: 'An element could not be located on the page using the given search parameters.'

https://gyazo.com/96edc85e4deeb770558fcc0f74698494

Test Name:	KeyboardInput_Cubed
Test FullName:	Test Detail Summary
Test Source:	E:\CodeSources\cpptest\calculator\src\CalculatorUITests\StandardModeFunctionalTests.cs : line 246
Test Outcome:	Failed
Tes

[2019-08-06 13:29] haris741 commented on #621
You need to install Winapp driver first...

tell me if it didn't worked

[2019-08-06 15:23] kinglionsz commented on #621
I have installed Winapp driver and it worked.

![win_app_driver](https://user-images.githubusercontent.com/51827261/62552952-139fdc80-b8a1-11e9-8a7b-0273fece123d.jpg)

[2019-08-06 16:08] grochocki commented on #621
Looks like installing Winapp driver resolved this. Let us know if you continue to experience problems.

[2019-08-06 16:08] #621 closed

[2019-08-06 21:33] zherman commented on #587
I think https://github.com/microsoft/calculator/commit/bd04c92c1cd4c9b0e35684a838e7f363c8a7a439#diff-62ce6ee1acd8a14dee00a6f580125a25 might address this issue. The CustomTitleBar XAML element having a default Visibility of Collapsed I think was the root cause of the bug. The commit I found seems to have removed that assignment in MainPage.Xaml

[2019-08-06 22:35] rudyhuyn opened #625 "Replace use of AppChromeAcrylicHostBackdropMediumLowBrush to hide controls underneath."
## Describe the bug

The new Always-On-Top UI uses `AppChromeAcrylicHostBackdropMediumLowBrush` in the style `AlwaysOnTopStyleS` to partially hide the left and right part of the Scrollviewer when `ScrollLeft` and `ScrollRight` buttons are displayed.

See code:
https://github.com/microsoft/calculator/blob/master/src/Calculator/Views/Calculator.xaml#L181

This is not compatible with #598, we should

[2019-08-07 00:02] #618 closed

[2019-08-07 00:25] grochocki commented on #478
@SWB2 I am going to open this up to the community, but let us know if you still want to implement this!

[2019-08-07 00:26] grochocki commented on #277
@lukeu I am going to open this up to the community, but let us know if you still want to implement this!

[2019-08-07 03:01] MicrosoftIssueBot opened #629 "Handle Calculator AoT error message text more gracefully"
A team member will update this issue with more details soon.

[2019-08-07 03:01] MicrosoftIssueBot opened #630 "When in high contrast mode the About menu item once selected can never be unselected"
A team member will update this issue with more details soon.

[2019-08-07 03:56] rudyhuyn commented on #605
The cause of this issue is `CoreApplication.GetCurrentView().TitleBar.IsVisible  == False` (even if it should not) when the application is launched and is set to True once the UI loaded. I will work on a workaround to ignore the initial value later tonight.

[2019-08-07 08:38] rudyhuyn opened #631 "The app title is no longer grayed out when the application loses focus"
**Describe the bug**
A regression seems to have been introduced, the behavior added with #442 doesn't work anymore.

**Steps To Reproduce**
- Open the calculator
- Focus another windows
- Observe that the title is no more gray

**Expected behavior**
- The title should be gray

**Screenshots**
![image](https://user-images.githubusercontent.com/1226538/62608043-f9232e80-b8b3-11e9-97ab-d09e995f979c.p

[2019-08-07 09:33] rudyhuyn commented on #587
Is there a way to know the version number of the application used by the user who reported the problem? (I suppose the one in the original message is not the user's one)

[2019-08-07 10:55] lukeu commented on #277
Hi sorry for the late reply (on a family trip). Yes by all means open it up, as I've not been finding much time for 'recreational' coding recently.

[2019-08-07 11:06] rudyhuyn commented on #582
Interesting control to code.

@grochocki:
Tell me what you think about these specifications?
- Only the word "GitHub" is clickable.
- "GitHub" should be part of the textblock and support text-wrapping (which means we can't use `<StackPanel />`)
- The hyperlink is not at the end of the sentence in some languages
    - which means that we can't write: `<TextBlock><Run Text="..."/><Hyperlink Navigate

[2019-08-07 12:04] datapharmer commented on #485
Thanks Dave, there is a huge userbase for having an "adding machine" mode in calculator. Just as scientific calculators are different from standard calculators, so are adding machines, and they deserve their own special mode in Calculator.

Adding machines are still a hugely popular purchase in accounting departments worldwide and is one of the few holdovers from the 90s that I continually see on

[2019-08-07 17:46] grochocki commented on #587
I tried to reach out to the original bug filer, but have not heard back.

[2019-08-07 19:21] grochocki commented on #485
Thank you for following up with these details! Reopening for reconsideration.

[2019-08-07 20:02] dennissel76 commented on #485
I would definitely use this feature as I am trying to get rid of my desk calculator.

[2019-08-08 07:42] 0x49D1 commented on #153
I just can't copy numbers from calculator anymore: 10,023,100 is NOT treated as 10023100! Why on earth should I copy the FORMATTED numbers? The main problem is with the websites who check if the pasted value is ASCII characters and they just fail after I paste "," and "save the memory about my pasted values" until I hide the input field (Hello AWS S3 headers parameter section!). Can we just COPY t

[2019-08-09 02:23] grochocki commented on #582
I know we certainly _could_ do it the lazy way, but it feels like a cop-out (and it certainly is an interesting control to create 😁).

I think these all make sense. I think "check out the project on GitHub" would make the ideal hyperlink, but I also know that that makes localization trickier.

I recall doing something _very_ similar in a different project using attached properties. I'll dig that u

[2019-08-13 01:12] grochocki commented on #493
@137729898 We reviewed this pitch closer and believe the part that is not already covered by #116 (pitch approved) is covered by #478 (pitch also approved), so going to close this as a duplicate. Lets continue the conversation in those issues. If we missed something, and there is more to your idea than what is in scope for those issues, feel free to call those things out, and we can revisit them h

[2019-08-13 01:13] #493 closed

[2019-08-14 10:58] kbalint commented on #338
So what about https://www.microsoft.com/en-us/p/microsoft-math/9wzdncrdtkn3 ?
Because it is Microsoft Math for Windows 10, and a universal app from the store.

[2019-08-14 12:42] HowardWolosky commented on #338
Because it is Microsoft Math for Windows 10, and a universal app from the store.

While similarly named, [Microsoft Mathematics](https://en.m.wikipedia.org/wiki/Microsoft_Mathematics) (a very advanced Win32 calculator) and [Microsoft Math](https://www.microsoft.com/en-us/p/microsoft-math/9wzdncrdtkn3) (a UWP app for learning/testing mathematical concepts) are quite different and not at all related

[2019-08-14 19:01] grochocki commented on #625
cc: @HowardWolosky to take a look

[2019-08-14 19:54] grochocki commented on #598
@rudyhuyn and @mdtauk - we think you both raise some really good points. Going to add a few thoughts here, but also, the concerns you raised are exactly why we felt it is important to iron out the details in a more comprehensive spec.

I am not convinced this is entirely true. It is fair to say that any future design changes would need to consider what a monochrome theme might look like, but for a

[2019-08-14 19:57] grochocki commented on #620
This work is definitely dependent on #526, and is likely something we would want to pursuit it parallel. This feature is also dependent on MathML rendering.

[2019-08-14 19:58] #102 closed

[2019-08-14 20:00] grochocki commented on #102
It is important to note that this pitch was declined, in part, because #620 leads to a much more natural keyboard input, but would break support for the kind of key binding we use today that would support this idea.

[2019-08-14 20:23] grochocki commented on #153
Thank you to everyone for the great discussion on this issue. We had the chance to review the idea more closely, and we feel like we need more information before deciding whether to continue.

First, the support we have today for accepting pasted values when they are formatted to align with your system settings has one key benefit--it is consistent and predictable with how numbers are represented

[2019-08-14 20:58] grochocki commented on #293
@NickTao88 We revisited this idea and think it might have potential, but it needs some additional details before we can move forward with it. I am going to open it to the community to help develop the idea into a feature pitch.

[2019-08-14 21:00] rudyhuyn commented on #598
This is exactly what I had in mind.

Other questions to consider:
- do we want to support a light theme version when the the lightness (HSL) of the custom color is high?
- should we limit the choice to a curated palette of color (similar to Windows 10 settings) or use a color picker?

[2019-08-14 21:22] I-Campbell commented on #153
I think, at least for the first ambiguous paste you will have to interrupt the user.
"Hi, we don't like to make assumptions! It is possible you have pasted values from one of these sources:
* Weights and Measures compliant numbers
* Your own regional number format
* Someone else's regional number format
As programmers, we would love everyone to use Weights and Measures compliant numbers because it

[2019-08-14 22:15] NickTao88 commented on #293
Sounds good

On Wed, Aug 14, 2019 at 4:58 PM Dave Grochocki <notifications@github.com>
wrote:

[2019-08-15 06:30] 0x49D1 commented on #153
Let me explain more. The real problem in my case was is not even 100,000 or 100.00 or 100000: many web services accept only integers (almost all, even in HTML standard number field there is clear INT), and not when I do `select all` and then `copy` & `paste` into the number input - it pastes with 100,000 so that the field validation fails. I always have to remove the ','. How is this connected to

[2019-08-15 07:10] ThiefMaster commented on #153
Yeah I think copying should strip anything except the decimal point, and pasting should try to be smart - if there's only one way to parse use that, otherwise prompt the user.

And when typing... well, nobody types thousands separators, so both `.`. and `,` should be a decimal point then (and typing more than one should of course be disallowed).

[2019-08-15 09:12] KillyMXI commented on #153
@0x49D1 you talk about different issue from what is discussed here, I believe.
For issues with copying FROM Calculator you better open a separate issue. That will be more effective.

[2019-08-15 11:27] KillyMXI commented on #153
I can see the appeal of a configuration-free and dialog-free application in the smartphone era. But it also puts irresolvable constrains, making the app the least useful for the real world.
Some level of flexibility is important to be able to integrate into workflows involving different systems developed with different mindsets...
As a developer, mainly working with data in culture-invariant forma

[2019-08-15 12:51] thomaslevesque commented on #153
I like @KillyMXI's suggestion.

Another way of handling this would be to show a hint on paste, like in Word:

![image](https://user-images.githubusercontent.com/1864281/63095594-e96ab080-bf6b-11e9-9e92-6949117ea5c3.png)

For instance, if the user pastes "100.000", parse it as `100.0`, but show a hint saying "Did you mean '100 000'" or something similar. Of course there would be a bit of UX work to

[2019-08-16 07:54] JoaoGFarias commented on #610
:+1:

[2019-08-16 19:02] I-Campbell commented on #153
@Thomaslevesque I love the paste options dialogue idea. Everyone is familiar with that functionality. It also doubles as a known keyboard shortcut, as everyone knows from word that you can press Ctrl+V, Ctrl, and then a key for each of the options. M for Mine, E for Europe, A for America, S for Standards?
Can I request Standards is default paste, or is that too rude?

[2019-08-19 17:35] SavoySchuler commented on #620
@adambarlow this issue shows the MathML rendering that you were proposing for [NumberBox](https://github.com/microsoft/microsoft-ui-xaml/issues/483).

[2019-08-19 18:34] #607 closed

[2019-08-19 23:34] #631 closed

[2019-08-20 03:01] MicrosoftIssueBot opened #642 "Right-click on numbers fails to highlight after 'selecting all' from context menu"
**Describe the bug**
When trying to "select all" when right-clicking on the main display output, you are not able to actually select all text.

**Steps To Reproduce**
1. Enter in a number in Calculator
2. Right-click on the number and click "select all"

**Expected behavior**
Display text appears selected.

**Screenshots**
Could not capture a good screenshot.

**Device and Application Information*

[2019-08-21 02:01] NZPF opened #643 "1+2*3=9？"
![image](https://user-images.githubusercontent.com/15053276/63396723-a0e34500-c3fa-11e9-9a67-50d76ddbaede.png)

[2019-08-21 02:15] grochocki commented on #643
This appears to be a dupe of #138.

Let me know if you think this issue is different, and we can revisit it.

[2019-08-21 02:15] #643 closed

[2019-08-21 03:29] grochocki commented on #608
cc: @sanderl

[2019-08-21 03:29] grochocki commented on #609
cc: @sanderl

[2019-08-21 03:29] grochocki commented on #610
cc: @sanderl

[2019-08-29 08:15] rudyhuyn opened #648 "AlwaysOnTop should use the same control than the normal mode"
### Describe the issue
Instead of using the same control than in Normal mode to display the current value, AOT use a different control OverflowText.

This control wasn't made for this purpose, we should use the same control in both modes (cleaner, providing more features and easier to support).

Originally, the Calculator had 2 similar controls:

- CalculationResult
    - Purpose: Display a numeri

[2019-08-29 16:44] joseartrivera commented on #322
Sorry for the delay on my response. While I believe this is technically a bug/oversight I think it would be nice to have a light-weight technical spec where we can discuss the implementation details further  since this would likely be re-working a large portion of existing keyboard manager code.

[2019-08-29 22:11] grochocki commented on #648
Thanks for the detailed proposal, Rudy! There are certainly lots of benefits to using the same control, so I am going to mark this as approved. We'll want to ensure that the font size scales appropriately based on the default font sizes selected for AOT UI today, which I think _might_ be different from standard mode, though ultimately our goal here is to ensure proportional sizing of the output di

[2019-08-30 00:47] grochocki commented on #83
There are a number of open questions we have with this one and some trade offs to consider against the current multi-window approach. I know @mcooley and @HowardWolosky have some thoughts here, so I will let them chime in.

[2019-08-30 00:59] grochocki commented on #58
We reviewed the pitch and would love to move forward with it. Since the idea is fairly straightforward and is entirely captured by the proposal, we can move this straight into production.

[2019-08-30 08:17] rudyhuyn opened #650 "CalculationResult doesn't correctly update the status of scroll buttons"
## Describe the bug
The `CalculationResult` control has some issues with scroll buttons:
- when using a mouse, scroll buttons are only updated after the mouse has left the control
- buttons are never updated with touch events.
- buttons are not updated when users scroll

ℹ _Issue visible in the public and dev version of the Calculator_

## Steps To Reproduce
- horizontally resize the window to the

[2019-08-30 08:29] rudyhuyn opened #651 "CalculationResult should keep the focus on scroll buttons when their visibility changes"
## Problem Statement
This is hard to test because of #650, but contrary to `OverflowTextBlock`, `CalculationResult` does nothing to keep the focus when the button `ScrollRight` has the focus and becomes collapsed.

See code of `OverflowTextBlock` here: https://github.com/microsoft/calculator/blob/796d171960a7351bb2c36cac5cec22d3e74ec0de/src/Calculator/Controls/OverflowTextBlock.cpp#L201

## Propos

[2019-08-30 17:45] mcooley commented on #83
@HowardWolosky and I talked offline about the tradeoffs involved here:

Benefits:
- Data protection. If there is a bug in the app that takes down an instance of the calculator, the other instances wouldn’t go down at the same time, losing the work that users had in their other instances. This isolation would have offered us some protection against a crash we introduced recently with always-on-top

[2019-08-30 18:32] rudyhuyn commented on #648
Blockers: #650 and #651.

I will work on a PR once both fixed.

[2019-08-31 02:31] carlreinke opened #653 "Don't hide expression after pressing Enter"
**Problem Statement**
Calculator has this nice display that shows the expression that is about to be calculated.
![image](https://user-images.githubusercontent.com/11667451/64058193-dc051700-cb64-11e9-835b-cc39845d7376.png)
Upon pressing Enter, the expression disappears.
![image](https://user-images.githubusercontent.com/11667451/64058195-ee7f5080-cb64-11e9-85b0-3ca5479d9046.png)
Wouldn't it be ni

[2019-09-01 05:59] annoying258 opened #654 "Date Calculation: does not scale with window size"
**Describe the bug**

The contents inside the app window don't flow/scale at all when the app window is resized or maximized.

**Steps To Reproduce**

1. Go to 'Calculator' app.
2. Click on 'Date Calculation'
3. Change the size of the window.
4. The contents of the app occupy the same amount of space.

**Expected behavior**

In most other modes of the app, the contents flow to make use of the avai

[2019-09-01 06:06] annoying258 commented on #654
[placeholder]

[2019-09-01 06:06] annoying258 commented on #654
[placeholder]

[2019-09-02 22:43] medmin opened #655 "20 +10% = 22"
**Describe the bug**

**Steps To Reproduce**

**Expected behavior**

**Screenshots**

**Device and Application Information**
 - OS Build:
 - Architecture:
 - Application Version:
 - Region:
 - Dev Version Installed:

**Additional context**

**Requested Assignment**

If possible, I would like to fix this.
I'm just reporting this problem.  I don't want to fix it.

[2019-09-03 07:29] lonelygray commented on #655
20 + 10% = 20 + 20 * 10%，because a individual percentage doesn't make sense

[2019-09-03 07:44] FrankHB commented on #655
Is this ever documented?

[2019-09-03 13:59] grochocki commented on #655
The current behavior is by design (i.e., 20 +10% = 22), and is intended to align with what users would generally expect for different operators. If this is not the issue you were trying to describe, please let us know and we can revisit. Otherwise, here is some [additional context](https://github.com/microsoft/calculator/issues/138#issuecomment-472512309) about percent key behavior:

Percent key b

[2019-09-03 13:59] #655 closed

[2019-09-03 14:16] grochocki commented on #485
@datapharmer After reviewing the pitch again, I think everyone felt that this would be a useful setting to have, but also that it might be confusing to have this setting exist globally across all modes.

The idea of adding a "finance calculator" has come up in the past, which sounds similar to the accounting mode you suggested as an alternative solution here. What are your thoughts on closing out

[2019-09-03 14:27] mdtauk commented on #485
Do you add the concept of per-mode settings in general?

[2019-09-03 14:55] grochocki commented on #485
I think this is an opportunity to explore how best to expose per-mode settings, but we kind of already have settings in some modes. For example, you can toggle scientific notation in Scientific Mode:

![image](https://user-images.githubusercontent.com/1414423/64183555-e94d2a80-ce1e-11e9-88f6-0de6052a57cc.png)

And in Programmer Mode to specify word length:

![image](https://user-images.githubuserc

[2019-09-03 18:25] sanderl opened #656 "Update to Windows UI Library 2.2"
Update the Calculator and CalcViewModel projects to use Windows UI 2.2. We will want to test the app to ensure there are no UX regressions.

[2019-09-04 22:04] HowardWolosky commented on #344
@rudyhuyn - It seems that this issue and #526 are getting at the same thing and that we should try close one of them out.  Is there something in here that you feel isn't getting covered by #526?

[2019-09-04 22:34] rudyhuyn commented on #344
This issue is a sub-task of the other one, you can close it.

Is anyone working on #526?

[2019-09-04 22:49] HowardWolosky commented on #344
Great, closing this one down.

No one is actively working on the speci'ing of #526 at the moment.  If you're interested, just drop your name in over there and @grochocki should be able to get you a working branch in https://github.com/Microsoft/calculator-specs.

[2019-09-04 22:49] #344 closed

[2019-09-04 22:50] HowardWolosky commented on #526
It may be worthwhile to review what @rudyhuyn started in #344 when working through the spec'ing for this issue.

[2019-09-05 13:15] pdc-cool opened #659 "sss"
**Describe the bug**

**Steps To Reproduce**

**Expected behavior**

**Screenshots**

**Device and Application Information**
 - OS Build:
 - Architecture:
 - Application Version:
 - Region:
 - Dev Version Installed:

**Additional context**

**Requested Assignment**

If possible, I would like to fix this.
I'm just reporting this problem.  I don't want to fix it.

[2019-09-05 13:16] #659 closed

[2019-09-05 13:53] phuclv90 commented on #504
There's not only a trailing U+202C but also a heading U+202D

The behavior is also observed when right clicking on the hex/dec/oct/bin numbers in the programmer mode > copy and then paste

This was reported last year in [How to stop Windows 10 Calculator from enclosing copied text in 202D and 202C Unicode characters?](https://superuser.com/q/1361155/241386)

[2019-09-05 17:23] #656 closed

[2019-09-05 18:01] #625 closed

[2019-09-06 06:53] rudyhuyn commented on #651
(I will submit a PR once #652 approved, the change necessary to fix this issue overlaps with this other PR)

[2019-09-06 14:09] mkevenaar commented on #543
I would love to see this available. Once this is available other distribution channels could be added, like chocolatey.org

I am willing to create this chocolatey package, just like I have done for Terminal. (have a look at the [package page](https://chocolatey.org/packages/microsoft-windows-terminal) for more information)

[2019-09-07 00:50] grochocki commented on #653
We reviewed the pitch and would love to move forward with it! Since the idea is fairly straightforward and is entirely captured by the proposal, we can move this straight into production. @carlreinke, since you mentioned you don't want to implement this, I am going to open it up to the community. Thanks again for your contribution!

[2019-09-07 23:25] rogersachan opened #663 "."
made a mistake, please delete this issue

[2019-09-08 00:01] rogersachan opened #664 "Support for significant figures"
**Problem Statement**

Significant figures (also called significant digits) are an important part of scientific and mathematical calculations and deals with the accuracy and precision of numbers. It is important to estimate uncertainty in the final result, and this is where significant figures become very important. (from [Wikibooks Chemical Engineering](https://en.wikibooks.org/wiki/Introduction_

[2019-09-08 00:01] rogersachan commented on #664
this supersedes #293

[2019-09-08 03:40] #663 closed

[2019-09-09 09:01] MicrosoftIssueBot opened #665 "History is not available in programmer mode, but you can access history panel via hotkeys"
**Describe the bug**
History is not available in programmer mode, but you can access history panel via hotkeys (Ctrl + H).

**Steps To Reproduce**
1. Launch Calculator 10.1907.24.0
2. Perform 10+5=15 calculation in Standard
3. Switch modes to Programmer
4. Reduce window size to minimum threshold
5. Perform any calculation in any mode (Hex, Dec, Oct, Bin)
6. Press [Ctrl]+[h]
7. Observe that only 10

[2019-09-09 16:57] #650 closed

[2019-09-09 17:07] grochocki commented on #293
Thanks, @rogersachan! Going to close this out as a dupe of #664. Let's continue the conversation around significant figures there.

[2019-09-09 17:07] #293 closed

[2019-09-09 23:16] MicrosoftIssueBot opened #666 "Calculations that require a number after the operator (+, -, /, *, ^, and mod) are inadvertently performed on subsequent calculations"
**Describe the bug**
Calculations that require a number after the operator (+, -, /, *, ^, and mod) are inadvertently performed on subsequent calculations

**Steps To Reproduce**
1. Launch Calculator in Standard mode
2. Perform any basic arithmetic calculation, example input: "3 / 3 ="
3. Select CE or press 'delete' key **without selecting C or pressing 'escape'**
4. Input '2 1/x ='
5. Observe his

[2019-09-09 23:31] MicrosoftIssueBot opened #667 "'Always on Top' button disappears if there are multiple sessions open on a device with low processing power"
**Describe the bug**
'Always on Top' button disappears if there are multiple sessions open on a device with low processing power

**Steps To Reproduce**
1. Launch calculator on a VM or device with low processing power
2. Repeat step 1 about 10 times
3. Observe how many sessions have an 'Always on Top' button

A few sessions do not have an 'Always on Top' button and the UI can shift down slightly.

[2019-09-10 07:21] kashif-khan commented on #143
I believe it should be in the converter section as TimeZone converter. Please refer the below images for a rough idea.

<img width="778" alt="Screenshot (145)" src="https://user-images.githubusercontent.com/661339/64592308-52a5de00-d3c9-11e9-8035-4f635dd53254.png">

The same image with some description:

<img width="778" alt="Screenshot (145) with description" src="https://user-images.githubuserco

[2019-09-10 19:18] grochocki commented on #143
I agree that if you factor in time zones, it behaves more like a converter, though Alarms & Clock already supports this world clock view:

![image](https://user-images.githubusercontent.com/1414423/64643112-96e2af80-d3c4-11e9-939d-33caceb02e8e.png)

I think it is reasonable to possibly add time zone support here too, but, but from the generic date/time calculator perspective, I think it might be s

[2019-09-11 13:32] rogersachan opened #670 "Converter for frequency, wavelength, and energy (Photon energy)"
**Problem Statement**

The conversion between these three is done very often in chemistry-related workloads. As a result, there are multiple online calculators dedicated for this where you can input one and get the other two out. This behavior can still be adapted for the input one-output one that already exists in this calculator. This also fits with [HS-PS4-1](https://www.nextgenscience.org/topi

[2019-09-14 16:17] ForNeVeR opened #673 "Button labels become smaller after making the window bigger than 639×1024 DIP"
**Describe the bug**
Usually, the button labels become _bigger_ while I increase the window size. But for some sizes, the buttons may suddenly become _smaller_ after increasing the window.

**Steps To Reproduce**
1. Open the calculator, make the client window size bigger than 639×1023 DIP (this will be exactly 1023×639px on 100% scale). For example, on my 100%-scaled display I could make the windo

[2019-09-14 16:31] ForNeVeR commented on #673
I've managed to somewhat fix the issue by commenting out the `<VisualState x:Name="Portrait8InchTab">` state of `CalculatorStandardOperators.xaml`. There're other visual states that use the same letter size (e.g. `<VisualState x:Name="Portrait768x1366">`), and they should be removed, too, to fix the issue. Not sure if that'd be a good decision.

[2019-09-14 21:41] SunsetQuest opened #674 "Add ability to paste in mod '%' operator"
Right now `5-2` or `5/2` can be pasted into the calculator and it will solve it.
However, if `5 % 2` is pasted, it errors.
However, typing `5 % 2 ` works just fine.

Similar to issue #299.

### How to duplicate the issue:
1) copy `5 % 2` to the clipboard
2) paste in the calculator
3) the message _Invalid input_ appears

### How it already works with +, -, *, /
1) copy `5-2` to the clipboard
2) pas

[2019-09-15 16:39] arigit commented on #128
huge +1 on this request. This feature is overdue by some decades now.
MacOS calculator has included RPN support for a very long time. Take a look at: https://support.apple.com/en-in/guide/calculator/welcome/mac

[2019-09-17 11:27] Ahmed-Yossef commented on #674
I am interested to work on this enhancement, i already took a look at the code and found the potential areas of code that need to be changed

[2019-09-17 20:19] grochocki commented on #673
Thanks for the detailed report! There is definitely something a little funky going on with the aspect ratios used to switch between the different keyboard visual states. I _think_ this will be addressed by #428, where we looked at the keyboard design holistically and made a number of improvements, including looking closely at the type ramp. If you agree, I would like to close this as dupe of that,

[2019-09-17 20:24] grochocki commented on #674
Thanks, @Ahmed-Yossef! We certainly appreciate you taking a look at this one. If you have the chance, take a peek at #299 too (the solution _might_ be similar).

[2019-09-18 05:06] ForNeVeR commented on #673
Okay, looking forward to see the new layout after #428.

[2019-09-18 05:06] #673 closed

[2019-09-18 06:20] Ahmed-Yossef commented on #674
@grochocki sure i will have a look too at #299 while fixing this one.

[2019-09-18 08:01] rudyhuyn commented on #666
This is a little complicated.

## What's the behavior of CE?

<kbd>CE</kbd> means `Clear Entry`, if you type:
<kbd>12</kbd> <kbd>+</kbd> <kbd>3</kbd> and then you click on <kbd>CE</kbd> it will remove the last entry, only <kbd>12 +</kbd> will stay. If you click again on <kbd>CE</kbd> nothing will happen, because it only removes the current entry, not the last operator.

Based on this observation,

[2019-09-18 08:10] rudyhuyn commented on #587
@grochocki: This issue can be closed!

[2019-09-18 08:12] grochocki commented on #587
Addressed as part of #634.

[2019-09-18 08:12] #587 closed

[2019-09-18 08:22] grochocki commented on #666
Thanks for the detailed analysis!

I also learned something new! While I was definitely aware of what happens when you hit enter again ("repeat last operation"), I did not realize that you could hit <kbd>CE</kbd>, enter a new number, and then hit <kbd>=</kbd> to perform the last saved operation.

I agree 🤔 But as you suggest, it _is_ consistent with expected behavior of <kbd>CE</kbd> (and is kinda

[2019-09-18 08:22] #666 closed

[2019-09-19 18:12] HerrickSpencer opened #677 "Unexpected exit from always on top when enter is pressed"
**Possible Reason**
This is likely due to focus. the default focus is on the "Back to full view" button when the app enters alwaysontop mode. So if the enter or space key is hit, it will fire this button. Fix would be to move the focus off this button when the app enters alwaysontop mode.

**Describe the bug**
when in Alwaysontop, app will fall out of always on top mode when enter is pressed

**St

[2019-09-19 23:41] #429 closed

[2019-09-20 06:19] grochocki commented on #677
Yep, good catch! It seems this behavior regressed. Upon entering always on top, focus should land in the display area (just like when opening Calculator from Start).

[2019-09-20 11:44] GeraudFabien commented on #338
Maybe [Geogebra](https://fr.wikipedia.org/wiki/GeoGebra) it's free and open source.

[2019-09-20 19:46] MicrosoftIssueBot opened #678 "Programmer logic function hot keys can be used in other modes after switching to and from programmer mode"
**Repro Steps:**
1) Launch calculator
2) Set calculator to programmer mode
3) Set calculator to Standard mode
4) Press any logical function hot key (^, &, | ....)

**Observed Results:**
Logic functions are entered into standard calculator when returning to standard mode and using hotkeys

**Expected Results:**
Logic functions can only be used in programmer mode

[2019-09-20 22:04] #678 closed

[2019-09-20 23:29] #665 closed

[2019-09-24 10:38] rudyhuyn commented on #674
@Ahmed-Yossef Let me know if you have time to fix this problem, otherwise, I already had a PR ready for #299, I can include a fix for this one too.

Rudy

[2019-09-24 11:48] Ahmed-Yossef commented on #674
Yes Sure .. No Problem.

[2019-09-26 09:59] rudyhuyn opened #683 "Clarify whether the application should allow users to paste numbers in scientific notation when using Standard mode or not"
## Describe the bug
It is not clear if the calculator should allow users to paste expressions with scientific notations (E notation, for example 12e+10) when the calculator is in Standard mode.

Some unit tests and methods show that we should support it:
https://github.com/microsoft/calculator/blob/41e2e975918c6838947e29a046778bd4d57feeee/src/CalculatorUnitTests/CopyPasteManagerTest.cpp#L133

http

[2019-09-26 16:15] grochocki commented on #683
Despite not having an <kbd>exp</kbd> button, I don't think we should be blocking folks unnecessarily from pasting in a valid number, so I think we _should_ support pasting these values in both standard mode and in most converters.

Currency converter is an odd one, though, since that is not a domain where scientific notation is typically used. Are there other converters where scientific notation m

[2019-09-27 01:39] rudyhuyn commented on #683
I agree, we should not block users. I will fix `ExpressionRegExMatch` to allow these numbers asap.

For converters, I agree, I think we should allow it. I would probably never use scientific notation with the currency converter, but if someone wants to use this notation (💰), it's probably better to allow it and not treat this converter differently.

[2019-09-27 17:36] #352 closed

[2019-09-27 17:39] #385 closed

[2019-09-27 20:08] #408 closed

[2019-09-28 00:14] Poopooracoocoo opened #684 "No hover effect on history or keep on top buttons when transparency effects are off"
**Describe the bug**

No hover effect on history or keep on top buttons when transparency effects are off
**Steps To Reproduce**
Steps to reproduce the behavior:
1. Disable transparency effects
2. Open Calculator
3. Hover over keep on top or history
4. See error

**Expected behavior**

The button would be grey
**Screenshots**

**Device and Application Information**
 - OS Build: 10.0.18362.0
 - Arc

[2019-09-28 02:45] grochocki commented on #684
Nice catch, thank you!

[2019-09-28 02:50] grochocki commented on #664
We think adding support for significant figures is a great addition, but want to make sure that the spec very crisply defines the deterministic rules we are using to apply them. Also, we believe this feature is best exposed as a setting in scientific mode (as opposed to a new calculator mode). This will require a little more thinking, but we should be able to leverage some of the design improvemen

[2019-09-28 02:59] grochocki commented on #670
We had the chance to review this pitch, and while we understand the scenario, what is being described is not _really_ a unit converter. It is kind of something new -- a formula solver. This is not necessarily out-of scope, but while solving for Frequency/Wavelength/Energy is certainly one type of solver, but there are countless others (e.g., [Boyle's Law](https://en.wikipedia.org/wiki/Boyle%27s_la

[2019-09-28 07:00] rudyhuyn commented on #683
I did some tests to assess the workload necessary to support:
- scientific notations in Standard mode
- scientific notations in Unit/Currency converters

**Standard mode:**
`StandardCalculatorViewModel` + `CalculatorManager` already supports this type of numbers, we simply need to modify some regular expressions in `CopyPasteManager::ExpressionRegExMatch` to support these numbers.

**Unit Converte

[2019-09-28 07:09] rudyhuyn commented on #684
Taking a look! 👀

[2019-09-28 07:17] rudyhuyn commented on #684
Note: it's also the case of buttons: `DEG`, `HYP`, `F-E`, `M+`, `BYTE`, etc...

[2019-09-28 22:09] rogersachan commented on #670
I'll work on this and let you know when it'll be ready.

[2019-09-28 22:10] rogersachan commented on #670
Wouldn't it be better to have a general issue for formula solvers first in this case so the spec can be laid out?

[2019-09-30 01:13] grochocki commented on #670
Yes, I think so. An entirely new issue can be created, or this pitch can be updated to expand scope.

[2019-09-30 01:16] grochocki commented on #683
Let's fix the issue for standard mode, but leave converters for now. I have not seen any feedback about scientific notation support in converters, so we can revisit later, if necessary.

[2019-09-30 05:00] mateka commented on #653
I would like to work on this issue, but I have one question. Should I add '=' sign to the expression, if loading expression from history is not adding it?

[2019-09-30 06:12] grochocki commented on #653
Fantastic, thank you for picking this up! Yes, let's add it in this case, even though when loading from history it doesn't. The behavior is a little different between the two cases:
* For this new feature, we want to show the last "submitted expression". If you were to try to perform an operation after hitting enter, the expression clears and would use the answer from the previous expression as th

[2019-09-30 20:05] mateka commented on #653
Yes, it makes sense.

[2019-09-30 20:12] mdtauk commented on #653
At the moment, the expression acts as a visual cue that there is a pending calculation.  If there can be a way to display the last history item after pressing enter, and making it distinct enough from a current pending calculation - then go ahead.

There could always be an animation, of the expression sliding towards the History button, to indicate you can tap it to view what you have done.

Then

[2019-09-30 20:20] grochocki commented on #653
Yep, this is a bit more involved though, based on current implementation of calculator engine. #620 does a decent job at capturing the scenarios like this one that could benefit from free-form input parsing.

[2019-09-30 21:16] grochocki commented on #428
Only partially implemented, reopening pending UI PR.

[2019-10-01 04:33] dovisutu commented on #613
There's a little problem with *z^w where z and w are all Complex number*, because it depends on *ln(z)* which (sadly) has **more than 1 value** in Complex.
The solution is (possibly) make a *logarithm-branch-selector* allows to use different *branch*es of ln() (aka limits the results' im part in a range with width 2π).
Or we can simply limit inside the branch -π<=im(ln(z))<=π.

[2019-10-01 05:26] BabakAp opened #690 "Incorrect Result in simple sum of products"
**Describe the bug**

0.7 * 0.7 = 0.49

0.7 * 0.7 + 0.7 * 0.7 = 0.833

Screenshot:
![image](https://user-images.githubusercontent.com/5207611/65936202-b6239a00-e3d0-11e9-81ce-c3fbb07dfd74.png)

It works with several numbers in range [0,1] that I tested, e.g. 0.5.
It does NOT work in scientific mode, only in Standard.

**Device and Application Information**
 - OS Build: 18362.356 (Windows 10 Pro 19

[2019-10-01 06:46] grochocki commented on #690
This appears like it might be a dupe of #138 if this is happening in standard mode. There are lots of details there about how standard mode behaves, and how we want to improve this.

[2019-10-01 09:01] MicrosoftIssueBot opened #691 "History button does not always disappear when increasing window width >850px, becomes unresponsive"
**Repro Steps**
1) Launch calculator
2) Reduce the window width below 850 pixels (until History and Memory panels are hidden)
3) Slowly resize the window width above 850px
4) Repeat steps 2-3 until the History button does not disappear

**Observed Results**
History button is unresponsive in this state and History panel is empty despite there being history to show

**Expected Results**
History butt

[2019-10-01 14:10] mcooley opened #693 "Enable code analysis on all projects and resolve warnings"
Visual Studio's code analysis tools can help find issues in our C++ code. Eventually, it would be great to have these tools running in all of our builds and to fix all the warnings they generate.

See #689 for an example of how to enable the tools during the build. We'll enable code analysis only in the "Release" configuration to avoid slowing down Debug builds.

To see which warnings still need t

[2019-10-01 18:11] mateka commented on #653
I have a question regarding UI tests. On my system, tests are not working, because I am using language different than English. Should I change tests in this pull request or create new issue with new pull request?

[2019-10-01 21:26] mr1sunshine commented on #541
Do you mean scaling settings in **Windows Settings** ->  **Display** -> **Scale and layout**  menu?
Cannot reproduce it on my local machine with latest master at the moment :(

[2019-10-01 21:29] adrianghc commented on #541
Yes, that is what I mean. However, the issue seems to be fixed since the last app update, which I forgot to report here. Or maybe it was a bug with the calendar control itself that got fixed with a Windows update.

[2019-10-02 11:39] praveensvsrk commented on #642
Can I work on this?

[2019-10-02 12:48] GouthamPeri commented on #349
I would like to work on this issue.

[2019-10-02 13:32] HowardWolosky commented on #642
Go for it, @praveensvsrk!

[2019-10-02 13:34] HowardWolosky commented on #349
Go for it, @GouthamPeri!

[2019-10-03 03:48] BabakAp commented on #690
@grochocki First, thank you for your speedy response! You are right, It seems to be a dupe. I could not find it because this is not about "clarity of math expressions in history", it's just wrong. I think suggestions by @yatli make sense. Closing this issue.

[2019-10-03 03:48] #690 closed

[2019-10-03 06:08] grochocki commented on #653
IIRC, UI tests currently only run in English, but @sanderl might know more here.

[2019-10-03 06:12] grochocki commented on #691
I think this issue may be affected by available PC resources. I could only partially reproduce this issue, where I saw the history icon visually "glitch" in for a moment before collapsing.

[2019-10-03 13:22] praveensvsrk commented on #642
I selected only a part of the number, clicked somewhere else on the number pane (outside the number, so that focus is lost), then right clicked again on the number. Interestingly, the old selection persisted. So in your case, on right-clicking again, the number appeared as selected. Is this behavior (of persisting the previous selection) expected?

About the issue, looks like the cause here is the

[2019-10-03 22:33] sanderl commented on #653
Currently our UI tests only run in English. There was a previous PR to have our unit tests run on non-English devices (PR #289).

I think it would be best create an issue and a new PR to make the UI tests run non-English devices.

[2019-10-03 22:56] #428 closed

[2019-10-04 10:26] rudyhuyn opened #699 "Code cleanup: remove the code related to the management of the focus in CalculationResult"
**Describe the code cleanup**
`CalculationResult` implements 3 methods to manage the focus states of the control:
- OnLostFocus
- OnGotFocus
- OnRightTapped

But none of the templates used by `CalculationResult` contains the visual states "Focused"/"Unfocused", meaning that these 3 methods are meaningless.

**Device and Application Information**
 - OS Build: 10.0.18363.0
 - Architecture: X64
 - Ap

[2019-10-04 19:56] Tadaboody commented on #58
Going to try this - will post questions here if I run into anything, please reply if this is the right place

[2019-10-04 20:31] grochocki commented on #58
Great! Thanks for picking this up, @Tadaboody.

[2019-10-07 06:31] praveensvsrk commented on #595
I have a question. After restoring from history, what should happen to the expression when someone types in some value or an operator?

![image](https://user-images.githubusercontent.com/10628197/66289359-19925800-e8fa-11e9-8637-93bbc1b53cb2.png)

[2019-10-07 17:57] Karna98 commented on #582
If this issue is not assigned the I would like to give a try.
For Hactoberfest 😁.

[2019-10-07 18:04] HowardWolosky commented on #582
I'm not aware of anyone else working on this at the moment -- consider it yours, @Karna98, thanks!

[2019-10-08 19:14] grochocki commented on #595
Great question, @praveensvsrk! After reviewing this bug again, I think it might be a good idea to tease apart memory from history.

I think memory is much more straightforward, and this bug does a great job at capturing the intended behavior. That is, when you insert a value from memory, it should be treated the same as if you inputted a number via keyboard or copy-and-paste, and you should be abl

[2019-10-09 05:55] greedyAI commented on #629
Does this still need help? Might as well finish what I started. :)

[2019-10-09 13:36] praveensvsrk commented on #595
Thanks for the clarification! :)
I would like to work on this issue!

[2019-10-09 14:39] #642 closed

[2019-10-09 15:14] na-ding opened #707 "mod '%' input problem with standard calculator"
### After entering a number, clicking "%" with the mouse will set to 0.
_I hope to express 'mod' by clicking '%' with my mouse._

Steps to reproduce the behavior:
1. Go to standard calculator
2. Entering number
3. Click on '%' with mouse
4. See error (output 0)

![3](https://user-images.githubusercontent.com/51294315/66422430-a47f6980-ea44-11e9-95aa-31552d2c6d2a.png)

 - OS Build: 10.0.18362.0
 -

[2019-10-09 16:49] greedyAI commented on #629
If @rudyhuyn hasn't claimed it yet as part of another issue/PR I can work on this.

[2019-10-09 17:14] grochocki commented on #595
Awesome, thanks for taking a look!

[2019-10-09 17:57] rudyhuyn commented on #629
Hi @greedyAI! #648 should fix it, don't prioritize this one if you have other tasks to work on.

[2019-10-09 18:04] rudyhuyn commented on #707
Hi @na-ding. the function `%` does calculate the modulus of a number (I made the same mistake in the past, it's a little confusing), you can find a full explanation here: https://github.com/microsoft/calculator/issues/655#issuecomment-527471016

If you want to use the modulo operator, you can use the button `Mod` available in Scientific mode

Rudy

[2019-10-09 18:06] LauraLaureus commented on #312
Can I grab this as part of the Hacktoberfest ?

[2019-10-10 06:28] greedyAI commented on #478
I'm going to take a crack at this. Will post questions here if I have them.

[2019-10-10 06:31] grochocki commented on #312
Sure thing! Thanks for taking a look.

[2019-10-10 06:32] grochocki commented on #629
Closing as a dupe of #648.

[2019-10-10 16:18] HowardWolosky commented on #707
@rudyhuyn is spot-on here.  In standard mode, <kbd>%</kbd> is used for calculating percentages as described in [@grochocki's comment in #655](https://github.com/microsoft/calculator/issues/655#issuecomment-527471016).  If you wand to actually perform a `mod` operation, you'll need to use the <kbd>mod</kbd> key in the Scientific Calculator as @rudyhuyn suggested.

Also, as side-note...while some pr

[2019-10-10 16:18] #707 closed

[2019-10-10 22:20] Grommers00 commented on #505
Hi I'd like to attempt this. Is that okay?

[2019-10-10 22:37] HowardWolosky commented on #505
Thanks for your interest, @Grommers00.  Go for it!

[2019-10-11 04:51] Grommers00 commented on #505
Okay awesome. I think I have a recommended solution.

Source of the Issue located [here](src/CalcManager/Ratpack/CalcErr.h)

I recommend we change the variables to read like this
![image](https://user-images.githubusercontent.com/42331013/66624739-707c8380-ebbf-11e9-96c8-f592a1b0bcaa.png)
As errors can go for the full length of the program.

I do not recommend this approach
![image](https://user-i

[2019-10-11 07:55] rudyhuyn commented on #691
I am able to reproduce the problem. It's caused by what seems to be a very strange bug in `AdaptiveTrigger'. It seems like `AdaptiveTrigger` rounds up the width/height of the current window and then compares the value with `MinWindowWidth' and `MinWindowHeight' (If a Microsoftee has access to the code, it may be useful to check it).

So when `559.5 <= MinWindowHeight < 560`, `Calculator` will disp

[2019-10-12 00:31] grochocki commented on #699
/cc @HowardWolosky

[2019-10-13 08:33] Karna98 commented on #582
![#582](https://user-images.githubusercontent.com/32186983/66712936-dafd1180-edc1-11e9-83d0-975a39e6a533.png)
I have made changes in AboutFlyout.xaml (as shown in pic).
I'm not able to understand `x:Uid="AboutFlyoutEULA"`
as where is **AboutFlyoutEULA** defined ?

[2019-10-13 10:03] ItzLevvie commented on #582
It's defined in https://github.com/microsoft/calculator/blob/24d997dd00534938cb880722108a0f85ae4c3611/src/Calculator/Resources/en-US/Resources.resw#L2732-L2735.

You'll have to create another one along the lines of "AboutFlyoutGitHub" or something that's reasonable for what you're doing.

[2019-10-13 10:13] Karna98 commented on #582
Are the resources files generated? or Do I have to manually add **AboutFlyoutGitHub.Text** in every resources for different language (almost 65 files)?

[2019-10-13 13:52] HowardWolosky commented on #582
Good question (we should add that to the docs). Only add it to the `en-us` file. Other languages will fallback to that English string until it gets translated by our localization team.

[2019-10-13 14:43] Karna98 commented on #582
![#582](https://user-images.githubusercontent.com/32186983/66717252-7a3afc80-edf4-11e9-8fe1-564d353c22f1.png)

Review please.
Any more addition required?

[2019-10-13 15:40] HowardWolosky commented on #582
Please refer to @grochocki's [earlier comment on requirements](https://github.com/microsoft/calculator/issues/582#issuecomment-519752933). There should be two strings making up the sentence, and only one should be clickable.

[2019-10-13 16:56] #505 closed

[2019-10-14 04:35] jeffsieu commented on #348
Can I work on this issue?

[2019-10-14 17:16] #683 closed

[2019-10-14 17:45] adigeak commented on #349
I would like work but i'm new to opensource. Can i work

[2019-10-14 17:59] grochocki commented on #348
Yes! Thanks for taking a look, @jeffsieu.

[2019-10-14 23:59] nishp77 commented on #582
Hi, I have did make pull request. Sorry i never read all comments

[2019-10-15 06:20] akshaydeep06 commented on #674
I would like to work on this. Is there a scope to work on this or someone is almost done with this ?

[2019-10-15 06:31] rudyhuyn commented on #674
Hi @akshaydeep06, a PR is already available for this issue (#682).

Feel free to take a look at it and share feedback!

[2019-10-16 15:39] HowardWolosky commented on #582
At a high level, yes.  That's the goal (minus the underlining).

Unfortunately, the actual implementation is going to be a little bit trickier, because we can't allow the ordering of those two strings to be defined in the XAML _at all_....they _have_ to be completely controlled by the localization strings, otherwise we'll run into issues with languages that read RTL (right-to-left) as opposed to L

[2019-10-16 15:54] Karna98 commented on #582
So any idea on what should be approach for implementation?
Any rough idea will do

[2019-10-17 21:10] #684 closed

[2019-10-17 21:18] #677 closed

[2019-10-17 23:10] BitesizedLion opened #717 "Scientific Mode | copying the result of 102^12 crashes calculator?"
**Describe the bug**
Calculator crashes upon copying the result of 102^12

**Steps To Reproduce**

**Expected behavior**
For it to copy the result and not crash.

**Screenshots**
None but I have a video at https://i.caspers.app/2019-Friday-u0iT.mp4

**Device and Application Information**
 - OS Build: Major 10, Minor 0, Build 17763, Revision 0
 - Architecture: X64
 - Application Version: 10.1908.0.

[2019-10-18 12:17] akshaydeep06 commented on #717
If no one is working on it, I would like to resolve this. Should I proceed ?

[2019-10-18 12:24] akshaydeep06 commented on #717
Can you work on it using a MAC. Is windows mandatory ?

[2019-10-18 13:13] gsfreema opened #718 "CalculatorVector<TType> should be replaced with std::vector"
**Edit**
The original proposal below was to make CalculatorVector functions noexcept.  It was then suggested to remove it all together.  This issue is being repurposed for that.  The comments below are left for historical purposes.

**Proposal**
All of `CalculatorVector<TType>`'s functions return a `ResultCode` which indicates that they should not throw an exception.  Knowing this, the exception o

[2019-10-18 13:31] gsfreema opened #719 "CalculatorHistory shouldn't call ClearHistory in its destructor"
**Proposal**
CalculatorHistory's descructor is currently implemented as
[code]
Here, `m_historyItems` is a `std::vector` which will handle cleaning up its own memory in its destructor.  This implementation was likely done at a time when CalculatorHistory wasn't using a `std::vector` and had to manage its own memory, but now that it is using a `std::vector`, having a descructor that calls `ClearHis

[2019-10-18 15:11] HowardWolosky commented on #717
The application only runs on Windows. While it is possible to develop on any platform, you will only be able to test/validate your changes on Windows (or on a Windows VM hosted on your Mac).

[2019-10-18 18:07] #299 closed

[2019-10-18 20:40] #653 closed

[2019-10-19 07:08] reshmisaji commented on #630
Can I pick up this one

[2019-10-20 17:19] grochocki commented on #717
I am not able to reproduce this bug on 10.1909.1.0, but the video definitely shows a crash, so marking as investigate.

[2019-10-20 17:23] grochocki commented on #630
Sure thing! Thanks for taking a look @reshmisaji.

[2019-10-21 17:04] mcooley commented on #719
Yes, this would be a good change!

[2019-10-21 17:09] mcooley opened #721 "Unit tests are failing in CI builds"
In our [CI builds](https://dev.azure.com/ms/calculator/_build/results?buildId=42197&view=logs), the following four tests recently started failing for x86 (x64 is fine):

- ValidateExpressionRegExMatch
- ValidatePasteExpressionErrorStates
- ValidateScientificPasteExpressionTest
- ValidateStandardPasteExpressionTest

This started happening after #687 was merged. We didn't catch it before the PR merg

[2019-10-21 18:58] mcooley commented on #718
I'm not necessarily opposed to this change, but the longer-term goal should be to remove CalculatorVector and have callers just use std::vector directly. When that happens, the benefits of this change would be negated.

[2019-10-21 19:00] gsfreema commented on #718
That makes sense.  Is there already an issue for that work?  That's something I could look into.

[2019-10-21 19:05] mcooley commented on #718
No existing issue, but if you're interested in looking into it that would be awesome. Feel free to file a new issue, or repurpose this one.

[2019-10-21 19:47] #719 closed

[2019-10-21 20:46] MicrosoftIssueBot opened #725 "Date of rates update does not reflect local date format"
**Description**
Date that shows when currency rates were updated does not reflect local expected format of the date for specific languages. Currently, pure American date format is used that does not fit for many languages.

**Expected behavior**
Please consider changing to reflect local date format from Windows or at least adjust to some more common date format for international markets.

**Repro

[2019-10-22 14:41] praveensvsrk commented on #595
Sorry for the delay, I got occupied in personal work.

I checked the code flow, we are setting `m_bRecord` property of `CCalcEngine` to `false` when the OpCode is between `IDC_FE` and `IDC_MINUS`. `IDC_RECALL` (Which is the opcode for MR button) falls in this range, hence editing is disabled. Not sure why this was done in the first place, maybe someone here can throw some light on this.

I will su

[2019-10-22 14:50] tamil1809 opened #726 "📌Press any 0 to 9 Numeric value and press = equal-to operator then try to clear values"
**Bug description**
In standard Mode: press any [0-9] numeric value and press equal to [=] operator then try to clear values using backspace key or clear button in calculator app values is not clearing🤔.

**Steps To Reproduce**
1. Open Calculator App [Standard Mode]
2. Press 0-9 Numeric value
3. Press = Operator
4. Clear Typed values using keyboard/app

**Expected behavior**
Clearing value button

[2019-10-23 02:11] abc52090241 opened #729 "Title"
**Problem Statement**

**Evidence or User Insights**

**Proposal**

**Goals**

**Non-Goals**

**Low-Fidelity Concept**

**Requested Assignment**

If possible, I would like to implement this.
I'm just suggesting this idea.  I don't want to implement it.

[2019-10-23 02:14] abc52090241 opened #730 "[Localization]"
**Describe the bug**

**Steps To Reproduce**

**Expected behavior**

**Screenshots**

**Device and Application Information**
 - OS Build:
 - Architecture:
 - Application Version:
 - Region:
 - Dev Version Installed:

**Additional context**

[2019-10-23 02:38] #729 closed

[2019-10-23 02:39] #730 closed

[2019-10-23 18:46] gsfreema commented on #718
I started looking at this briefly.  If the goal is to completely remove CalculatorVector, then it should be done as part of many minor updates if possible.  My biggest concern with such a change is that there exists C++/CX code for the ViewModels that use this type and have special functions that wrap calls to the functions that return ResultCode and then throw a `Platform::Exception^`.

There are

[2019-10-23 19:51] mcooley commented on #718
Yes, doing the change incrementally is the safest way to go (and makes code review much easier :))

In general, Calculator doesn't attempt to recover from allocation failures--crashing in that case is fine.

I'm pretty sure that any call to CalculatorVector with an out of range index would be a programmer error. If there are cases where it happens (and we don't find them during a manual review), c

[2019-10-23 19:51] Youssef1313 opened #731 "Redirecting process ?"
With a code like this:

[code]

The `ProcID` returned by `Shell` isn't correct. Is the process some kind of process redirection or something like that ?
That was causing a problem in a sample in the dotnet documentations.
For more information, see https://github.com/dotnet/docs/issues/7668

[2019-10-23 20:23] HowardWolosky commented on #731
Thanks for the question @Youssef1313, as well as for the pointer to dotnet/docs#7668.  I've added some feedback there as well.

`calc.exe` does not contain the Calculator application in Windows 10.  It continues to exist on the system for backwards compatibility reasons, and all that it does is launch the Store version of calculator (the application hosted in this project).  This has been the desi

[2019-10-23 20:23] #731 closed

[2019-10-24 05:11] tamil1809 commented on #726
![Calculator](https://user-images.githubusercontent.com/13504156/67455267-c551dc80-f64a-11e9-8328-9618535ab8d4.png)

[2019-10-24 05:38] HowardWolosky commented on #726
@tamil1809 - Thanks for opening the issue!  I agree with you that users should always be able to delete their _typed_ values, however in your scenario, that's not a _typed value_, that's a _result_.  Once you've hit <kbd>=</kbd>, you're now looking at a result.  If you don't want to see the result anymore, you can press <kbd>C</kbd> to clear it out and get back to `0` again.

Just like when you <k

[2019-10-24 06:02] grochocki commented on #726
Howard covered everything here, so going to close as by design. History editing is covered by #163. Let's focus any discussion around editing/deleting previous expressions there.

[2019-10-24 06:02] #726 closed

[2019-10-24 16:02] rudyhuyn commented on #674
Closed by #682 🎉

[2019-10-24 16:02] #674 closed

[2019-10-24 20:04] SunsetQuest commented on #674
Thank you to everyone that contributed to this.  This will be useful for people wanting to get a quick solution when it's on the clipboard.  Currently, `(3+2) * ((3-1)/2)` works but soon with `%,^` added most of the core operators are supported. eg. `(3+2)^2 * ((3-1)/2) % 4` .  Really awesome and thanks again!

[2019-10-25 04:45] yaichenbaum opened #732 "Keyboard accelerator to switch to On-Top mode"
**Problem Statement**
Switching to On Top mode from the keyboard requires pressing the tab key many times until it focuses on the On-Top button, this is not very accessibility friendly.

**Evidence or User Insights**
This should be addressed since its very important to be accessible to all users, no matter what input they are using.

**Proposal**
Adding a simple keyboard accelerator can help solve

[2019-10-26 08:26] rudyhuyn opened #735 "In some cases, the right arrow of CalculationResult remains visible when it should not."
**Describe the bug**

The right arrow button doesn't become collapsed when the value changes from a long number to a short one when `Scrollviewer.HorizontalOffset = 0`

**Steps To Reproduce**
- resize the window to the minimum
- select the `Programmer` mode
- click on `Bin`
- press 1 until you see the scroll buttons
- scroll to the far left
- Do one of the following action
   - press CE
   - paste

[2019-10-26 10:15] rudyhuyn opened #737 "Make ControlSizeTrigger consistent with AdaptiveTrigger + bug fix"
**Describe the bug**
Unlike AdaptiveTrigger, the visual state will never be triggered if you write the following code: `<trigger:ControlSizeTrigger MinWidth="0" />` which can be very useful for future PR.

Similarly, the current code doesn't work if the control associated is already fully loaded.

(the original control in https://github.com/microsoft/Windows-universal-samples/blob/master/Samples/X

[2019-10-26 11:08] rudyhuyn commented on #725
This is a good point, we never use this kind of notation in French for example.

I'm afraid the long date format (with the full name of the month) will be too long with some languages. I would suggest to use the short one (mm/dd/yy (US) + dd/mm/yy (others) instead)

[2019-10-26 11:23] rudyhuyn commented on #349
Tested with the most recent public build, the CalendarDatePicker control has been updated to fix this problem since the creation of this ticket.

If you still have this issue, please, let us know so we will reopen this ticket and continue to investigate.

[2019-10-27 11:14] papook opened #741 "[Localization] Armenian Dram not included"
The Windows Calculator does not include support for the Armenian currency (AMD). Would really appreciate to see that added. Thanks
![image](https://user-images.githubusercontent.com/50879652/67633701-8206a080-f8cc-11e9-82a5-2108bedce0e1.png)

[2019-10-27 13:46] benstevens48 commented on #209
Hi, I'm the author of Pictureflect Photo Viewer. I'm not an expert, and on my PC the Calculator app already seems to load quite fast, but I do have some general advice/suggestions.

The most obvious one, which I can see you've already done, is to ensure the splash screen optional attribute is set in the app manifest. The next biggest performance improvement is to ensure that you only add the bare

[2019-10-27 20:36] rudyhuyn commented on #209
Thanks @benstevens48 for your input and this very detailed explanation of how a UWP developer can improve the performance of an app (that all UWP developers should follow!), great job!

Performance at launch and during execution is really important to me and I agree with all the tips you have shared. As you noticed, many of these tips are already being used by the Calculator. In addition to these,

[2019-10-28 08:26] rudyhuyn opened #742 "The calculator does not allow users to paste negative numbers without digits before the decimal point."
**Describe the bug**
The Calculator doesn't accept pasted strings like:
- `-.232`
- `-.1`
- `-.1e12`

**Steps To Reproduce**
- Launch the Calculator
- Open the Standard mode
- Paste `-.232`

**Expected behavior**
The Calculator should accept this expression

**Device and Application Information**
 - OS Build: 10.0.18363.0
 - Architecture: X64
 - Application Version: 10.1908.0.0
 - Region: en-US
 -

[2019-10-28 09:02] MicrosoftIssueBot opened #744 "Clicking on the History Label causes the [Shift] + [Ctrl] + [D] hotkeys to break"
**Describe the bug**
Clicking on the History Label causes the [Shift] + [Ctrl] + [D] hotkeys to break

**Steps To Reproduce**
1. Launch Windows Calculator
2. Ensure the window is sized large enough so that the History panel is viable
3. Perform a calculation
    - E.g. 4*5/6=
    - A history item should populate the history panel
3. Click on the "history" pivot button.
4. Try to use [Shift] + [Ctr

[2019-10-28 10:30] grochocki commented on #742
Of your examples, I can only reproduce the issue for `-.1e12`. The others pasted in seem to be accepted.

[2019-10-28 16:08] rudyhuyn commented on #742
It's a regression introduced 2 weeks ago, so only happening with the Dev version.

[2019-10-28 16:32] mcooley commented on #721
Looking closer, this isn't an architecture-specific issue. Actually, the x64 test runs just haven't been discovering or running any tests.

[2019-10-28 17:17] #742 closed

[2019-10-28 17:22] rudyhuyn commented on #721
Fix by #743

[2019-10-28 17:30] xalkan commented on #744
Hi guys, can I work on this one?

[2019-10-28 17:32] HowardWolosky commented on #744
Go for it.  Thanks for your interest, @xalkan!

[2019-10-28 17:34] mcooley commented on #721
Keeping this issue open until we resolve the test discovery issue for x64.

[2019-10-28 22:13] mcooley commented on #721
Repros in a blank unit test app. Reported to the vstest project: https://github.com/microsoft/vstest/issues/2233

[2019-10-28 23:04] rudyhuyn opened #747 "The calculator should react to changes in user settings to the enable/disable animations"
**Describe the bug**
The Calculator caches the value of the setting "Show animations in Windows" and never checks it again during the lifetime of the instance.
**Steps To Reproduce**
- step 1: Launch the Calculator
- step 2: Switch from Standard mode to Scientific mode
- step 3: Go to settings>Display, change the value and wait ~5 seconds
- step 4: Switch from Standard mode to Scientific mode
-->

[2019-10-29 01:45] Goleven opened #749 "these actions can crash the program"
![xxx](https://user-images.githubusercontent.com/34236843/67730209-4fc18400-fa2f-11e9-8b46-f36838d1c0b6.gif)

[2019-10-29 01:58] Goleven commented on #749
I guess the reason is the initial width

[2019-10-29 03:27] rudyhuyn commented on #749
I was able to repro this issue, I will work on a fix

[2019-10-29 04:33] rudyhuyn opened #751 "Calculator shouldn't use objects/methods from CalcEngine"
To improve our architecture, we need to fully separate Calculator and CalcEngine and only use objects/methods from `CalcViewModel` in Calculator.

**Expected behavior**
If Calculator needs to access to a method/class from CalcManager, we should use CalcViewModel as a bridge between the 2 projects.

**Requested Assignment**
If possible, I would like to fix this.

[2019-10-29 05:37] rudyhuyn opened #753 "CalcViewModel contains classes related to UI + dead codes."
**Describe the bug**
CalcViewModel contains many classes related to the UI that should be moved to the Calculator project.
- KeyboardShortcutManager
- ValidationConverter
- ViewState

And some dead codes:
- BindingBase
- UnitConverterViewModel::StartConversionResultTimer
- StandardCalculatorViewModel::ConvertIntegerToNumbersAndOperatorsEnum
- StandardCalculatorViewModel::OnPinUnpinCommand
- Standa

[2019-10-29 18:14] #725 closed

[2019-10-29 19:27] grochocki commented on #741
We use licensed data for the currency converter feature, so we are not able to add new currencies ourselves. I am going to close this pitch for now, but I will be passing along this feedback to our data partner for consideration.

[2019-10-29 19:27] #741 closed

[2019-10-29 22:21] #737 closed

[2019-10-29 22:31] BitesizedLion commented on #717
Turns out my computer had 23.9GB/24GB memory.

[2019-10-29 22:31] #717 closed

[2019-10-30 17:55] #718 closed

[2019-10-30 17:56] rudyhuyn commented on #718
Fixed by #756

Thank you for your help!

[2019-10-30 20:15] Ahmed-Yossef commented on #58
anybody working on this ?

[2019-10-30 21:19] HowardWolosky commented on #58
@Tadaboody said that they were, but we haven't seen a PR yet.  Are you still working on it @Tadaboody?

[2019-10-30 22:52] yaichenbaum commented on #732
I have implemented this shortcut in one of my apps and it has been working great, the one thing I am concerned about is making sure there are no other shortcuts in Calculator that this might mess up. Is there a list somewhere of available shortcut's in Calculator (that is if there is any shortcuts)

[2019-10-30 23:35] HowardWolosky commented on #732
@grochocki will be commenting on this one a bit further.  We definitely want the keyboard shortcut, but I believe that we want it to be a _different_ one than the one that you've suggested.  Dave can chime in with the specific change requests here.

[2019-10-31 00:39] rudyhuyn opened #757 "Prefer Platform::String over wstring in CalcViewModel"
**Describe the bug**
CalcViewModel currently uses wstring and Platform::String to represent strings. We should prefer Platform::String to make it easier to interact with XAML and WinRT api and reduce the number of conversions between the 2 formats in the Calculator project.

**Requested Assignment**
If possible, I would like to fix this.

[2019-10-31 01:07] grochocki commented on #732
We reviewed the pitch and would love to move forward with it. Since the idea is fairly straightforward and is entirely captured by the pitch, we can move this straight into production.

The one change we would like to make is to align to the following keyboard shortcuts:
* <kbd>Alt</kbd>+<kbd>Up</kbd> = Enter Always-on-Top Mode
* <kbd>Alt</kbd>+<kbd>Down</kbd> = Exit Always-on-Top Mode

I've updat

[2019-10-31 07:33] gkzscs commented on #726
I just had a try, and this is really not a matter.

[2019-10-31 16:47] gsfreema opened #759 "Inefficient and invalid uses of std::wstring::append"
**Describe the bug**

There are many uses of `std::wstring::append` where a `wstring` of a single character is created for the purpose of appending to an existing string.  Creating this temporary string is inefficient compared to appending a single `wchar_t` since `wchar_t` does not require a destructor to be called.  The existing usage likely doesn't cause memory allocation for the temporary stri

[2019-10-31 18:44] #759 closed

[2019-11-01 19:31] xalkan commented on #744
Thank you @HowardWolosky

I found out that if the History pivot item (whole pivot control area) has focus, then the [Shift] and [Ctrl] hotkeys don't work and history is not cleared because the pivot control probably handles the key down event itself.

There is a `OnKeyDownHandler `on `CoreWindow `that processes all the `KeyDown `events.
When anything other than History `Pivot `control has focus, t

[2019-11-01 19:31] xalkan commented on #744
If I write another `KeyDown `event handler for the Pivot control, it is not fired for [Shift] or [Ctrl] keys. But it does gets fired for any other key. `PreviewKeyDown ` fires for any key including [Shift] and [Ctrl].

I was unable to find any other event handler between the Pivot and CoreWindow which handles the KeyDown event and sets handled to true.

So this could be the default behavior of the

[2019-11-02 00:16] rudyhuyn opened #761 "DateDifference::operator== doesn't compare datetime::day values"
**Describe the bug**
DateDifference::operator== fails to compare datetime::day values

[code]

**Requested Assignment**
If possible, I would like to fix this.

[2019-11-02 00:24] #732 closed

[2019-11-03 04:07] sgreen00 opened #763 "Add Tau"
**Problem Statement**

Tau is missing.

**Evidence or User Insights**

[The Tau Manifesto](https://tauday.com/tau-manifesto)

The manifesto makes a strong argument and presents use cases for using Tau. Unfortunately Tau is not an option.

**Proposal**

Add a toggle so that Tau can be used instead of Pi.

**Goals**

Use the Scientific mode "2nd" button toggle to replace Pi with Tau.

**Non-Goals**

[2019-11-04 17:51] grochocki commented on #763
Thanks for the suggestion! It certainly seems like Tau would be a good constant candidate to add. There is a similar issue open tracking generally adding more constants (#123). What are your thoughts on possibly including Tau as part of that proposed drop down?

[2019-11-04 20:19] sgreen00 commented on #763
Thank you for the consideration. Tau is  special because it serves as a replacement for Pi. This was the motivation of having a toggle replacement of Pi in the UI. All Pi formulae have a Tau equivalent.

If Pi is moving to this new Constants bar, then I'd like Tau right next to it.

[2019-11-05 00:29] rudyhuyn opened #765 "Convert CopyPasteManager to runtime class"
**Describe the bug**
CalcViewModel contains both standard C++ classes and runtime classes (`ref class`). In order to make our code more homogeneous, we want to convert all public classes of `CalcViewModel` into runtime classes, starting with CopyPasteManager

**Requested Assignment**
If possible, I would like to fix this.

[2019-11-05 01:16] #757 closed

[2019-11-05 07:35] rudyhuyn opened #770 "Convert DateCalculatorViewModel to runtime class"
## Describe the bug
CalcViewModel contains both standard C++ classes and runtime classes (ref class). In order to make our code more homogeneous, we want to convert all public classes of CalcViewModel into runtime classes, including all classes associated to Date Calculator.

## Requested Assignment
If possible, I would like to fix this.

[2019-11-05 08:32] rudyhuyn opened #771 "Migrate TraceLogger to runtime class"
## Describe the bug
CalcViewModel contains both standard C++ classes and runtime classes (ref class). In order to make our code more homogeneous, we want to convert all public classes of CalcViewModel into runtime classes, this time with TraceLogger.

## Requested Assignment
If possible, I would like to fix this.

[2019-11-05 23:04] #691 closed

[2019-11-06 00:51] #761 closed

[2019-11-06 00:51] #735 closed

[2019-11-06 02:59] #771 closed

[2019-11-06 07:59] Lee-WonJun opened #774 "Keep the focused position when changing converter"
I don't know if this is a clear bug.
So I want to talk to others.

**Describe the bug**
If we change modes in the converter, the focus is still the same as in the previous mode.

like this picture.
![focus](https://user-images.githubusercontent.com/10369528/68276845-47152180-00b1-11ea-80c8-bec857c22253.jpg)

**Expected behavior**
However, the focused unit is same after change focusing position in

[2019-11-06 12:56] gsfreema opened #775 "StandardCalculatorViewModel code can be simplified with the use of standard algorithms"
**Problem Statement**
There many instances where a find or a count is being done manually in StandardCalculatorViewModel instead of using existing algorithms in the STL.

**Evidence or User Insights**
In more object oriented focused language, people tend to use find and count algorithms because they are easily discovered through the collection object being used.  C++ has a different philosophy on

[2019-11-06 14:58] #770 closed

[2019-11-06 16:50] gsfreema opened #777 "Use wchar_t instead of const wchar_t* when appending a single character to wstrings"
**Problem Statement**
Calculator has many instances where it builds strings a single character at a time.  However, there are many instances where that single character is appended using a `const char*` which is not as efficient as appending just a `char` since using a `const char*` assumes there could be 0 or more characters where using a `char` will always be a single character.

**Evidence or U

[2019-11-06 20:07] #775 closed

[2019-11-06 22:52] rudyhuyn opened #780 "StandardCalculatorViewModel should use "Command" instead of int to represent commands."
**Describe the bug**

_Following a discussion in #776_

Many methods in StandardCalculatorViewModel use `int` to represent a command:
[code]

This force us to cast Command to int before calling these methods and then cast back the int value to Command in these methods.

**Requested Assignment**
If possible, I would like to fix this.

[2019-11-06 23:31] #751 closed

[2019-11-06 23:45] #780 closed

[2019-11-07 01:55] rudyhuyn opened #783 "Refactor HistoryTest.cpp to use HistoryViewModel (from CalcViewModel) instead of CalculatorHistory (from CalcManager)"
**Describe the bug**

All our unit tests related to the History function use `CalculatorHistory` while we should use HistoryViewModel to also detect bugs and regressions in our view models (some difference between the 2, the order is different for example). This modification will bring our unit tests closer to how we actually manage the history in the Calculator project.

**Requested Assignment**

[2019-11-09 19:04] Tadaboody commented on #58
Got a bit intimidated after playing around with the code and didn't get around to implementing it - it's open if anyone else wants to tackle it

[2019-11-11 17:23] #777 closed

[2019-11-11 18:51] benstevens48 opened #789 "Missing Frame.NavigationFailed event"
I was trying to use your activation code as a way to check that I'm handling multi-view activation correctly in my own app. I notice that you check the return value of Frame.Navigate and throw if false. However, according to the docs - https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.frame.navigate#Windows_UI_Xaml_Controls_Frame_Navigate_Windows_UI_Xaml_Interop_TypeName_System_Obj

[2019-11-12 00:23] #749 closed

[2019-11-12 02:44] sgreen00 commented on #763
@grochocki what can I do to move forward with this? It really makes the most sense to have a toggle between Pi and Tau especially since this is such a small change. I hope that works for your roadmap but you hold the keys please let me know.

[2019-11-12 05:59] grochocki commented on #763
I have certainly learned _a lot_ about tau over the past week or so, but much of what I have learned can be summarized by this paragraph from [Wikipedia](https://en.wikipedia.org/wiki/Pi]).

That last sentence is key. Outside of the Tao Manifesto, which arguably lays out a reasonable case for using tau, there does not seem to be any widespread adoption in academia (e.g., textbooks, journal article

[2019-11-12 06:00] #763 closed

[2019-11-12 06:03] grochocki commented on #58
Ah, sorry to hear that @Tadaboody. Thanks for taking a look anyway. @Ahmed-Yossef, if you are still interested in trying this one out, it is yours.

[2019-11-12 06:14] grochocki commented on #774
Thanks for the detailed bug report! Focus behavior in converters is currently by design, but I agree with you that it feels a bit weird. There are actually a number of things that are not super intuitive about the interface we have for converters, which is why we have #594. I am going to close this as a duplicate of that issue.

[2019-11-12 06:14] #774 closed

[2019-11-12 10:02] MicrosoftIssueBot opened #792 "Date Calculator showing wrong result in some instances when only one field is changed"
The calculator app shows difference between yesterday and today as same

1. Open calculator and change to date calculation.
2. By default, From and To are populated to Today's date.
3. Change From to yesterday.

You will notice that the date difference is still "Same dates" which is incorrect. See screenshot. It looks like the bug repros when you change only one of the fields - either From or To.

[2019-11-13 18:58] Stefan-comkmits opened #795 "Kill the Calculator"
Remove this "Calculator" and add the Windows 7 Stile Calculator.

[2019-11-13 19:07] grochocki commented on #795
See #105 and #164.

[2019-11-13 19:07] #795 closed

[2019-11-13 22:42] rudyhuyn opened #796 "CalcViewModel should only use one type to represent radix"
**Describe the bug**
CalcViewModel currently uses 3 different types to represent a radix: RADIX_TYPE (enum in CalcManager), NumberBase (enum class in CalcViewModel) and int.

Calculator and CalcViewModel should use only 1 type so we will limit the number of static_cast and makes our code more robust (this is why we should use NumberBase, an enum class, instead of RADIX_TYPE, a standard enum.

**Re

[2019-11-13 23:15] #765 closed

[2019-11-14 04:58] sgreen00 commented on #763
@grochocki understood, and thank you for your review.

[2019-11-14 07:21] rudyhuyn opened #798 "Many properties from StandardCalculatorViewModel should be read-only and can be declared using macros"
**Describe the bug**
Almost all properties of StandardCalcViewModel are read-write while most of them should be read-only. Similarly, `IsBinaryBitFlippingEnabled`, `IsAlwaysOnTop`, `TokenPosition`, `SelectedExpressionLastData`, `KeyPressed`, `IsOperandUpdatedUsingViewModel` and `IsOperandTextCompletelySelected` declarations can be replaced by macros like `OBSERVABLE_PROPERTY_R(W)` or `PROPERTY_R(W

[2019-11-14 15:09] #796 closed

[2019-11-14 16:08] #798 closed

[2019-11-14 18:46] MicrosoftIssueBot opened #800 "When text scaling is applied, text is not getting resized in Length Converter pane"
A team member will update this issue with more details soon.

[2019-11-14 18:46] MicrosoftIssueBot opened #801 "In Programmer calculator pane, text is not getting resized for "Hex,Dec,OCT,Bin" value text"
In Programmer calculator pane, text is not getting resized for "Hex,Dec,OCT,Bin" value text

**Repro steps**
1.Launch the calculator application from start menu.
2.Navigate to  menu navigation button present in left corner if the app and invoke it.
3.Now select the Programmer calculator  and invoke it.
4.Give some input value and observed the resulted Hex,Dec,OCT,Bin value text  size in Textscalin

[2019-11-14 19:58] HowardWolosky commented on #191
@chriiisss, I'm not experiencing this issue myself, nor have others that I've checked with.  I'm closing this out as not-repro.  Please let me know though if you're still experiencing this issue, and we can try to investigate further with you.

[2019-11-14 19:58] #191 closed

[2019-11-15 09:23] aykejriw commented on #792
@grochocki Hey, I tried what you referenced in last comment. But , for me it is working fine. Can you give some more clarity on this issue as it seems working fine for me?

[2019-11-16 19:05] KareemMAX commented on #801
I think the problem is that the fixed value `CaptionFontSize` is assigned to `ProgModeRadioButtonStyle` ThemeResource.

[2019-11-16 19:12] KareemMAX commented on #800
I think that is because `BodyTextBlockStyle` has a fixed font size.

![image](https://user-images.githubusercontent.com/16426366/68998040-cd9de000-08b5-11ea-86b8-a5fe4026aed0.png)

[2019-11-18 03:32] nissan18 opened #806 "Support basic interest rate calculations"
I was really surprised that there is no support for basic financial formulas in standard Windows calculator. I tried to look for any relevant Github issues but couldn't find any.

**Proposal**
Create a basic "compound interest rate calculator" with or without payments.

**Goals**
In a basic case, allow the user to compute one of principal/interest rate/term/total given the other three values.

**R

[2019-11-18 08:01] aykejriw commented on #806
@nissan18  I am interested to work on this issue

[2019-11-18 08:03] aykejriw commented on #753
@rudyhuyn  I would like to work on this issue

[2019-11-18 16:43] gsfreema opened #807 "RemoveUnwantedCharsFromString uses C-style API"
RemoveUnwantedCharsFromString accepts a `wchar_t*` and an `unsigned int` for size.  This type of API makes it easy for a developer to pass in a size that goes beyond the valid range of data pointed to by `wchar_t*` which has lead to security vulnerabilities in many applications over the years.

Ideally, this could be updated by using a `std::span<wchar_t>` but that feature won't officially be in u

[2019-11-18 20:54] gsfreema opened #809 "StandardCalculatorViewModel::UpdatecommandsInRecordingMode has typo"
The function StandardCalculatorViewModel::UpdatecommandsInRecordingMode is currently spelled with a lowercase `c` for `Commands`.

Some other things that could be refactored in this function is that it is creating a copy of the saved commands vector.  It also uses a raw for loop for iterating over those saved commands.

[2019-11-18 22:09] grochocki commented on #792
Yea, I originally had a hard time reproducing the problem myself. Try this (which seems to work for me):
1) Open Calculator, navigate to "Date Calculation" page, and then close the app (the app remembers the last mode you used and will launch into that mode)
2) Change "From" to yesterday.
3) Notice that the reported difference is still "Same dates", despite the answer being "1 day".
4) If you chan

[2019-11-18 22:13] grochocki commented on #800
Hmm, even when specifying a font style like this, the font _should_ scale with the system. I suspect that [IsTextScaleFactorEnabled](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.control.istextscalefactorenabled) might be set to ```false``` somewhere inappropriately (it is intended to be used for non-text, like icons).

[2019-11-18 22:13] grochocki commented on #801
Hmm, even when specifying a font style like this, the font _should_ scale with the system. I suspect that [IsTextScaleFactorEnabled](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.control.istextscalefactorenabled) might be set to ```false``` somewhere inappropriately (it is intended to be used for non-text, like icons).

[2019-11-19 03:02] #807 closed

[2019-11-19 15:08] #809 closed

[2019-11-19 17:53] gsfreema opened #811 "CalculatorManager::GetSavedCommands returns a copy of commands"
This could be changed to return a const reference to the underlying vector and remove an unnecessary copy for callers who only need a const references of the commands.  Callers who need a copy, can still use vector's copy constructor.

[2019-11-21 20:26] fjoshuajr opened #817 "Standard and Scientific modes allow multiple zeros to be prefixed"
**Describe the bug**

When using the standard or scientific mode, the calculator allows multiple zeros to be prefixed inside the input field.
While it doesn't change the calculation results, this is weird behavior.

**Steps To Reproduce**
1. Enable 'Standard' or 'Scientific' mode.
2. Click the decimal point '.'
3. Press the backspace key to remove the decimal point.
4. Press the zero key multiple

[2019-11-22 00:19] gsfreema opened #818 "HistoryViewModel::SaveHistory creates a copy of history item shared pointers"
Since history items are being stored in std::shared_ptr, this doesn't actually create copies of the items.  Instead, all of the shared_ptr reference counts have to be incremented and then upon destruction of the copied vector, they would all need to be decremented again.  This isn't terribly big deal, but given that shared_ptr reference counting is thread safe, it doesn't require those increments

[2019-11-22 02:01] grochocki commented on #817
Nice catch! Thanks for the detailed bug report.

[2019-11-22 05:50] #811 closed

[2019-11-22 07:29] rudyhuyn opened #820 "The History button is visible in Programmer mode when the window is small"
**Describe the bug**
The History button is visible in Programmer mode when the windows is small.

**Steps To Reproduce**
- Launch the Programmer mode
- Decrease the size of the window (if necessary)

**Expected behavior**
The button should not be visible

**Device and Application Information**
 - OS Build: 10.0.19013.0
 - Architecture: X64
 - Application Version: 10.1910.0.0
 - Region: en-US
 - De

[2019-11-22 10:07] fjoshuajr commented on #817
Cool. Actually, I would like to work on this if that's ok with you @grochocki — it's an opportunity for me to get my feet wet on a c++ codebase 😀

[2019-11-22 17:08] grochocki commented on #817
Of course! Thanks for taking a look.

[2019-11-22 17:57] gsfreema commented on #817
I looked at this a bit.  My guess is that the fix will be around here.
https://github.com/microsoft/calculator/blob/6e2b82c8bfebf94643c395d8cab7f6bbc9cb2db7/src/CalcManager/CEngine/CalcInput.cpp#L240
When you press `0`, it checks the `CalcNumSec::value` string to see if it is empty or not.  Right now, when you press `.` when there is a `0` in the calculator, that string becomes `0.`.  The code lin

[2019-11-23 00:22] #820 closed

[2019-11-23 11:38] auditt98 opened #824 "Default calculator mode"
The other day I was trying to calculate some decimal points number with the app and figured out the standard mode doesn't have prioritization of operators like scientific mode. Most of the calculators out there by default support operator prioritization ( 5 - 5 * 2 should evaluate to (-5) instead of 0).

**Proposal**

Change the default mode of calculation to scientific or change the way standard

[2019-11-24 03:36] JL2210 commented on #130
It's highly unlikely this will be able to compile on GNU/Linux without something like Winelib.

[2019-11-24 21:42] mdtauk commented on #130
This app has a dependency on UWP, Windows 10, and WinUI - so is not currently compatible with Linux.

[2019-11-25 18:45] grochocki commented on #824
Thanks for your contribution! I think your two proposals are covered by other issues, but let me know if you had something else in mind.

The current behavior is that we open up the last mode that you had open, but adding setting to allow user to change default launch behavior is covered by #486.

Standard Mode behaves like a basic pocket calculator and operates in "immediate execution mode" where

[2019-11-25 21:12] gsfreema opened #828 "CCalcEngine::s_engineStrings uses wstring for keys when it could use wstring_view"
All of the keys for CCalcEngine::s_engineStrings come from string views that point to string literals in EngineStrings.h.  These string literals will be in memory for the life of the program so it should be safe to have CCalcEngine::s_engineStrings use wstring_view for its keys.  This will take up less memory and make loading the engine strings faster since it would no longer need to create new ws

[2019-11-28 01:19] mdrejhon commented on #299
What version of Windows 10 update will include this change?

Curious mind inquiring how such changes flow upstream.

[2019-11-30 07:54] nutix56 opened #835 "add a validated dynamic type"
some times,
we need dynamic parameter, and we want it has some properties
shall we do like this
        private void ParameterPlus(params dynamic<string Name, int Value, string Text>[] items)
        {

        }

**Evidence or User Insights**

**Proposal**

**Goals**

**Non-Goals**

**Low-Fidelity Concept**

**Requested Assignment**

If possible, I would like to implement this.
I'm just suggestin

[2019-11-30 08:32] #835 closed

[2019-12-01 16:59] #828 closed

[2019-12-01 17:02] #818 closed

[2019-12-02 01:56] #824 closed

[2019-12-03 07:19] grochocki commented on #789
/cc @rudyhuyn

[2019-12-03 07:25] grochocki commented on #299
Typically, changes made in month _N_ are released in month _N+1_. So this was merged in September, so it would ideally ship as a Store update as part of our 1909 release in October.

@volkcor Did this make the 1909 release?

[2019-12-03 16:10] volkcor commented on #299
@grochocki this would've been in the 1909 and 1910 releases, and 1910 is about to make it to Retail this wee but is available in the WIP flight rings.

[2019-12-05 17:36] gsfreema opened #849 "LocalizationSettings.h could use code clean up and unit tests"
- LocalizationSettings.h doesn't currently have unit tests.
- There are many instances where an algorithm such as find or copy can be used instead of manual implementations.
- m_resolvedName can be changed to be a Platform::String to prevent the need to create a new one each time GetLocaleName is called.
- GetDecimalSeparatorStr and GetNumberGroupingSeparatorStr could be made more efficient by usi

[2019-12-05 23:17] tom8210 opened #851 "Inconsistent operand order for logarithm to base x"
- Behavior of logarithm to base x
The first operand entered (or previous result) is the base, the second operator is the anti-logarithm (i.e. the number of which the logarithm is calculated).
e.g.: "16   base log   2" yields 0.25 instead of the expected value 4.

- Behavior of similar operators
For exponentiation (x<sup>y</sup>) the first operand is the base and the second operand is the exponent.

[2019-12-09 22:04] 0ffffffffh commented on #504
This bug exists because the hex/dec/oct/bin value copy has it's own copy method. And that method copies whole content on it. Including left to right mark etc. For example, each value format control made by the RadixButton which is derived from a RadioButton. For example hex section.

![calcbug1](https://user-images.githubusercontent.com/437161/70476102-13ca1600-1ae7-11ea-8f6c-fcd622ff834a.png)

He

[2019-12-10 03:28] #849 closed

[2019-12-10 15:36] gsfreema opened #857 "CalculatorManager has unused and untested static Serialize/Deserialize functions"
**Describe the change request**
It appears as if CalculatorManager still contains unused serialization code similar to those described in #370.

If this is intentional due to code outside of the git repo using the serialization code, feel free to close this issue.

**Potentially unused functions**
- CalculatorManager::SerializeRational
- CalculatorManager::DeSerializeRational
- CalculatorManager::

[2019-12-10 21:07] grochocki commented on #504
Yes, we need to inject to ensure they are displayed properly around the world, but ideally, they are not included on copy. Are you suggesting this is a result of how we handle copy?

/cc @joseartrivera

[2019-12-10 22:07] 0ffffffffh commented on #504
yes I do. you are doing that because you want the values to be displayed correctly on the right to left scripting languages such as arabic or hebrew right? but my localization setting was not set for one of them. so I don't need the left to right override mark on the clipboard. everytime I paste the value from the calculator to a coding editor which is working on ASCII charset such as Visual studi

[2019-12-10 22:32] #857 closed

[2019-12-10 23:18] grochocki commented on #504
Yep, exactly. They need to be retained for display, but I agree that we should remove those marks on copy. I know this is currently assigned to @joseartrivera, but if you are you interested in making a change to address this, I imagine he would be open to that.

[2019-12-11 13:07] milos321 opened #860 "Pressing enter in scientific mode opens navigation instead of displaying the result"
In scientific mode, after pressing the Enter button, navigation menu opens instead of displaying the result.

**Steps To Reproduce**

1. Go to Scientific mode.
2. Click on C.
3. Enter 2+2 on keyboard.
4. Press Enter on keyboard.

**Expected behavior**
Result is displayed.

**Actual behavior**
Navigation menu is opened.

**Device and Application Information**
 - OS Build: 10.0.17134.0
 - Architectu

[2019-12-12 12:55] 0ffffffffh commented on #504
I don't know the design approaches you're considering when you solving/fixing a bug or implementing a feature but i want to share my thoughts for this issue.

First, I'm curious about why you were injecting the direction marks without checking the RTL status of the system's active language? I have seen that you had done such a thing before. For example

https://github.com/microsoft/calculator/blob

[2019-12-12 22:42] grochocki commented on #504
I chatted with someone who had more context on what we are doing here, and they could not think of a reason we should not do what you are suggesting here and conditionally add the characters in RTL only.

That reduces the number of impacted users, but still does not get around copying in RTL, so we would still need to do _something_ in ```CopyToClipboard```.

[2019-12-13 16:46] yatli commented on #157
After tolerating it for long enough, with no awareness of the new keys (IIRC, in the old calc.exe it was CTRL+1 .. CTRL+4), I finally landed here.

Glad it's already implemented.

I still prefer CTRL+1...CTRL+4 though. :)

[2019-12-14 07:07] mika76 opened #870 "Currency converter - add a swap currency button/link"
**Problem Statement**
Most users will use the same 2 currencies in their calculations, but the direction will change. It would be much easier to just swap the currencies than to have to pick them out of a list.

**Evidence or User Insights**
Well in a lot of European countries we deal with different currencies and swapping between them is common. But you're either receiving or paying, usually the

[2019-12-14 07:32] rudyhuyn commented on #870
Hi Mika76! A similar feature already exists in the Calculator, although I have to admit that it is not easy to find.

If you click on the second unit:
![image](https://user-images.githubusercontent.com/1226538/70845068-18504080-1dff-11ea-81e5-c14e4d0275e0.png)

The conversion will be done from this unit to the first one:

![image](https://user-images.githubusercontent.com/1226538/70845072-33bb4b80

[2019-12-14 07:37] mika76 commented on #870
🤦‍♂ I can't believe I missed that! Thanks a million. So the functionality is pretty much there, just a little hidden. It works great so I'm happy to close this. Thanks for the help.

[2019-12-14 07:37] #870 closed

[2019-12-14 14:09] TheCoderAS opened #871 "Scientific notation"
**Problem Statement**

**Evidence or User Insights**

**Proposal**

**Goals**

**Non-Goals**

**Low-Fidelity Concept**

**Requested Assignment**

If possible, I would like to implement this.
I'm just suggesting this idea.  I don't want to implement it.

[2019-12-14 21:50] Zitchas opened #872 "Request: Have an option to open the conversion panel on the side"
**Problem Statement**
- Doing a multiple conversions than using those in calculations requires switching back and forth between "calculator mode" and "conversion mode." This wastes a lot of time, especially when one needs to frequently do calculations using mixed units.

For instance, regularly working in feet+inches while needing to do calculations with metric formulae.

**Evidence or User Insigh

[2019-12-14 22:43] SpriteOvO commented on #860
This problem also occurs in Programmer Mode.

When you use MOUSE to enter numbers and press ENTER, it will display the result correctly.
But when you use KEYBOARD to enter numbers and press ENTER, it will open the navigation menu.

Please fix it as soon as possible! It is bothering most programmers.
Thank you guys!

[2019-12-15 02:04] LucAce opened #873 "Promote Bitwise Operations in Programmer Mode"
**Problem Statement**

In Programmer mode, the bitwise operations have all been moved under the "Bitwise" flyout.  This doubles the number of clicks and introduces more mouse movement to perform the same operation when compared to previous versions.  In addition, the likely seldom used percent operation remains as a first class operation and the MOD operation was removed entirely.  The AND, OR and

[2019-12-15 04:39] grochocki commented on #851
Good catch! We want to be consistent with other operators. With log<sub>y</sub>(x), the first operand should be x, and the second y, but it is currently flipped, as you describe.

[2019-12-15 04:43] grochocki commented on #871
@Aalok766626 - thanks for the contribution, but can you add some more details about what you are proposing here? We already support scientific notation. This is automatic when numbers get too big or too small in Standard and Scientific modes, but there is also a way change this option manually as well:

![image](https://user-images.githubusercontent.com/1414423/70858208-6c682d00-1eb2-11ea-8183-b6c

[2019-12-15 04:51] grochocki commented on #860
Thanks for the detailed bug report! Unfortunately, I am not able to reproduce the problem (i.e., navigation menu does _not open_ when I hit ENTER). The steps to reproduce seem straightforward enough, but perhaps there is something minor that was left out that could help here?

The intended behavior is that when you enter any mode, focus moves to the display area explicitly to _prevent_ enter from

[2019-12-15 05:11] grochocki commented on #873
Thanks for the detailed pitch, @LucAce! It looks like there are two ideas here:

**(1) Revisit mod/% behavior in Programmer mode**
The MOD operation is still supported! We updated the keyboard in Programmer mode to reflect how MOD is more typically referred to in programming languages (i.e., '%'). We made this tweak when we were updating the MOD behavior to align with expected programmer functiona

[2019-12-15 11:58] milos321 commented on #860
No, nothing was left out. Did you click on C using mouse?
I visualized the focus, and it seems that the focus shifts to navigation menu after the C button label changes to CE when I start typing on keyboard.
Here are some steps:
1. Click on C. Use arrow keys to verify that the focus was on C, and then use arrow keys to get the focus back to C.
2. Enter a number using keyboard. The label will chang

[2019-12-15 15:57] SpriteOvO commented on #860
![bug](https://user-images.githubusercontent.com/33660554/70865288-ab6fae80-1f96-11ea-9643-6c61635d6a05.gif)

[2019-12-16 10:53] surajkulriya commented on #806
@nissan18  i think i am interested to work on this issue.

[2019-12-16 15:50] surajkulriya commented on #699
sir, i want to fix this issue but since i am a beginner so can please anybody tell me what can i do to fix this.

[2019-12-17 12:00] #789 closed

[2019-12-17 15:35] gsfreema opened #874 "UnitConverter has many instances where code can be simiplified ore made more efficient"
- Some raw loops could be made to be range-for loops.
- wstringstream is often used for building a string which has lots of overhead compared to appending to a wstring.
- Some functions take a `wstring` or `const wchar_t*` where a `wstring_view` would be more appropriate.
  - `wstring_view` does not require constructing a string if a `const wchar_t*` is passed in.
  - `wstring_view` is constexpr c

[2019-12-17 19:45] gsfreema opened #876 "Dereferencing nullptr possible in StringToNumber"
**Describe the bug**
If the the number of digits is 0, then the returned number is nulled out.  Then it is passed to `stripzeroesnum` where a non-null value is expected to be passed in and the value is dereferenced.

**Requested Assignment**
If possible, I would like to fix this.

**Issue located here**
https://github.com/microsoft/calculator/blob/b6f9634e346e746517792367d8065d06d3900e82/src/CalcM

[2019-12-18 09:19] #874 closed

[2019-12-18 10:02] #876 closed

[2019-12-18 21:12] gsfreema opened #880 "Added overhead of using wstringstream when wstring would work"
Throughout the codebase, wstringstream is often used for building a result string.  This is useful if you're trying to do special formatting/localization, but most of the use cases are simply building strings by appending characters or other strings so no special formatting/localization is happening.  Unlike Platform::String, wstring is mutable and will grow its internal array as needed.  This wou

[2019-12-19 09:50] #880 closed

[2019-12-19 14:50] gsfreema opened #883 "Potential buffer overrun in CCalcEngine::DigitGroupingStringToGroupingVector"
**Describe the bug**
CCalcEngine::DigitGroupingStringToGroupingVector takes in a wstring_view and then iterates over its characters until it reaches a null terminating character.  The problem is that wstring_view isn't guaranteed to have a null terminating character within the range that the wstring_view is supposed to represent.

https://github.com/microsoft/calculator/blob/a21b4a2d1a2e57e8c2807e

[2019-12-20 23:54] Semogj opened #887 "Inconsistency of precedence of operators between Standard and Scientific"
**Describe the bug**
There is an inconsistency of precedence between the standard and scientific view and may be prone to errors. I understand that the standard version are tryin to mimic a small portable table calculator, but the behavior may be considered inconsistent in terms o UX.
Please refer to the screenshot.

**Steps To Reproduce**
Calculate 3 * 164 + 6 * 137 in standard mode and in scient

[2019-12-21 03:35] rudyhuyn commented on #887
Hi Semogi,

Standard Mode behaves like a basic pocket calculator and operates in "immediate execution mode" where the order of operations is 100% based on the order that you input expressions. We understand the way we display these expressions in history can be confusing, though, and we are looking to improve the clarity of operations via #138. Feel free to contribute and suggest ideas to clarify

[2019-12-21 14:49] Evilrabbit520 opened #888 "new function"
Dear developer: When will the Microsoft calculator come out with a conversion function similar to the base conversion that is convenient for developers, I really hope that this function will be online, so that I do n’t have to go online to convert, saving a lot of time!

[2019-12-21 18:08] p0358 opened #889 "Move over current number when changing calculator modes"
**Problem Statement**

The problem is that if a user switches calculator mode, they are always greeted with "0". Whatever number they had entered in other modes, for example programmer, won't carry over if they switch to for instance basic mode. It is a major bummer, because user needs to copy/remember the number each time.

**Evidence or User Insights**

I do a lot of calculations using Microsoft

[2019-12-21 18:14] p0358 commented on #114
Worst case scenario, until rounding strategy is decided, it could just move all round numbers over (including all numbers from programmer mode to any other) and just don't move over values with commas. This would still be much better than not moving over any values at all!

And imo truncate approach would be the best there, and the most expected in most cases. Or if people are uncertain, it could

[2019-12-23 17:24] grochocki commented on #888
Hey @Evilrabbit520, can you clarify your feature idea a bit more? We already support base conversion for common bases in programmer mode. Is this what you were thinking of?

![image](https://user-images.githubusercontent.com/1414423/71371430-bf0eac80-2576-11ea-96b2-34ed906d546c.png)

[2019-12-23 17:27] grochocki commented on #889
Thanks for the detailed pitch, @p0358! This appears to be a duplicate of #114, which was already approved, pending figuring out some details around rounding. If you agree, I'd like to close this issue and continue the conversation in #114. Thoughts?

[2019-12-23 17:30] Evilrabbit520 commented on #888
Oh my gosh, sorry, I didn't notice that there is a menu list at the top left of the computer software. I'm sorry to disturb your normal schedule and interview. Thank you very much. At the same time, I am trying to learn C ++ and C # , Hope to contribute to open source projects, thank you!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Dave Grochocki"<notifications@github.com&gt;;

[2019-12-23 17:30] p0358 commented on #889
@grochocki Yes, it is fine. I haven't seen the other issue before creating this one. And I would love to see this implemented soon

[2019-12-24 11:49] karthigces opened #891 "Change Number Pad to Other Symbols"
**Problem Statement**
Hi all, is there any possibility to change number pad values in microsoft windows calculator. i need exact file name either XAML or CPP in src folder.

[2019-12-26 20:44] rico-et22 opened #892 "First numbers of a long calculation result in "Keep on top" mode are hidden"
**Describe the bug**

When making a calculation with long result in "Keep on Top" mode, the first few numbers of it are hidden and can't be revealed with the "scroll back" button as it's disabled.
To reveal these first numbers you have to scroll the result to the right and then to the left, which is annoying.
**Steps To Reproduce**

1. Open Calculator and activate the "Keep on top" mode
2. Make a

[2019-12-26 23:32] PaulDotNet opened #893 "Rewrite or have a parallel calculator project in C#"
Calculator is a great project for developers starting with UWP. However, it is implemented in C++ with managed extensions which I would consider rather a niche language with a niche features in a niche area of UI development. It is a niche within a niche within a niche.

I know C++ but would never consider this language for UI development. This ship has sailed around year 2000. On the other hand i

[2019-12-27 11:19] arshbeerSingh commented on #892
Can I attempt to solve this?

[2019-12-28 17:44] Semogj commented on #887
Thanks @rudyhuyn, I will contribute to #138 and close this issue to avoid duplication. :)

[2019-12-28 17:44] #887 closed

[2019-12-29 16:09] #888 closed

[2020-01-01 18:16] buddhikac96 commented on #860
Is there any workaround that we can reproduce the error, even we didn't have the version that mention in the Issue. My application version is 10.1905.28.0 and its seems working properly.

[2020-01-01 21:03] milos321 commented on #860
Not that I know of. Also, I don't think that the application version is the problem. I have a friend who also has the 10.1910.0.0 version and he can't reproduce the issue. His OS build is different though.

However, when he executed the following steps:
1. Click on C. Use arrow keys to verify that the focus was on C, and then use arrow keys to get the focus back to C.
2. Enter a number using keybo

[2020-01-01 21:08] milos321 commented on #860
Actually, perhaps the application version is the problem, i.e. the problem never reproduces with other versions, but is not sufficient to have that application version in order to reproduce the issue. Something else is also necessary, and I don't know what.

[2020-01-01 22:31] SpriteOvO commented on #860
BTW, I also use the OS version 17134.1130

[2020-01-01 22:35] SpriteOvO commented on #860
BTW, I also use the OS version 17134.1130

[2020-01-03 09:36] dovisutu opened #894 "Change the build year in Aboutflyout"
It's 2020 now, and according to #320 the `BUILD_YEAR` remains 2019.
Although none of the pending PR is merged until now, it's better to let the `BUILD_YEAR` be 2020 now so we don't need to force someone to change it in an unrelated PR.
*possibly we can have an automatic script that changes this macro to next year every Jan. 1st, but manually change it is also OK.*

**Requested Assignment**
If poss

[2020-01-03 09:42] rudyhuyn commented on #894
Hi @dovisutu, this is something we should definitely do! Feel free to submit a PR!

[2020-01-03 10:21] #817 closed

[2020-01-03 10:21] #894 closed

[2020-01-03 15:30] gsfreema commented on #800
Many of the TextBlocks in question are located in this xaml file.
https://github.com/gsfreema/calculator/blob/master/src/Calculator/Views/SupplementaryResults.xaml
They currently have IsTextScaleFactorEnabled set to false, but the history for that goes back before the initial transition to GitHub.  It does appear that setting them to true causes the text to scale, but it is unclear as to why they

[2020-01-03 22:47] joseartrivera commented on #860
I can't repro the original bug, but I do repro focus moving to backspace. I agree that focus should stay on c/ce, which may also fix the original bug.

[2020-01-06 09:29] #889 closed

[2020-01-06 09:31] grochocki commented on #891
@karthigces Can you clarify a bit what you are looking to do here?

[2020-01-06 09:35] grochocki commented on #888
@Evilrabbit520 No problem, thanks for your contribution! Check out our contributing documentation to [find issues you can help out with](https://github.com/microsoft/calculator/blob/master/CONTRIBUTING.md#finding-issues-you-can-help-with)!

[2020-01-06 09:39] grochocki commented on #892
Thanks for the detailed bug report, @arshbeerSingh! This looks like a dupe of #648, which makes always-on-top match regular calculator modes in regards to displaying output. If you agree, I'd like to close this issue, but you are welcome to take on #648, if you are still interested! Thoughts?

[2020-01-06 09:41] grochocki commented on #800
Sometimes, you _want_ to set IsTextScaleFactorEnabled to false (e.g., when text is sufficiently large already, having it scale can cause severe layout issues). I am not sure why it is set on so many TextBlocks, but we should selectively remove that property from TextBlocks that we want to scale.

[2020-01-06 12:02] rico-et22 commented on #892
Sorry but you've probably made a mistake, I wrote the initial message & the bug report, @arshbeerSingh just asked if he could try to fix it.
If this is a dupe of a known issue you can close this one.

[2020-01-06 21:44] #883 closed

[2020-01-06 22:36] #747 closed

[2020-01-06 23:21] #699 closed

[2020-01-07 05:27] grayroom opened #901 "Window size change unintentionally"
Hello, I am a user who is using Windows in South Korea. I'd like to let you know about this because I found a bug while using the calculator.

First of all, I use 4K monitor as a 200% scale main monitor and FHD monitor as a 100%.

Below are the situations in which bugs occur:
1. Place the Calculator window on the sub-monitor and make sure that the aero-peak (this name may not be correct) occupies

[2020-01-07 05:47] grochocki commented on #892
Oop! Right you are, @rico-et22. Thanks!

[2020-01-07 05:47] #892 closed

[2020-01-07 06:03] grochocki commented on #901
Thanks for the detailed report! Do you see this with other apps (e.g., Movies & TV) or just Calculator?

[2020-01-07 06:03] grayroom commented on #901
I found that bug only for default Calcultor program...

[2020-01-07 20:51] rustylikeafox commented on #860
I can replicate this issue on a machine running Win10 1803 (10.0.17134.1069) but cannot replicate on a 1903 (10.0.18362.30) machine.  Both have the same version of the calculator.  Upgrading my users as a fix for now.

[2020-01-07 21:59] #753 closed

[2020-01-07 22:56] #338 closed

[2020-01-07 23:22] joseartrivera opened #905 "Graphing mode crashes when large numbers are used in the graph settings"
**Describe the bug**
Graphing mode crashes when large numbers are used in the graph settings

**Steps To Reproduce**
1. Go to graph mode
2. Put in large numbers for graph settings
3. Hover over a graphed line
4. Crashes

**Expected behavior**
Crash does not happen

**Requested Assignment**
If possible, I would like to fix this.

[2020-01-07 23:32] sanderl opened #906 "Fix UI Issues in Graphing Mode"
Fix the UI issues identified in the UX Review:
- Graph Options button and flyout should be theme aware
- Active Tracing:
    - Fill in cursor
    - Update the cursor to be a path instead of a font icon
    - Change cursor color to black
- Add Ctrl+0 shortcut key for zoom reset
- "Preview" badge
- When navigating to Graphing mode using keyboard shortcuts, focus should land on:
     - Large layout:

[2020-01-08 23:06] #905 closed

[2020-01-08 23:29] InstyleVII opened #911 "History pane in Standard mode doesn't respect order of operations"
**Describe the bug**

The history pane can be misleading while using the Standard view on the calculator, specifically when it comes to chained operations such as 5+5x5. The calculator handles this in Standard by doing 5+5, then 10x5 to get a result of 50. However if this is done in one series the history view will display this as 5+5x5=50 which is incorrect. Instead the history pane should either

[2020-01-08 23:49] rudyhuyn opened #913 "Function symbols aren' t correctly formatted with RtoL languages"
**Describe the bug**
![image](https://user-images.githubusercontent.com/1226538/72025822-3195b280-322e-11ea-96f9-006f594699cd.png)

**Steps To Reproduce**
- Change the language of the device to a RtoL language
- Launch the graph calculator

**Expected behavior**
Numbers should be on the right side of the `ƒ' character

**Device and Application Information**
 - OS Build: 10.0.19536.0
 - Architectur

[2020-01-09 16:54] grochocki commented on #911
Thanks for submitting this! It looks like it is a duplicate of #138. If you agree, I'd like to close this issue as a duplicate of that one and continue the conversation there. #138 has already been approved, so if you would like to help fix this, we would welcome your contribution!

[2020-01-09 19:31] MicrosoftIssueBot opened #919 "Graphing Calculator can still be accessed on desktop after disabling it via Group Policy and/or InTune policy"
A team member will update this issue with more details soon.

[2020-01-09 21:29] InstyleVII commented on #911
Yeah that issue covers it, sorry for the dupe I must have missed it when I searched before filing.

[2020-01-09 21:33] #913 closed

[2020-01-09 22:02] #911 closed

[2020-01-10 23:48] #919 closed

[2020-01-13 09:47] jingkecn commented on #24
Maybe you would be interested in this: https://github.com/jingkecn/interactive-math-pad-android

[2020-01-14 20:43] sanderl opened #933 "Update builds to only run highest priority UI tests only."
**Describe the bug**

Currently all the UI tests are run as part of the CI builds. With new UI tests coming online, only the highest priority and most reliable tests should be run as part of the CI builds. The remaining tests can be run locally and during monthly test passes.

[2020-01-15 01:32] grochocki opened #935 "Update Scientific and Graphing keyboard layouts to expose square root button at the top level"
**Problem Statement**
When we refreshed the keyboard, we made a change to the layout of "2nd" operations in Scientific mode to make the behavior more consistent (i.e., where possible, "2nd" exposes the "inverse" operation). However, this made the square root button harder to find.

![image](https://user-images.githubusercontent.com/1414423/72396854-e0d0fe80-36f2-11ea-8f54-8b2447050394.png)

**Evid

[2020-01-16 20:31] MicrosoftIssueBot opened #937 "Graphing Calculator can still be accessed on Windows 10X after disabling it via InTune policy"
**Repro Steps**
1. Set up an InTune group, profile, policy, and assign the policy to the profile
2. In the "Add work or school" user settings, add the profile created in step 1 with the InTune policy applied
3. Launch calculator with graphing mode
4. Try to access graphing mode

**Observed Results**
Graphing calc can still be accessed on Windows 10X

**Expected Results**
Graphing calc option is gr

[2020-01-17 00:59] mcooley opened #939 "Calculator startup time increased by 40ms after version 1906"
Calculator version 10.1906.51.0 starts up about 40ms faster than more recent versions.

The main reason for this regression is that 1906 uses WinUI version 2.0, while later versions use WinUI 2.1 or 2.2. This is convenient to verify because [the last commit in the 1906 branch](https://github.com/microsoft/calculator/commits/servicing/1906) switches to WinUI 2.0 instead of 2.1.

### How to measure

[2020-01-17 15:06] dovisutu opened #941 "Glitch can occur when scrool the answer of some specific calculation to right in AoT"
**Describe the bug**
Sometimes, glitch can occur in always-on-top mode in a specific window size after calculating an specific equation then scrool to right, namely the result shakes like stucked and the cpu usage goes up.

**Steps To Reproduce**
*One possible way which I'm able to reproduce it locally, possibly more cases*
1. Go to `Always-on-Top` mode
2. Resize the window to minimum
3. Enter exp

[2020-01-17 16:43] matthew4850 opened #942 "Add ability to plot polar curves"
**Problem Statement**
The graphing mode is not able to plot polar curves in the form r=f(θ)

**Goals**
Allow users to input an equation in the form r=f(θ)

**Non-Goals**
Spherical coordinates

**Requested Assignment**
I'm just suggesting this idea.  I don't want to implement it.

[2020-01-17 16:48] theuserbl opened #943 "3D surface drawing in graphical calculator"
As addition to the graphical mode
https://github.com/microsoft/calculator/issues/338
https://blogs.windows.com/windowsexperience/2020/01/16/announcing-windows-10-insider-preview-build-19546/
it would be nice, to have a 3D surface mode,

An example is NuCalc, which was part of Mac OS 7
https://en.wikipedia.org/wiki/NuCalc
http://www.pacifict.com/

[2020-01-17 17:01] matthew4850 opened #944 "Add 3d graphing mode"
**Problem Statement**
It would be nice to have a mode that allows the plotting of graphs in 3d that would allow for the plotting of lines in the form of f(x)=g(y)=h(z) as well as the plotting of two-variable functions such as z=f(x,y).

**Evidence or User Insights**
This would help with visualisation and understanding of the 3d coordinate system as well as multivariable functions.

**Goals**
Allow

[2020-01-17 17:08] matthew4850 opened #945 "Add mode for plotting the complex plane"
**Problem Statement**
Allow for the plotting of complex numbers and loci in an argand diagram

**Evidence or User Insights**
This would be greatly beneficial to students learning about complex numbers. This is part of the further maths syllabus for high school students in the UK, I am not sure about other countries.

**Goals**
Allow for plotting of complex numbers and loci in the form
- x+iy
- re^

[2020-01-17 17:13] matthew4850 opened #946 "Add support for plotting parametric equations"
**Problem Statement**
Add support to the new graphing mode to plot parametric equations.

**Goals**
Allow for plotting equations in the form x=f(t), y=g(t)

**Requested Assignment**
I'm just suggesting this idea.  I don't want to implement it.

[2020-01-17 17:29] joshkoon opened #947 "Narrator announces Graph mode/Equation mode toggle switch state twice after switching modes"
**Describe the bug**
When using Graphing mode with Narrator, Narrator announces the state of the graph/equation mode toggle switch twice after the switch is used to change modes.

**Steps To Reproduce**

1. Go to Graphing Mode
2. Ensure window is in the condensed form that shows either the graph or equations, but not both.
3. Turn on Narrator and navigate to the mode change toggle switch.
4. Activ

[2020-01-17 17:33] joshkoon opened #948 "In Graphing mode, the keypad cannot be reached via the Tab key"
**Describe the bug**
In Graphing mode, users cannot use the Tab key to navigate to the keypad.

**Steps To Reproduce**

1. Go to Graphing mode
2. Switch to Equation mode if the window is too small to show all controls.
3. Use the Tab key to move focus through the app.
4. Observe that the keypad cannot be reached via the Tab key.

**Expected behavior**
Keypad should be included in the tab stops for

[2020-01-17 17:41] joshkoon opened #949 "Equation show/hide buttons provide no context via Narrator as to which equation they affect"
**Describe the bug**
The equation show/hide buttons provide no additional context to Narrator to inform the user of which equation is affected, and the announced string for the buttons is misleading.

**Steps To Reproduce**

1. Go to the equation editor in Graphing mode.
2. Add an equation.
3. With Narrator on, navigate to the show/hide button.
4. Narrator reads, "[Show | Hide] button, [on | off].

[2020-01-17 17:46] joshkoon opened #950 "Graphing mode: Contents of equation is not read by Narrator."
**Describe the bug**
Using Narrator in Graphing mode, Narrator does not announce the contents of the equations.

**Steps To Reproduce**

1. Go to Graphing mode
2. Add an equation, e.g. "x + 2"
3. Navigate to the equation edit box with Narrator.
4. Narrator always reads, "Enter an equation, Edit", regardless of the contents of the edit box.

**Expected behavior**
Users should be able to have the co

[2020-01-17 17:54] joshkoon opened #951 "Graphing mode: Equation clear button cannot be accessed via keyboard"
**Describe the bug**
The clear button that appears on the equation edit box is not accessible via keyboard or with Narrator.

**Steps To Reproduce**

1. Go to Graphing mode
2. Add an equation, such as "x + 2"
3. Observe that while editing the equation, a Clear (X) button appears in the edit box.
4. Attempt to navigate to the button via the Tab key on keyboard, or via screen reader shortcuts with N

[2020-01-17 18:03] joshkoon opened #952 "Graphing mode: Values of Key Graph Features are not announced by Narrator"
**Describe the bug**
After using Analyze Equation, any Key Graph Features that have values are read by narrator as, "Edit, read-only"

**Steps To Reproduce**

1. Go to Graphing mode
2. Add an equation such as "x + 2"
3. Select "Analyze Equation" from hover buttons or context menu
4. With Narrator turned on, navigate through the list of key graph features using Capslock + left/right arrows
5. Obser

[2020-01-17 18:08] joshkoon opened #953 "With Narrator, Zoom in/out and Reset view buttons provide no feedback to user when pressed"
**Describe the bug**
The zoom and reset view buttons on the graph do not provide any feedback to the user when they are pressed.

**Steps To Reproduce**

1. Go to Graphing mode
2. Add an equation
3. With narrator on, navigate to the graph control's zoom buttons
4. Invoke the buttons.
5. Observe no feedback is provided to the user

**Expected behavior**
Narrator should provide feedback that the gra

[2020-01-17 18:11] joshkoon opened #954 "Graph control is a silent tab stop in Narrator"
**Describe the bug**
With Narrator on, navigating to the Graph control provides no announcement.

**Steps To Reproduce**

1. Go to Graphing mode with Narrator turned on.
2. Navigate to the Graph control
3. Observe that the control has focus, but the screen reader focus remains on the hamburger button and no announcement is made.

**Expected behavior**
Narrator should provide feedback to the user t

[2020-01-17 18:16] joshkoon opened #955 "Line color selection window does not provide item names to Narrator"
**Describe the bug**
When changing an equation style, the colors in the Line Color selection window are not read by Narrator.

**Steps To Reproduce**

1. Go to Graphing mode and add an equation
2. With Narrator on, open the Change Equation Style context menu item from the equation's context menu.
3. Navigate through the colors.
4. Observe Narrator reads out the index of the item in the list, but d

[2020-01-17 18:32] joshkoon opened #956 "Graphing mode: Attempting to invoke keypad buttons with Narrator does not work"
**Describe the bug**
With Narrator turned on, attempting to invoke buttons on the graphing mode keypad via Spacebar instead types a space into an equation.

**Steps To Reproduce**

1. Go to Graphing Mode.
2. Turn on Narrator.
3. Use Tab to navigate to the equations
4. Use Capslock + right/left arrow keys to navigate to the keypad.
Note: Navigating to keypad via Tab is blocked by Issue #948
5. With

[2020-01-17 18:49] joseartrivera opened #957 "Graphing mode crashes on some equations that contain errors"
**Describe the bug**
Graphing mode crashes on some equations that contain errors

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to graphing mode
2. Type sqrt(y)
3. See error, hover mouse over graph, see crash

**Expected behavior**
No crash

If possible, I would like to fix this.

[2020-01-18 00:57] tacticalmelonfarmer opened #959 "Graphing Mode equations with modulo '%' give 'domain error'"
**Describe the bug**
When i enter an equation with a modulo operation it provides no output and gives a domain error

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to 'equations panel'
2. Click on 'function input'
3. enter 'y=x%2'
4. See error

**Expected behavior**
expected to see a graph of remainders

[2020-01-18 04:19] #51 closed

[2020-01-20 06:28] yaichenbaum commented on #732
Its been some time since this issue has been addressed but I want to know if we can adjust the current tool tip on these buttons to include the shortcut in it? I think this will help improve discoverability.

[2020-01-21 10:09] grochocki commented on #935
We reviewed the pitch and would love to move forward with it. Since the idea is fairly straightforward and is entirely captured by the pitch, we can move this straight into production.

[2020-01-21 10:15] grochocki commented on #943
Thanks for your contribution! This looks like it might be a duplicate of #944. If you agree, I'd like to close this issue and continue the conversation there. Thoughts?

[2020-01-21 10:19] grochocki commented on #945
Thanks for the great suggestion! This is likely dependent on #613.

[2020-01-21 10:25] grochocki commented on #732
Hmm, this is definitely a bug. Can you create a new issue?

[2020-01-21 11:12] grochocki commented on #941
Thanks for the detailed bug report! I am unable to repro this issue myself, but we should leave this open for further investigation.

[2020-01-21 11:45] MicrosoftIssueBot opened #960 "In scan mode, focus navigates twice to "Function" button."
A team member will update this issue with more details soon.

[2020-01-21 11:45] MicrosoftIssueBot opened #961 "Focus order is incorrect inside "Bitwise" pop up after "NOT" button."
**Repro Steps**
1. Launch " Calculator " app.
2. Navigate to "Programmer" control in the navigation pane and activate it.
3. Navigate to 'Bitwise' button and press enter to activate it.
4. Navigate using tab key inside the pop up.

Observe the issue.

**Actual Result**
Focus order is incorrect inside the "Bitwise" pop up after "NOT" button. After
"NOT" button focus order is : "XOR" > "NAND" > "NOR

[2020-01-21 11:45] MicrosoftIssueBot opened #962 "Narrator is not announcing the confirmation after selecting radio button."
**Repro Steps**
1. Launch " Calculator " app.
2. Launch Narrator.
3. Navigate to "Programmer" control in the navigation pane and activate it.
4. Navigate to 'Bitshift' button and press enter to activate it. A pop up will get opened.
5. Navigate to and select any radio button.

Observe the issue.

**Actual Result**
Narrator is not announcing the confirmation after selecting radio button.

**Expecte

[2020-01-21 11:45] MicrosoftIssueBot opened #963 "In Scan/Item mode, screen reader focus navigates to background hidden element 'Not busy...' progress bar while navigating from 'Convert From...' text to 'Main' landmark"
A team member will update this issue with more details soon.

[2020-01-21 12:02] MicrosoftIssueBot opened #964 "Equation analysis does not recognize equations of the form "y=x", but works with just "x""
The new Graphing feature of the Calculator will render equations written in the form "y = x" but won't perform analysis on them. If the equation is written as simply "x" then both render and analysis works.

**Expected**
Analysis should work in both cases.

[2020-01-21 12:41] grochocki commented on #806
We really like this idea, but we also want to make sure we are considering other financial calculations beyond basic and compound interest (e.g., present value, future value, tip calculator, mortgages?, etc.). How might design a new mode that can cover a wide range of  calculations that fall in this financial bucket?

For example, maybe the solution here may be as simple as following a similar pat

[2020-01-21 12:49] grochocki commented on #872
Thanks for the detailed pitch! We recognize the problem you are describing, though we are curious if the solution might be a combination of other existing approved pitches.

* #594 looks to drastically simplify the converter interface so you do not need to constantly switch between different converter.
* #589 looks to make it easier to find and select units.
* #277 brings back insert from history.

[2020-01-21 13:03] grochocki commented on #893
Thanks for the submission, @PaulDotNet! To be honest, this is something we had already been discussing internally, but it is great to see that there is community interest in this as well. While we agree that migrating the codebase to C# would offers lots of benefits, porting is no trivial task, so we'll want to consider the pros and cons and make sure we have a plan that minimizes disruptions to t

[2020-01-21 13:24] Zitchas commented on #872
Those look like good pitches. #114 would reduce the pain somewhat, and the combination of #594 and #589 would definitely speed up the switching task-flow. That being said, none of them will actually solve the underlying problem of needing to switch back and forth between different modes.

My current workflow is currently to have the calc open on the converter page, and use a spreadsheet to do ever

[2020-01-21 13:35] grochocki commented on #872
Have you tried using multiple Calculator windows? Something like:

![image](https://user-images.githubusercontent.com/1414423/72808566-bf6f9580-3c51-11ea-8760-689798f5bcc6.png)

If that also doesn't work well for you, I would be interested in better understanding why to see if there is a creative solution here. Incorporating converters into another mode is not impossible, but it does increase the

[2020-01-21 13:43] Zitchas commented on #872
I have. It is a toss up between using multiple instances of Calc and using calc+spreadsheet. When I'm going from memory (in terms of the material I'm working on), this works quite nicely. When I have to include a step jumping to a reference document or three in the middle, I usually end up losing one of the two calc windows behind other documents. Hence my suggestion of having the conversions as a

[2020-01-21 13:44] mdtauk commented on #893
I think because this project originated within the Windows OS code base, and probably relies on code from the previous Win32 code - this is why it is as it is.

The team maintaining the project would be well versed in C++ but it does make it more difficult for others wishing to contribute.

If the core C++ project had an ability to "plug-in" C# modules, then adding new features becomes easier.  Bu

[2020-01-21 13:49] mdtauk commented on #872
Resizing the window will already put the conversion side by side with the keypad, so if there was some kind of setting to "pop-out" a second instance of the converter - it would still work.

[2020-01-21 14:10] grochocki commented on #872
Hmm, that reminds me of something else. In Standard/Scientific/Programmer modes, the keyboard is tightly coupled with the _one_ input field. This sidesteps some focus management issues that would arise if we had to handle multiple input fields. To work around this, we would need to enable free-from input via #620.

While converters today do have multiple input fields with the same style of keyboar

[2020-01-21 18:00] #891 closed

[2020-01-21 22:16] yaichenbaum opened #965 "Tooltip for the buttons to open and close compact overlay are not showing the keyboard accelerator"
**Describe the bug**
The buttons to open and close compact overlay have a tooltip that says "Keep on top", the tooltips should include the keyboard accelerator `alt + up` and `alt + down`

**Steps To Reproduce**
Hover over the buttons.

**Screenshots**
![image](https://user-images.githubusercontent.com/39923744/72847899-7596a780-3c71-11ea-81a6-cda75afaab6a.png)

**Device and Application Informatio

[2020-01-21 22:19] yaichenbaum commented on #732
Sure, see #965.

[2020-01-22 12:05] grochocki commented on #965
Thanks for the submission (and taking a look at this one)!

We generally do not localize keyboard shortcuts, because there are too many potential conflicts that might arise. Take a look at a couple other places where we have the shortcuts exposed in the tooltips and follow the same pattern, but let us know if you still run into any trouble.

[2020-01-22 14:57] bludev opened #966 "Graphing feature not available"
Hello!
I ran the source code on my PC (VS 2019 16.4.3, Windows 10 1909 18363.592 x64, Windows 10 SDK 10.1.18362.1) but I can't see the graphing feature, because the IsGraphingModeAvailable() function in Common/NavCategory.cpp returns always false.
What are the minimum requirements to test this functionality?

[2020-01-22 15:20] yaichenbaum commented on #965
@grochocki I assume I am going to add it to the resource files? If that is then case then do I add it to each resource file or is there a different process for this?

[2020-01-22 21:39] #957 closed

[2020-01-23 15:36] grochocki commented on #965
@joseartrivera Can you help @yaichenbaum get started here?

[2020-01-23 17:48] joseartrivera commented on #965
Sure! @yaichenbaum you only need to add your entry to the resource.resw file located in the en-us folder. We have a process internally that will handle adding it to the rest of the language resw files. You can take a look at the MemPlus button as an example. The name in the resw file will be "MemPlus.[using:Windows.UI.Xaml.Controls]ToolTipService.ToolTip".

[2020-01-23 17:49] yaichenbaum commented on #965
@joseartrivera Thank you, I already got it set up and working for en-us so I am going to go ahead and create a pull request.

[2020-01-24 14:37] Maxou44 opened #969 "Remove space when we copy/paste a number"
**Describe the bug**

When we copy the result of a calc, we got a number with space character between numbers (Eg: "2 365 596")

**Steps To Reproduce**

Steps to reproduce the behavior:
1. Calc 568 * 568 * 568
2. Copy the result
3. Clic on "C"
4. Paste the previous number
5. Invalid number ("Entrée non valide" on a French app)

**Expected behavior**
Remove spaces when we copy it.

**Device and App